{% extends "../../wrapper_template.html" %}

{% block h2title %}
  <h2 class="title"> 
    {% if data.updateType == 1 %}
      Add an
    {% elif data.updateType == 5 %}
      End an
    {% endif %}
    {{data.personalDetails[data.personalDetail].display | lower}}
  </h2>
{% endblock  %}

{% block content %}

{{ startLabel }}
{{ endLabel }}
{% set startLabel = data.personalDetail + 'Start' %}
{% set endLabel = data.personalDetail + 'End' %}

<div class="grid-row">
  
  <div class="column-one-half">
    
    <form method="get" action="check">
      
      {% if data.updateType == 1 %}
        <div class="form-group prepop">
          <label class="form-label" for={{startLabel}}>
            Start date
            <span class="form-hint">
              For example 31/8/197
            </span>
          </label>
          
          <input class="form-control box-one" id="assetFreezeStart" name={{startLabel}} type="text">
          
          <a class="populate-link-one">Use today's date</a>
        </div>
      {% endif %}
      
      {% if data.updateType == 5 %}
        <div class="form-group prepop">
          <label class="form-label" for={{endLabel}}>
            End date
            <span class="form-hint">
              For example 31/8/197
            </span>
          </label>

          <input class="form-control box-two" id="assetFreezeEnd" name={{endLabel}} type="text">

          <a class="populate-link-two">Use today's date</a>
        </div>
      {% endif %}
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    
    <p><a href="/account3/account">Cancel</a></p>
    
  </div>
  
</div>
{% endblock  %}
