<div name="Personal" id="Personal">
  
  <h2>Home Office details</h2>
  
  <div class="sl-primary-card sl-personal-details-card">

    <div class="personal-details">
            
      {# {% if data.citizen.pv == true or data.citizen.pvMember == true or data.citizen.pvPartner == true %}
        {% include "./potentially-violent.html" %}
        <hr class="light">
      {% endif %}
      
      {% if data.citizen.nifu == true %}
        {% include "./nifu.html" %}
        <hr class="light">
      {% endif %} #}
            
      {% include "./names.html" %}
      <hr class="light">
            
      {% include "./dob.html" %}
      <hr class="light">

      {% if data.citizen.dodValue != null or data.guardianRole == true %}
        {% include "./dod.html" %}
        <hr class="light">
      {% endif %}
      
      {% if data.citizen.disability != null %}
        {% include "./disability.html" %}
        <hr class="light">
      {% endif %}

      {% if data.citizen.additionalNeeds != null %}
        {% include "./needs.html" %}
        <hr class="light">
      {% endif %}

      {% include "./nino.html" %}
      <hr class="light">

      {% if data.guardianRole == true %}
        {% include "./creation.html" %}
        <hr class="light">
        {% include "./record-level.html" %}
        <hr class="light">
      {% endif %}

            
      {% include "./nationality.html" %}
      <hr class="light">
        
      {% include "./publicfunds.html" %}
      <hr class="light">
      
      {% include "./immigration.njk" %}
      <hr class="light">
      
      {% include "../modals/modals.html" %}

  </div>
    
</div>