<div class="grid-row">
  <div class="column-one-third">
    Nationality
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">{{data.citizen.nationality | capitalize}}</li>
      {# <li>
        <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
        <span class="sl-metadata sl-secondary-text-color">Verified</span>
      </li> #}
    </ul>  
  </div>
  <div class="column-one-third last-col">
    {# <ul class="edit-menu">
      {% if data.guardianRole %}
        <li>
          <a href="change_pd/?personalDetail=nationality">Change</a>
        </li>
      {% endif %}
      <li>        
        <a data-toggle="modal" data-target="#nationality_modal" class="under-link">View maintenance</a> 
      </li>
    </ul> #}
  </div>
</div>
