<details>
  <summary>
    <span class="summary">Show more personal details</span>
  </summary>
  
  <div class="personal-details">

    <hr class="light">
    {% include "./sex.html" %}
    <hr class="light">

    {% if data.citizen.genderPreGra != null or data.citizen.genderGra != null %}
      {% include "./gender.html" %}
      <hr class="light">
    {% endif %}


    {% for detailName, value in data.citizen %}

      {% if value != null %}
        {% if detailName == "indIndicator" %}
          {% include "./nationality-interest.html" %}
          <hr class="light">
        {% elif detailName == "preferredLanguage" %}
        <!-- include "./preferred-language.html"           
        <hr class="light">
        -->
        {% elif detailName == "spokenLanguage" %}
          {% include "./spoken-language.html" %}
          <hr class="light">
        {% elif detailName == "nationality" %}
          {% include "./nationality.html" %}
          <hr class="light">
        {% elif detailName == "publicFunds" %}
          {% include "./publicfunds.html" %}
          <hr class="light">
        {% elif detailName == "immigration" %}
          {% include "./immigration.njk" %}
          <hr class="light">
        {% elif detailName == "maritalStatus" %}
          {% include "./marital.html" %}
          <hr class="light">
        {% elif detailName == "idAtRisk" %}
          {% include "./risk.html" %}
          <hr class="light">
        {% elif detailName == "assetFreeze" %}
          {% include "./asset-freeze.html" %}
          <hr class="light">
        {% endif %}
      {% endif %}
    {% endfor %}
    
<!--

     Spoken language 
    {% if data.spokenLanguageUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>Spoken language</p>
        </div>
        <div class="column-one-third">
          <p class="strong">English</p>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
          </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}
-->
    
<!--
      {% include "./postoffice.html" %}
      <hr class="light">
-->
    {{counter}}
    {% set counter = 0 %}
    
    {% for detailName, item in data.personalDetails %}
      {% if item.show == false %}
        {% set counter = counter + 1 %}
      {% endif %}
    {% endfor %}
    
    {% if counter != 0 and data.canUpdate == true %}
      <div class="grid-row no-margin">
    <div class="column-one-third">
      <ul>
        &nbsp;
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li><a href="../update/person/add" class="under-link">Add personal details</a></li>
      </ul>
    </div>
  </div>
    {% endif %}
  </div>

</details>