<div class="grid-row">
  <div class="column-one-third">
    <p>Sex</p>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">
        {% if data.citizen.sex == "male" %}
          Male
        {% else %}
          Female
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="../history/sex-history" class="under-link">View history</a>
      </li>
      {% if data.citizen.gender.show != true and data.canUpdate == true %}
        <li>
          <a class="secondary-link" href="change_pd/?personalDetail=sex">Change</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>