<div id="negative-done">
  <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
  <h1>National Insurance number <br>not allocated</h1>
  <h3>The applicant has not been notified.</h3>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <h3 class="bold">Manually create an account</h3>
    <ul class="">
      <li style="margin-bottom:20px;"><a target="_blank"href="./application" class="under-link">View the application details</a> (in a new window)</li>
      <li> <a class="under-link" href="">Manually create an account</a> </li>
    </ul>
  </div>
</div>