<table class="table nino-table">
  <thead>
    <tr>
      <th scope="col">Data item</th>
      <th scope="col">Value on application</th>
      <th scope="col">Value in CIS</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td scope="row">First name</td>
     <td>Mateo	
     <td>Mateo Alto</td>
    </tr>
    <tr>
      <td scope="row">Last name</td>
      <td>Bangalter</td>
      <td>Bangalter</td>
    </tr>
    <tr>
      <td scope="row">Previous name</td>
      <td>Mateo	Smith</td>
      <td>-</td>
    </tr>
    <tr>
      <td scope="row">Previous name</td>
      <td>Mateo	Jones</td>
      <td>-</td>
    </tr>
  </tbody>
</table>