<table class="table nino-table">
  <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Value on application</th>
      <th scope="col">Value in CIS</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td scope="row">Current name</td>
     <td>{{data.currentNinoApplication.nameOneFirst}} {{data.currentNinoApplication.nameOneLast}}</td>
     <td>{{data.currentNinoApplication.nameOneFirst}} Smith</td>
    </tr>
    <tr>
      <td scope="row">Previous name</td>
      <td>{{data.currentNinoApplication.nameOneFirst}} Smith</td>
      <td>None</td>
    </tr>
  </tbody>
</table>