<table class="table nino-table">
  <thead>
    <tr>
      <th scope="col">Data item</th>
      <th scope="col">Value on application</th>
      <th scope="col">Value in CIS</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td scope="row">Nationality</td>
     <td>French	
     <td>French</td>
    </tr>
    <tr>
      <td scope="row">Mobile number</td>
      <td>07654 777 888</td>
      <td>07456 781 112</td>
    </tr>
    <tr>
      <td scope="row">Email address</td>
      <td>mateo@gmail.com</td>
      <td>-</td>
    </tr>
    <tr>
      <td scope="row">Previous name</td>
      <td>mateo@gmail.com</td>
      <td>-</td>
    </tr>
  </tbody>
</table>