<fieldset class="form-group">
  <label class="form-label" for="personalDetailValue">
    Notification type
    <span class="form-hint">
      For example start of benefit
    </span>
  </label>
  
  <select name="systemid" class="form-control" name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
    <option value="" selected="selected">Select benefit system </option>
    <option value="Start of benefit interest">Start of benefit interest</option>
    <option value="NIFU Interest – Record Updated">NIFU Interest – Record Updated</option>
    <option value="NIFU Start of Benefit Interest">NIFU Start of Benefit Interest</option>
    <option value="NIFU Changes to Address Data">NIFU Changes to Address Data</option>
    <option value="NIFU Notification of Date of Death">NIFU Notification of Date of Death</option>
    <option value="NIFU Removal of Date of Death">NIFU Removal of Date of Death</option>
    <option value="IND Start of Benefit Interest ">ND Start of Benefit Interest</option>
    <option value="IND Notification of Date of Death">IND Notification of Date of Death</option>
    <option value="IND Removal of Date of Death">IND Removal of Date of Death</option>
  </select>
</fieldset>


