
{% include "components/notifications/results-filter.njk" %}

<br>

<div id="search-results" class="grid-row">

  <div class="column-full">
    <div class="sl-primary-card" id="notifications">
      <h3 class="strong">Results</h3>
      <div class="options paging">
        <ul>
          <li>Page</li>
          <li><span class="strong">1</span></li>
          <li><a>2</a></li>
        </ul>
        <div class="print-link">
          <a href="">Print results</a>
        </div>
      </div>

      {% include "components/notifications/results.njk" %}

      <div class="options">
        <ul>
          <li><a id="select_link">Select all</a></li>
          <li><a id="un_link">Clear all</a></li>
        </ul>
      </div>
      <div class="form-group">
        <fieldset>
          <a href=""><button class="button" type="submit" id="processButton"  disabled="disabled">Mark as processed</button></a>
          <a href=""><button class="button" type="submit" id="unprocessButton" disabled="disabled">Mark as unprocessed</button></a>
        </fieldset>
      </div>

    </div>

  </div>

</div>