<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          <a class="link-back" onCLick="history.back()">Back</a>
          
          <h2 class="title">
                                    
            {% if data.updateType == 1 %}
              Add 
              {% if data.personalDetail == "immigration" or data.personalDetail == "nifu" or data.personalDetail == "additionalNeeds" %}
                an
              {% else %}
                a
              {% endif %}
            {% elif data.updateType == 3 %}
              Correct
              {% if data.personalDetail == "immigration" or data.personalDetail == "nifu" or data.personalDetail == "pv" %}
                the
              {% else %}
                their
              {% endif %}
            {% else %}
              Update               
              {% if data.personalDetail == "immigration" or data.personalDetail == "nifu" or data.personalDetail == "pv" %}
                the
              {% else %}
                their
              {% endif %}

            {% endif %}
            
            {% if data.personalDetail == "additionalNeeds" %}
              additional need
            {% else %}
              {{ data.personalDetails[data.personalDetail].display | lower }}
            {% endif %}
            
          </h2>
          
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              {% if data.personalDetail == "nationality" %}
                {% include "./nationality.njk" %}
              {% elif data.personalDetail == "additionalNeeds" %}
                {% include "./additionalNeeds.njk" %}
              {% elif data.personalDetail == "maritalStatus" %}
                {% include "./maritalstatus.njk" %}
              {% elif data.personalDetail == "recordLevel" %}
                {% include "./recordlevel.njk" %}
              {% elif data.personalDetail == "disability" %}
                {% include "./disability.njk" %}
              {% elif data.personalDetail == "pv" %}
                {% include "./pv.njk" %}
              {% elif data.personalDetail == "preferredLanguage" %}
                {% include "./preferredLanguage.njk" %}
              {% elif data.personalDetail == "dateOfDeath" %}
                {% include "./dateOfDeath.njk" %}
              {% elif data.personalDetail == "spokenLanguage" %}
                {% include "./spokenLanguage.njk" %}
              {% elif data.personalDetail == "immigration" %}
                {% include "./immigration.njk" %}
              {% elif data.personalDetail == "dateOfBirth" %}
                {% include "./dateOfBirth.njk" %}
              {% elif data.personalDetail == "ninoVerificationLevel" %}
                {% include "./ninolevel.njk" %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
    	<script src="../../../../../public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="../../../../../public/javascripts/jquery-ui.min.js"></script>
	<script src="../../../../../public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
	  (function($){
	    $(function(){
	      $('select').selectToAutocomplete();
	      $('form').submit(marital);
	    });
	  })(jQuery);
	</script>
