<h2 class="heading-medium question">What is the person's marital or civil partnership status?</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="check">
      <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">Marital or civil partnership status</legend>
          
          <div class="multiple-choice">
            <input id="single" type="radio" name="personalDetailValue" value="Single" {% if data.citizen.maritalStatus == "Single" %} checked {% endif %}>
            <label for="single">Single</label>
          </div>

          <div class="multiple-choice">
            <input id="married" type="radio" name="personalDetailValue" value="Married" {% if data.citizen.maritalStatus == "Married" %} checked {% endif %}>
            <label for="married">Married</label>
          </div>

          <div class="multiple-choice">
            <input id="living" type="radio" name="personalDetailValue" value="Living together" {% if data.citizen.maritalStatus == "Living together" %} checked {% endif %}>
            <label for="living">Living together</label>
          </div>
          
          <div class="multiple-choice">
            <input id="separated" type="radio" name="personalDetailValue" value="Separated" {% if data.citizen.maritalStatus == "Separated" %} checked {% endif %}>
            <label for="separated">Separated</label>
          </div>
          
          <div class="multiple-choice">
            <input id="divorced" type="radio" name="personalDetailValue" value="Divorced or civil partnership dissolved" {% if data.citizen.maritalStatus == "Divorced or civil partnership dissolved" %} checked {% endif %}>
            <label for="divorced">Divorced or civil partnership dissolved</label>
          </div>
          
          <div class="multiple-choice">
            <input id="widowed" type="radio" name="personalDetailValue" value="Widowed or surviving civil partner" {% if data.citizen.maritalStatus == "Widowed or surviving civil partner" %} checked {% endif %}>
            <label for="widowed">Widowed or surviving civil partner</label>
          </div>
          
          <div class="multiple-choice">
            <input id="annulled" type="radio" name="personalDetailValue" value="Annulled - voidable marriage or civil partnership" {% if data.citizen.maritalStatus == "Annulled - voidable marriage or civil partnership" %} checked {% endif %}>
            <label for="annulled">Annulled - voidable marriage or civil partnership</label>
          </div>
          
          <div class="multiple-choice">
            <input id="void" type="radio" name="personalDetailValue" value="Annulled - void marriage or civil partnership" {% if data.citizen.maritalStatus == "Annulled - void marriage or civil partnership" %} checked {% endif %}>
            <label for="void">Annulled - void marriage or civil partnership</label>
          </div>
          
            {% if data.updateType == 3 %}
              <p class="form-block">or</p>
              <div class="multiple-choice">
                <input id="unknown" name="personalDetailValue" type="radio" value=null>
                <label for="unknown">Remove the marital or civil partnership status</label>
              </div>
            {% endif %}
          
        </fieldset>
      </div>
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>