<h2 class="heading-medium question">What is their nationality?</h2>

<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="personal-detail-handler">
      <legend>
        <h1 class="visually-hidden">
          What is their nationality status?
         </h1>
      </legend>
      
      <div class="form-group">
       <div id="nationalityField">
         {% include "./nationality-selector.njk" %}
        </div>

        <div class="multiple-choice" data-target="contact-by-phone">
          <input id="stateless" type="radio" name="data" value="stateless" {% if data.citizen.nationality == "stateless" %} checked {% endif %}>
          <label for="stateless">They are stateless</label>
        </div>
        
        {% if data.updateType != 2 %}
          <div class="multiple-choice" data-target="contact-by-text">
            <input id="unknown" type="radio" name="data" value="unknown" {% if data.citizen.nationality == "unknown" %} checked {% endif %}>
            <label for="unknown">Their nationality is unknown</label>
          </div>        
        {% endif %}
        
      </div>
              
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>