{% if data.updateType != 1 %}
  <tr>
<td class="bold">Remove their {{data.personalDetails[data.personalDetail].display}}</td>
    <td><a>Change</a></td>
  </tr>
{% else %}
<tr>
  <td class="bold">{{data.personalDetails[data.personalDetail].display}}</td>
  <td>
    {% if data.personalDetailValue == true %}
      Yes
    {% endif %}
  </td>
  <td><a>Change</a></td>
</tr>
{% endif %}