<tr>
  <td class="bold">{{data.personalDetails[data.personalDetail].display}}</td>
  <td>
    {% if data.personalDetailValue == true %}
      Male
    {% else %}
      Female
    {% endif %}  
  </td>
  <td><a>Change</a></td>
</tr>