<div id="address-pane">
  
  <h2 class="heading-medium">Update address</h2>
  
  <div class="grid-row">

    <div class="column-one-half">

      <h3 class="heading-small">Check your answers</h3>
      
      <div>
        <table>
          <tr>
            <td><span class="strong">Address</span></td>
            <td>7 Church Street, Gateshead, NE1 1HH</td>
            <td><a>Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Start date</span></td>
            <td>9 December 2017</td>
            <td><a>Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Notify date</span></td>
            <td>11 December 2017</td>
            <td><a>Change</a></td>
          </tr>
        </table>
      </div>
      
      <br>
      
      <div>
        <form method="get" action="submit-handler">
          <div class="form-group">
            <input class="button" type="submit" value="Submit">
          </div>
        </form>
      </div>
      <p><a href="account">Cancel</a></p>
    </div>
  </div>
</div>
