<div id="address-pane">
  
  <div class="previous-addresses">
    
    <div class="grid-row" id="correspondence">
    
      <div class="column-one-third" >
        <ul>
          <li>Correspondence address</li>
          {% if correspondence == true %}
          <li class="sl-secondary-text-color sl-metadata">{{editDate}} - present</li>
          {% endif %}
        </ul>
      </div>
      {% if correspondence === true %}
        {% include "components/correspondence.html" %}
      {% else %}
        <div class="column-one-third">
        </div>
        <div class="column-two-thirds column-last">
          <p>
            <a class="secondary-link" href="update-type-handler?data=add_correspondence">Add</a>
          </p>
        </div>
      {% endif %}
      
    </div>
    
  </div>
  
  <hr>
  
  <div class="grid-row">

  <div class="column-one-third">
    <ul>
      <li>Residential address</li>
      <li class="sl-secondary-text-color sl-metadata">
        {% if updated === true %}
          {{editDate}} – present
        {% elif dateisupdated === true %}
          30 Nov 1990 – present
        {% elif statusupdated === true %}
          {{editDate}} – present
        {% else %}
          1 Dec 1990 – present
        {% endif %}
      </li>
    </ul>
    
  </div>
  
  <div class="column-one-third">
    <p class="address">
      {% if residentialaddress.cherish != false %}
      {{residentialaddress.cherish}}<br>
      {% endif %}
      
      {{residentialaddress.line}}<br>
      Gateshead<br>
      Tyne and wear<br>
      NE1 1HH<br>
      England
    <p>
    <ul>
      <li class="status-item">
      {% if residentialaddress.status === "live" %}
        <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
        <span class="sl-secondary-text-color sl-metadata">Live</span>
      {% elif residentialaddress.status === "dlo" %}
        <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
        <span class="sl-secondary-text-color sl-metadata">Dead letter office</span>
      {% elif residentialaddress.status === "pwa" %}
        <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
        <span class="sl-secondary-text-color sl-metadata">Person without address</span>
      {% elif residentialaddress.status === "nfa" %}
        <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
        <span class="sl-secondary-text-color sl-metadata">No fixed abode</span>
      {% endif %}
      </li>
    </ul>
    {% if residentialaddress.updated %}
    <p class="date-updated recent">Updated just now</p>
    {% else %}
    <p class="date-updated old">Updated about 5 years ago</p>
    {% endif %}


<!--
    {% if updated === true %}
      Rose Cottage<br>
      6 Church Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE10 1FF<br>
      England
      
    {% elif cherishedlinecorrected === true %}
      Flat B<br>
      4 Main Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE14 1HN<br>
      England
      
    {% elif cherished === true %}
      Flat A<br>
      4 Main Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE14 1HN<br>
      England
                    
    {% elif addresscorrected === true  %}
      4 Other Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE41 1HN<br>
      England
            
    {% elif currentstatus === "pwa" or currentstatus === "nfa"  %}
            
    {% else %}
      4 Main Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE14 1HN<br>
      England
    {% endif %}
-->
    
    
  </div>
  
  <div class="column-one-third">
    <p><a class="secondary-link" href="update-V2">Change</a></p>
    
<!--
    <p><a class="secondary-button" href="update">Update</a></p>
    <p><a class="secondary-button" href="correct">Correct</a></p>
-->
    
  </div>
</div> 

</div> 

<hr>
  {% include "components/previous-address.html" %}