<div id="address-pane">
  
  <div class="grid-row">

  <div class="column-one-third">
    <p>Residential address</p>
    <p>{{updated}}</p>
  </div>
  
  <div class="column-one-third">
    <p>
      Woodstock Care Home<br>
      80 Woodstock Road<br>
      Sittingbourne<br>
      Kent<br>
      ME10 4HN<br>
      England
    </p>
  </div>
  
  <div class="column-one-third">
<!--
    <form method="get" action="update">
      <div class="form-group">
        <label class="form-label" for="select-box">This is the label text</label>
        <select id="edit-menu" class="form-control" id="select-box" name="select-box" onchange="this.form.submit()">
          <option selected>Edit</option>
          <option>Update residential address</option>
          <option>Correct residential address</option>
          <option>Add correspondence address</option>
        </select>
      </div>
    </form>
-->
    <p><a class="secondary-button" href="update">Update</a></p>
<!--<p><a class="secondary-button" href="update">Correct</a></p>-->
  </div>

</div>  