<div id="address-pane">
  
  <div class="previous-addresses">
    
    <div class="grid-row" id="correspondence">
    
      <div class="column-one-third" >
        <ul>
          <li>Correspondence address</li>
          {% if correspondence == true %}
          <li class="sl-secondary-text-color sl-metadata">{{editDate}} - present</li>
          {% endif %}
        </ul>
      </div>
      {% if correspondence == true %}
        {% include "components/correspondence.html" %}
      {% else %}
        <div class="column-one-third">
        </div>
        <div class="column-two-thirds column-last">
          <p>
            <a class="secondary-link" href="update-type-handler?data=add">Add</a>
          </p>
        </div>
      {% endif %}
      
    </div>
    
  </div>
  
  <hr>
  
  <div class="grid-row">

  <div class="column-one-third">
    <ul>
      <li>Residential address</li>
      <li class="sl-secondary-text-color sl-metadata">
        {% if updated === true %}
          {{editDate}} – present
        {% else %}
          26 Oct 1990 – present
      </li>
      {% endif %}
    </ul>
    
  </div>
  
  <div class="column-one-third">
    <p class="address">
    {% if cherished == true %}
      Rose Cottage<br>
    {% endif %}
      
    {% if updated != true %}
      4 Old Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England

    {% elseif correspondence == true  %}
      7 Post Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England
      
    {% else %}
      Rose Cottage<br>
      6 Church Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England
    {% endif %}
    </p>
  </div>
  
  <div class="column-one-third">
    <p><a class="secondary-link" href="update-V2">Change</a></p>
    
<!--
    <p><a class="secondary-button" href="update">Update</a></p>
    <p><a class="secondary-button" href="correct">Correct</a></p>
-->
    
  </div>
</div> 

</div> 

{% if previous_addresses === true %}
<hr>
  {% include "components/previous-address.html" %}
{% endif %}