<div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Address</h2>
<!--
          <details id="maint">
          <summary class="m-button">
            <span class="summary">Maintenance</span>
          </summary>
          <div class="maintenance">
            <p>
              This is the maintenance data
            </p>
          </div>
        </details>
-->

  <div id="sl-address-primary-card" class="sl-primary-card">
    <div>
      
      
      {% include "components/address-details.html" %}
    </div>
  </div>
</div>