<div id="address-pane">
  
  <h2 class="heading-medium">Update address</h2>
  
    <div class="grid-row">

      <div class="column-one-half">
        
        <form method="get" action="search-handler">

          <div class="form-group">
            <label class="form-label" for="select-box">Country</label>
            <select class="form-control" id="select-box" name="select-box">
              <option>UK/Channel Islands/Isle of Man</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control" id="postcode" type="text" name="postcode">
          </div>

          <div class="form-group">
            <input class="button" type="submit" value="Search">
          </div>

          <p><a href="account">Cancel</a></p>

        </form>

  </div>
</div>