<div id="address-pane">
  
  <div class="grid-row">

    <div class="column-one-third">
      <ul>
        <li>Home telephone</li>
      </ul>
    </div>
  
    <div class="column-one-third">
      <ul>
        <li><span class="strong">0113 287 6365</span></li>
      </ul>

    </div>
  
    <div class="column-one-third">
      <ul class="edit-menu">
<!--
        <li>
          <a class="secondary-link" href="">Change</a>
        </li>
-->
      </ul>
    </div>
    
  </div> 
  
  <hr class="light">
  
  <div class="grid-row">

    <div class="column-one-third">
      <ul>
        <li>Email</li>
      </ul>
    </div>
  
    <div class="column-one-third">
      <ul>
        <li><span class="strong">tom.smith@gmail.com</span></li>
        <li class="sl-secondary-text-color sl-metadata">
            Since 5 Jun 2010
        </li>
      </ul>

    </div>
  
    <div class="column-one-third">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#update_two" class="under-link">View maintenance</a> 
        </li>
<!--
        <li>
          <a class="secondary-link" href="">Change</a>
        </li>
-->
      </ul>
    </div>
    
  </div> 
  
  <hr class="light">

  <div class="grid-row">

    <div class="column-one-third">
      <ul>
        <li>Mobile</li>
      </ul>
    </div>
  
    <div class="column-one-third">
      <ul>
        <li><span class="strong">07712 345 678</span></li>
        <li class="sl-secondary-text-color sl-metadata">
            Since 5 Jun 2010
        </li>
      </ul>

    </div>
  
    <div class="column-one-third">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#update_two" class="under-link">View maintenance</a> 
        </li>
<!--
        <li>
          <a class="secondary-link" href="">Change</a>
        </li>
-->
      </ul>
    </div>
    
  </div> 
  
  <hr class="light">
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul>
        <li class="sl-secondary-text-color sl-metadata">
            &nbsp;
        </li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul class="edit-menu">
        <li>
          <a class="secondary-link" href="">Add a contact method</a>
        </li>
      </ul>    
    </div>

    </div>
</div> 