<div class="column-one-third">
  <ul>
    <li>Correspondence address</li>
    {% if correspondence == true %}
      <li class="sl-secondary-text-color sl-metadata">{{editDate}} - present</li>
    {% endif %}
  </ul>
</div>
<div class="column-one-third">
{% if correspondence == true %}
  <p class="address">
    7 Post Street<br>
    Gateshead<br>
    Tyne and Wear<br>
    NE11 4HN<br>
    England
  </p>
  <p class="date-updated recent">Updated just now</p>
  {% else %}
  <p></p>
{% endif %}
</div>
  <div class="column-one-third">
    {% if correspondence != true %}
      <a class="secondary-link" href="update-type-handler?data=add">Add</a>
    {% else %}
      <a class="secondary-link" >Change</a>
    {% endif %}
  </div>