<hr>   
<div class="previous-addresses">
      <div class="grid-row">
        <div class="column-one-third">
          <ul>
            <li>Correspondence address</li>
            <li class="sl-secondary-text-color sl-metadata">
                {{editDate}} – present
            </li>
          </ul>
        </div>
        <div class="column-one-third">
          <p>
            1 Post Street<br>
            Gateshead<br>
            Tyne and Wear<br>
            NE1 111<br>
            England
          </p>
        </div>
        <div class="column-one-third">
        </div>
      </div>
    </div>