<div id="creation-pane">  
    <div class="grid-row ac-info">
    <div class="column-one-third">
      <ul>
        <li>Date created</li>
        <li>System</li>
        <li>Office</li>
        <li>Telephone</li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">11 Jan 1980</li>
        <li class="strong">DCI</li>
        <li class="">Not available</li>
        <li class="">Not available</li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
      </ul>
    </div>
  </div>

</div>
