<div class="sl-account-canvas row">
  
  <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
    
    <div class="sl-account-canvas-width">

      {% include "components/personal.html" %}

      {% include "components/address.html" %}

      {% include "components/contact.html" %}

      {% include "components/interest.html" %}

      {% include "components/account1/benefits/benefits.html" %}

      {% include "components/account1/relationships/relationships.html" %}

      <div class="last-card">
      </div>

    </div>
    
  </div>
  
</div>