<div ui-view="footer" class="ng-scope"><div class="col-xs-12 ng-scope" id="sl-footer">
  <div class="col-md-offset-1 sl-footer-content">
    <div class="sl-footer-left-content col-xs-12 col-sm-8">
      <div class="spacing-bottom-single">
            <span class="sl-font-bold">This is a new service – your <a class="sl-footer-link sl-font-bold" href="/" ng-click="openFeedbackModal('lg'); feedbackJumpToTop()">feedback</a> will help us improve it.</span>
      </div>
      <div class="spacing-bottom-single">
        <span class="sl-footer-color">If you can't find what you're looking for here, you can return to the legacy CIS interface by using the 'CIS FMO' icon on your desktop.</span>
      </div>
      <div class="spacing-bottom-half">
        <span class="sl-footer-color">Built by DWP Digital.</span>
      </div>

    </div>
    <div class="col-xs-12 center-block col-sm-offset-0 col-sm-3 sl-footer-right-content">
      <div class="footer-vertical-align">
      <div>
        <div class="sl-govuk-crest center-block"></div>
        <div>
          <p class="sl-footer-color text-center spacing-top-third">© Crown copyright</p>
        </div>
      </div>

    </div>
      </div>
  </div>
  <div>

  </div>
</div></div>