<div id="interests">
    
  {% if interests.length > 0 %} 
    <div class="grid-row nav">
      <div class="column-one-third">
        Start date
      </div>
      <div class="column-one-third expanded">
        Interest
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a href="interests/add-interest" class="under-link">Add an interest</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>      
    {% for interest in interests %}
      {% if interest.live == true %}
        {% include "components/update/interest.html" %}
      {% endif %}  
    {% endfor %}  
    <hr class="light">
  
    <details>
      <summary>Previous interests</summary>
      {% for interest in interests %}
        {% if interest.live == false %}
            {% include "components/update/interest.html" %}
          <hr class="light">
        {% endif %}  
      {% endfor %}  
    </details>
  
  {% else %} 
    No interests
  {% endif %} 
  
</div>
