<div id="interests">
  
    <div class="grid-row nav">
      <div class="column-one-third">
        Start date
      </div>
      <div class="column-one-third expanded">
        Interest
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#interest_modal" class="under-link">Add</a>
          </li>
        </ul>
      </div>
    </div>
  
  <hr>
  
  <div class="grid-row interest first">

    <div class="column-one-third">
      <ul>
        <li>5 Sep 2016</li>
      </ul>
    </div>
  
    <div class="column-one-third expanded">
      <ul>
        <li><span class="strong"><span class="interest-type">System</span>Personal Independence Payment</span></li>
        <li class="sl-secondary-text-color sl-metadata">
          Interested parties: <a class="modal_link" data-toggle="modal" data-target="#unnamed">UNNAMED INTERESTED PARTY</a>
        </li>
      </ul>

    </div>
    <div class="column-one-third last-col">
                <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#interest_modal" class="under-link">View maintenance</a>
            </li>
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>

      </div>
  </div> 
  
  <hr class="light">
  
  <div class="grid-row interest">

    <div class="column-one-third">
      <ul>
        <li>30 Apr 2016</li>
      </ul>
    </div>
  
    <div class="column-one-third expanded">
      <ul>
        <li><span class="strong"><span class="interest-type">System</span>Housing Benefit</span></li>
        <li class="sl-secondary-text-color sl-metadata">
          Interested parties: <a class="modal_link" data-toggle="modal" data-target="#housing">CHESTER LE STREET DC and 2 more</a>
      </ul>

    </div>
    <div class="column-one-third last-col">
                <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#interest_modal" class="under-link">View maintenance</a>
            </li>
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>

      </div>
  </div> 
  <hr class="light">
  <div class="grid-row interest">

    <div class="column-one-third">
      <ul>
        <li>8 Feb 2016</li>
      </ul>
    </div>
  
    <div class="column-one-third expanded">
      <ul>
        <li><span class="strong"><span class="interest-type crl">CRL</span>Employment And Support Allowance</span></li>
        <li class="sl-secondary-text-color sl-metadata">
          Interested parties: <a class="modal_link" data-toggle="modal" data-target="#housing">SUNDERLAND BDC</a>
        </li>
      </ul>

    </div>
      <div class="column-one-third last-col">
                <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#interest_modal" class="under-link">View maintenance</a>
            </li>
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>

      </div>

  </div> 
  <hr class="light">
  <div class="grid-row interest last">

    <div class="column-one-third">
      <ul>
        <li>8 Feb 2016 </li>
      </ul>
    </div>
  
    <div class="column-one-third expanded">
      <ul>
        <li><span class="strong"><span class="interest-type crl">CRL</span>Job Seekers Allowance</span></li>
        <li class="sl-secondary-text-color sl-metadata">
          Interested parties: <a class="modal_link" data-toggle="modal" data-target="#housing">SUNDERLAND BDC</a>
        </li>
      </ul>

    </div>
      <div class="column-one-third last-col">
                <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#interest_modal" class="under-link">View maintenance</a>
            </li>
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>

      </div>
  </div> 

</div> 

<hr>

<details>
  <summary>Previous interests</summary>
</details>