<div id="mcheck" class="">
  <div>
    <p><span class="strong">Management check</span>  &nbsp;•&nbsp; SY119284Z. &nbsp;Customer is deceased and date of death is over 1 year old. &nbsp;<a id="mclose">Close</a></p>
  </div>
</div>