<!-- Modals-->

<!-- Name -->
<div class="modal fade" id="name_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on 14 Dec 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" href="previous-names">View full history</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unnamed" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes" data-dismiss="modal">Close</a>
        <p>Interested parties for Personal Independence Payment</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office-code">Office code 60010</li>
              <li class="date">Declared an interest on 5 Sep 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">No contact number</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes" data-dismiss="modal">Close</a>
        <p>Interested parties for Housing Benefit</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office">CHESTER LE STREET DC</li>
              <li class="office-code">Office code 60010</li>
              <li class="date">Declared an interest on 30 Apr 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">No contact number</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>