<details>
  <summary>
    <span class="summary">More personal details</span>
  </summary>
  
  <div class="personal-details">
    <hr class="light">
    <div class="grid-row">
      <div class="column-one-third">
        <p>Nationality</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">British</li>
        </ul>
      </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
<!--
            <li>
              <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
            </li>
-->
<!--
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
-->
          </ul>
      </div>
    </div>
    
    <hr class="light">
    
    <div class="grid-row">
      <div class="column-one-third">
        <p>Sex</p>
      </div>
      <div class="column-one-third">
        <p class="strong">Male</p>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
<!--
          <li>
            <a class="under-link">View maintenance</a> 
          </li>
-->
<!--
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
-->
        </ul>
      </div>
    </div>
    
    <hr class="light">
    
    <div class="grid-row">
      <div class="column-one-third">
        <p>Spoken language</p>
      </div>
      <div class="column-one-third">
        <p class="strong">English</p>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
<!--
          <li>
            <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> <span class="pipe"> | </span> <a href="language-pref-history" class="under-link">View history</a>
          </li>
-->
<!--
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
-->
        </ul>
      </div>
    </div>
    
    <hr class="light">
    
    <div class="grid-row">
      <div class="column-one-third">
        <p>Preferred language</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">English</li>
          <li class="sl-secondary-text-color sl-metadata">
            Since 5 Jun 2010
          </li>
        </ul>      
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#spoken_language" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="/history/language-pref-history" class="under-link">View history</a>
          </li>
<!--
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
-->
        </ul>
      </div>
    </div>
    
    <hr class="light">
    
<!--    nifu-->
    <div class="grid-row">
      <div class="column-one-third">
        <p>National identity fraud unit</p>
      </div>
      <div class="column-one-third">
        <p class="strong">Yes</p>
      </div>
      <div class="column-one-third last-col">
<!--
        <ul class="edit-menu">
          <li>
            <a class="under-link">View maintenance</a> 
          </li>
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
        </ul>
-->
      </div>
    </div>

    <hr class="light">
    
    <div class="grid-row">
      <div class="column-one-third">
        <p>Civil status</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Married</li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
<!--
          <li>
            <a class="under-link">View history</a> 
          </li>
-->
<!--
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
-->
        </ul>
      </div>
    </div>

</div>
  
</details>

<!--
<hr>
<details>
  <summary>
    <span class="summary">Previous personal details</span>
  </summary>
  
  <div class="personal-details">
    
    <div class="grid-row">
      <div class="column-one-third">
        <p>Nationality</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">British</li>
        </ul>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <p>Civil status</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Married</li>
        </ul>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <p>Sex</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Male</li>
        </ul>
      </div>
    </div>
    
</div>
</details>
    <details>
      <summary>
        <span class="summary">Other personal details</span>
      </summary>
    
        <div class="personal-details">
          
          <div class="grid-row">
            <div class="column-one-third">
              <p>Nationality</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">British</li>
              </ul>
            </div>
          </div>

          <div class="grid-row">
            <div class="column-one-third">
              <p>Civil status</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">Married</li>
              </ul>
            </div>
          </div>
        
          <div class="grid-row">
            <div class="column-one-third">
              <p>Sex</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">Male</li>
              </ul>
            </div>
          </div>
        </div>
  </details>
-->
