    <details>
      <summary>
        <span class="summary">Other personal details</span>
      </summary>
    
        <div class="personal-details">
          
          <div class="grid-row">
            <div class="column-one-third">
              <p>Nationality</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">British</li>
              </ul>
            </div>
          </div>

          <div class="grid-row">
            <div class="column-one-third">
              <p>Civil status</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">Married</li>
              </ul>
            </div>
          </div>
        
          <div class="grid-row">
            <div class="column-one-third">
              <p>Sex</p>
            </div>
            <div class="column-one-third">
              <ul>
                <li class="strong">Male</li>
              </ul>
            </div>
          </div>
        </div>
  </details>