<details>
  <summary>
    <span class="summary">Personal details history</span>
  </summary>

  <div class="personal-details">
    
    <div class="history">
      <h3 class="heading-small">Name</h3>
      <ul class="change">
        <li>Previous name</li>
        <li>Tom Smith</li>
        <li>Thomas Smith</li>
      </ul>
      <ul class="office-code">
        <li>System</li>
        <li>PSCS</li>
        <li>PSCS</li>
      </ul>
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="office-code">
        <li>Office code</li>
        <li>1234</li>
        <li>1234</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
        <li>0191 123 456</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>01 Jun 2000</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
    <div class="history">
      <h3 class="heading-small">Date of birth</h3>
      <ul class="change">
        <li>Previous date of birth</li>
        <li>8 Feb 1960</li>
      </ul>
      <ul class="office-code">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="office-code">
        <li>Office code</li>
        <li>1234</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
    <div class="history">
      <h3 class="heading-small">National Insurance number</h3>
      <ul class="change">
        <li>Previous NINO</li>
        <li>SY119284Z</li>
      </ul>
      <ul class="office-code">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="office-code">
        <li>Office code</li>
        <li>1234</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
    <div class="history">
      <h3 class="heading-small">Nationality</h3>
      <ul class="change">
        <li>Previous nationality</li>
        <li>British</li>
      </ul>
      <ul class="office-code">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="office-code">
        <li>Office code</li>
        <li>1234</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
    <div class="history">
      <h3 class="heading-small">Civil status</h3>
      <ul class="change">
        <li>Previous civil status</li>
        <li>Married</li>
        <li>Single</li>
      </ul>
      <ul class="office-code">
        <li>System</li>
        <li>PSCS</li>
        <li>System</li>
      </ul>
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Newcastle</li>
      </ul>
      <ul class="office-code">
        <li>Office code</li>
        <li>1234</li>
        <li>1234</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
        <li>0191 123 456</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>01 Jun 1981</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
    <div class="history">
      <h3 class="heading-small">Sex</h3>
      <ul>
        <li>Former sex</li>
        <li>M</li>
      </ul>
      <ul>
        <li>Former sex start date</li>
        <li>8 Feb 1976</li>
      </ul>
      <ul>
        <li>Former sex end date</li>
        <li>8 Feb 1976</li>
      </ul>
    </div>
    
  </div>

</details>