
<div class="personal-details">
  
  <div class="grid-row">
    
    <div class="column-one-third">
      <p>Name</p>
    </div>
    
    <div class="column-one-third">
      <ul>
        <li class="strong">MR TOM SMITH</li>
      </ul>
      
      <ul>
        <li class="sl-secondary-text-color sl-metadata">
          Since 14 Dec 2016 - 
          <a href="previous-names" style="text-decoration:underline;">
            show previous names
          </a>
        </li>
      </ul>

      

      <details>
        <summary class="update-summary old">
          <span class="summary">
           Since 14 Dec 2016 - show details
          </span>
        </summary>
        <div class="panel panel-border-wide maintenance">
           <p>Maintenance information</p>
          <ul>
            <li>Business system</li>
            <li>PSCS</li>
          </ul>
          <ul>
            <li>Office name</li>
            <li>Glasgow South DO</li>
          </ul>
          <ul>
            <li>Office code</li>
            <li>1234</li>
          </ul>
          <ul>
            <li>Telephone number</li>
            <li>0191 123 456</li>
          </ul>
          <ul>
            <li>Date changed</li>
            <li>14 Dec 2016</li>
          </ul>
        </div>
      </details>

      
    </div>
    
    <div class="column-one-third last-col">
      <p><a class="secondary-link" href="update-V2">Change</a></p>
      
      <!--
      <details>
        <summary class="update-summary old">
          <span class="summary">
            Since 14 Dec 2016 - view details
          </span>
        </summary>
        <div class="panel panel-border-wide maintenance">
          <p>Maintenance information</p>
          <ul>
            <li>Business system</li>
            <li>PSCS</li>
          </ul>
          <ul>
            <li>Office name</li>
            <li>Glasgow South DO</li>
          </ul>
          <ul>
            <li>Office code</li>
            <li>1234</li>
          </ul>
          <ul>
            <li>Telephone number</li>
            <li>0191 123 456</li>
          </ul>
          <ul>
            <li>Date changed</li>
            <li>14 Dec 2016</li>
          </ul>
        </div>
      </details>
      -->
    </div>
  </div>
      
  <div class="grid-row">
    
    <div class="column-one-third">
      <p>Date of birth</p>
    </div>

    <div class="column-one-third">
      <ul>
        <li class="strong">8 Feb 1960</li>
        <li>
          <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Verified to level 2</span>
        </li>
      </ul>
    </div>

  </div>

  <!--
    <div class="grid-row">
      <div class="column-one-third">
        <p>Date of death</p>
      </div>
      <div class="column-one-third">
        <ul>
          <li>28 Mar 1995 (aged 54)</li>
          <li class="sl-secondary-text-color">Green tick Verified to level 3</li>
        </ul>
      </div>
    </div>
  -->

  <div class="grid-row">

    <div class="column-one-third">
      National Insurance number
    </div>

    <div class="column-one-third">
      <ul>
        <li class="strong">SY119284Z</li>
          <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Verified</span>
      </ul>
    </div>

  </div>
      
</div>

<hr>
  {% include "components/other-personal-details.html" %}

<!--
<hr>
  {% include "components/personal-details-history.html" %}
-->
