<div name="Personal" id="Personal" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Personal details</h2>
  <div class="sl-primary-card sl-personal-details-card">
    {% include "./personal-details.html" %}

<!--
    <div class="row ng-scope" ng-if="data.person.empty">

      <div class="col-xs-12">No personal details held for this customer.</div>
    </div> end ngIf: data.person.empty 
-->
    <!-- ngIf: data.person.person && data.person.person[0].personalDetails && !data.person.empty -->
  </div>
</div>