<details>
  <summary><span class="summary">Show previous addresses</span></summary>
  
  <hr class="light">
  
    {% if previousaddress.show === true %}
    <div class="grid-row address-list">
      <div class="column-one-third">
        <ul>
          <li>Residential address</li>
          <li class="sl-secondary-text-color sl-metadata">
              01 Jan 1990 – {{editDate}}
          </li>
        </ul>
      </div>
    
      <div class="column-one-third">
        {% if previousaddress.correct === true %}
          <p class="address">
        {% else %}
          <p class="address incorrect">
        {% endif %}
        {% if previousaddress.cherish != false %}
          {{previousaddress.cherish}}<br>
        {% endif %}
        {{previousaddress.line}}<br>
          Gateshead<br>
          Tyne and wear<br>
          NE1 1HH<br>
          England
        </p>
      </div>
        
      <div class="column-one-third column-last">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#res-address" class="under-link">View maintenance</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="light">
    {% endif %}
  
    <div class="grid-row address-list">
      <div class="column-one-third">
        <ul>
          <li>Residential address</li>
          <li class="sl-secondary-text-color sl-metadata">
              1 Jan 1960 - 01 Jan 1990
          </li>
        </ul>
      </div>
    
      <div class="column-one-third">
        <p class="address">
          1 Old Street<br>
          Newcastle upon Tyne<br>
          Tyne and Wear<br>
          NE1 111<br>
          England
        </p>
      </div>
    
      <div class="column-one-third column-last">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#res-address" class="under-link">View maintenance</a>
          </li>
        </ul>
      </div>
    </div>  
  
</details>

