  <details>
    <summary><span class="summary">Previous addresses</span></summary>
    <div class="previous-addresses">
      <div class="grid-row">
        <div class="column-one-third">
          <ul>
            <li>Residential address</li>
            <li class="sl-secondary-text-color sl-metadata">
                26 Oct 1990 – {{editDate}}
            </li>
          </ul>
        </div>
        <div class="column-one-third">
          <p>
            4 Old Street<br>
            Gateshead<br>
            Tyne and Wear<br>
            NE11 4HN<br>
            England
          </p>
        </div>
        <div class="column-one-third">
        </div>
      </div>
    </div>
</details>