<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          {% if data.nationalityState === "adding" %}
            <h2>Add nationality</h2>
          {% elif data.nationalityState === "correcting" %}
            <h2>Correct nationality</h2>
          {% else %}
            <h2>Update nationality</h2>
          {% endif  %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              {% include "components/update/person/nationality/update-content.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
    	<script src="../../../../../public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="../../../../../public/javascripts/jquery-ui.min.js"></script>
	<script src="../../../../../public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
	  (function($){
	    $(function(){
	      $('select').selectToAutocomplete();
	      $('form').submit(marital);
	    });
	  })(jQuery);
	</script>
