    <div class="column-one-third">
      <div class="column-one-half">
        <p>17 June 2017</p>
      </div>
      <div class="column-one-half">
        <p>-</p>
      </div>
    </div>

    <div class="column-one-third">
      <ul>
        <li class="relationship-name"><span>{{ data.appointee.nameOneTitle | upper }} &nbsp;{{ data.appointee.nameOneFirst | upper }}  &nbsp;{{ data.appointee.nameOneLast | upper }}</span>&nbsp; · &nbsp;<a class="under-link" target="_blank" href="/appointee-handler">View account</a></li>
        <li class="class="sl-secondary-text-color sl-metadata"">Relationship&nbsp; · &nbsp;Appointee</li>
      </ul>
    </div>