{% extends "../../../wrapper_template.html" %}

{% block h2title %}
  {% include "./title" %}
{% endblock %}

{% block content %}


  <h2 class="heading-medium question">Check your answers</h2>

    <div class="grid-row">
      
      <div class="column-one-half">
        
        <table class="table">
                  
          <tr>
            <!-- TITLE -->
              <td> 
                <span class="strong">
                {% if data.personalDetailValue == "null" or data.updateType == 4 %}
                  Remove 
                    {% if data.personalDetail == "pv" or data.personalDetail == "disability" %}
                      the
                    {% else %}
                      their
                    {% endif %}
                {{data.personalDetails[data.personalDetail].display | lower}}
                
                {% elif data.personalDetail == "pv" %}
                  Who is potentially violent?
                {% else %}
                  {{data.personalDetails[data.personalDetail].display | capitalize}}
                {% endif %}
              </span>
            </td>
            
            <!-- VALUE -->
              {% if data.personalDetailValue != "null"  %}
                <td>
                  {% if data.personalDetail == "pv" or data.personalDetail == "additionalNeeds" %}
                    {{counter}}
                    {% set counter = data.personalDetailValue.length %}
                    {% for item in data.personalDetailValue %}
                      {% if counter != 1 %}
                        {{item}}, <br>
                      {% else %}
                        {{item}}
                      {% endif %}
                      {% set counter = counter -1 %}
                    {% endfor %}
                  {% else %}   
                    {% if data.personalDetailValue == "unknown" %}
                      {{data.personalDetailValue | capitalize}}
                    {% elif data.updateType == 4 %}
                  
                    {% elif data.personalDetailValue != "dateOfBirth" or data.personalDetailValue != "dateOfDeath"  %}
                      {{ data.personalDetailValue | asString }} 
                    {% elif data.personalDetailValue != "VIP" %}
                      {{data.personalDetailValue}}
                    {% else %}
                      {{data.personalDetailValue}}
                    {% endif %}
                  {% endif %}
                </td>
              {% endif %}
            
            <!-- CHANGE -->
            <td>
              <a>Change</a>
            </td>
          </tr>
          
          {% if data.personalDetailValue != "null" %}
            {% if data.updateType != 4 %}
              {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" or data.personalDetail == "immigration" %}
                <tr>
                  <td class="strong">
                    {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" %}
                      Verification level
                    {% else %}
                      Immigration reference number
                    {% endif %}
                  </td>
                  <td>{{data.verificationlevel}}</td>
                  <td><a>Change</a></td>
                </tr>
              {% endif %}
            {% endif %}
          {% endif %}
                    
        </table>
      <br>
      <form method="get" action="check-person-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account3/account">Cancel</a>
    </div>
  </div>

{% endblock  %}