{% if data.updateType == 9 %}
  <p class="">Relationships that have been deleted today will be recovered.

</p>
{% else %}
  <h2 class="heading-medium question">Check your answers</h2>
{% endif %}
  <div class="grid-row">
    <div class="column-one-half">
      {% if data.updateType != 9 %}
      <table class="table">
        {% if data.updateType == 1 %}

            <tr>
              <td class="bold">Relationship type</td>
              <td>Carers allowance</td>
              <td><a>Change</a></td>
            </tr>
  
            <tr>
              <td class="bold">Target National Insurance number</td>
              <td>SX170101</td>
              <td><a>Change</a></td>
            </tr>
            <tr>
              <td class="bold">Start date</td>
              <td>{{data.prepopulatedString}}</td>
              <td><a>Change</a></td>
            </tr>
          {% else %}
            <tr>
              <td class="bold">Name</td>
              <td>JAMES SMITH</td>
              <td>&nbsp;</td>
            </tr>  
            <tr>
              <td class="bold">Relationship type</td>
              <td>Carers credit</td>
              <td>&nbsp;</td>
            </tr>
          {% endif %}
        </table>
      {% endif %}
      <br>
      <form method="get" action="relationship-handler">
        <div class="form-group">
          {% if data.updateType == 9 %}
            <input class="button" type="submit" value="Next">
          {% else %}
            <input class="button" type="submit" value="Submit">
          {% endif %}
        </div>
      </form>
      <a href="cancel-handler">Cancel</a>
    </div>
  </div>

