<div class="grid-row">
  <div class="column-one-third">
    Special needs
  </div>
  <div class="column-one-third">
    <ul>
      {% for need in data.personalDetails.additionalNeeds.value %}
        <li class="strong"> 
          {{need}}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=additionalNeeds" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
