<!-- REQUESTED NAME-->
  {% if data.details.requestedName.show == true %}
    <div class="grid-row names">
      <div class="column-one-third">
        <ul>
          <li>Current names</li>
        </ul>
      </div>
      <div class="column-one-third">
        <ul class="">
          <li class="strong">
            {{data.details.requestedName.value | upper}}
          </li>
          <li class="sl-secondary-text-color sl-metadata">
            Requested name&nbsp; · &nbsp;since today
          </li>
        </ul> 
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#requested_name_modal" class="under-link">View maintenance</a> 
          </li>
          <li>
            <a class="secondary-link" href="name-change-handler/?nameType=requestedName">Change</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row names">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
  {% endif %}

  <!-- NAME 2 -->
  {% if data.details.nameTwo.show == true %}
    <div class="grid-row names">
      <div class="column-one-third">
        <ul>
          {% if data.details.requestedName.show == false %}
            <li>Current names</li>
          {% else %}
            <li>&nbsp;</li>
          {% endif %}
        </ul>
      </div>
      <div class="column-one-third">
        <ul class="">
          <li class="strong">
            {{data.details.nameOneTitle | upper}} <span class="namespace"> </span> {{data.details.nameOneFirst | upper}} <span class="namespace"> </span> {{data.details.nameTwo.last | upper}}
          </li>
          <li class="sl-secondary-text-color sl-metadata">
            Name type 2&nbsp; · &nbsp;since today
          </li>
        </ul> 
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_two_modal" class="under-link">View maintenance</a> 
          </li>
          <li>
            <a class="secondary-link" href="name-change-handler/?nameType=nameTwo">Change</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row names">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
  {% endif %}

  <!-- NAME 1 -->
  <div class="grid-row names">
    <div class="column-one-third">
      <ul>
      {% if data.details.requestedName.show == false and data.details.nameTwo.show == false %}
        <li>Current name</li>
      {% else %}
        <li>&nbsp;</li>
      {% endif %}
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">
          {{data.details.name.title | upper}} <span class="namespace"> </span> {{data.details.name.first | upper}} <span class="namespace"> </span> {{data.details.name.last | upper}}
        </li>
        <li class="sl-secondary-text-color sl-metadata">
          {% if data.details.nameTwo.show == true or data.details.requestedName.show == true %}
            Name type 1&nbsp; · &nbsp;since
          {% else %}
            Since
          {% endif %}

          {% if data.name.state == "updated" %}
            today
          {% else %}
            12 Nov 2017
          {% endif %}
        </li>
      </ul> 
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#name_one_modal" class="under-link">View maintenance</a> 
        </li>
        <li>
          <a class="secondary-link" href="name-change-handler/?nameType=name">Change</a>
        </li>
      </ul>
    </div>
  </div>


  {% if data.details.nameTwo.show === true and data.details.requestedName.show === true %}
  {% else %}
    <div class="grid-row no margin">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
    <div class="grid-row no-margin">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-one-third">
        <ul>
          <li class="sl-secondary-text-color sl-metadata">
            {% if data.details.nameTwo.show == false and data.details.requestedName.show === false %}
              Add another name
            {% elif data.details.nameTwo.show === true and data.details.requestedName.show === false  %}
              Add a requested name
            {% elif data.details.nameTwo.show === false and data.details.requestedName.show === true  %}
              Add a name type 2
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a class="secondary-link" href="add-handler">Add</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% include "./previous-names.html" %}
