<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li class="">Customer record level
      </li>
    </ul>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="bold">
        {{data.personalDetails.recordLevel.value}}
      </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a class="secondary-link" href="person-change-handler/?personalDetail=recordLevel">Change</a>
      </li>
    </ul>
  </div>
</div>