<div class="grid-row">
  <div class="column-one-third">
    <p>Sex</p>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">{{data.personalDetails.sex.value}}</li>

    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="../history/sex-history" class="under-link">View history</a>
      </li>
      {% if data.personalDetails.gender.show != true %}
        <li>
          <a class="secondary-link" href="person-change-handler/?personalDetail=sex">Change</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>