<fieldset class="form-group">
  <label class="form-label" for="personalDetailValue">
    Notification type
    <span class="form-hint">
      For example start of benefit
    </span>
  </label>
  
  <select name="systemid" class="form-control notification" name="Country" id="" autofocus="autofocus" autocorrect="off" autocomplete="off">
    <option value="" selected="selected">Select notification type</option>
    <option value="3000 NIFU Interest - Record Updated">3000 NIFU Interest - Record Updated</option> 
    <option value="3001 IND Interest - Record Updated">3001 IND Interest - Record Updated</option> 
  </select>
</fieldset>


