<div class="column-two-thirds">

  {# Held #}
  {% if data.currentNinoApplication.status == 1 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>This application is on hold</h1>
      <h3>The applicant has not been notified.</h3>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="bold">Next steps</h3>
        <ul class="list list-bullet" style="margin-bottom: 30px;">
          <li>You can use LMS to manage any contact with the applicant. For example requesting further details.</li>
          <li>You can access this application from the application screen using the application number, {{data.currentNinoApplication.applicationNumber}}</li>
        </ul>
        <ul class="">
          <li style="margin-bottom:20px;"><a target="_blank"href="./application" class="under-link">View the application details (in a new window)</a> </li>
          <li> <a class="under-link" href="./next-case-handler">Get the next application</a> </li>
        </ul>
      </div>
    </div>

  {# Match! #}
  {% elif data.currentNinoApplication.status == 2 %}
    <div id="confirmation">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>allocated</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="nino-next">
      <a href="next-case-handler" class="under-link">Get the next application</a> 
    </div>

  {# Data does not match #}
  {% elif data.currentNinoApplication.status == 3 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>not allocated</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p> <a class="under-link" href="./next-case-handler">Get the next application</a> </p>
      </div>
    </div>

  {# No right to work #}
  {% elif data.currentNinoApplication.status == 4 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>not allocated</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="nino-next">
      <a href="next-case-handler" class="under-link">Get the next application</a> 
    </div>

  {# Has an account in CIS (multi) #}
  {% elif data.currentNinoApplication.status == 5 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>Application complete</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="under-link" href="./next-case-handler">Get the next application</a> 
      </div>
    </div>

  {# Has an account in CIS (single) #}
  {% elif data.currentNinoApplication.status == 6 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>The applicant has a National Insurance number already</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="under-link" href="./next-case-handler">Get the next application</a> 
      </div>
    </div>


  {% endif %}

</div>
