{% macro decisionData(date, decision, start, end, overlap, rate, cdi) %}
	<table>
		<tr class="date">
			<td class="">{{date}}</td>
			<td class="">{{decision}}</td>
		</tr>	
	</table>	     				

	<div class="previous-awards-data">
		<details>
			<summary>View decision details</summary>
 			<div>
				<table class="">
					<tr>
						<td>Effective dates</td>
						<td>{{start}} to {{end}}</td>
					</tr>
					<tr>
						<td>Overlapping benefit</td>
						<td>{{overlap}}</td>
					</tr>
					<tr>
						<td>Overlapping benefit rate</td>
						<td>{{rate}}</td>
					</tr>
					<tr>
						<td>Withheld CDI</td>
						<td>{{cdi}}</td>
					</tr>
				</table>
			</div>
		</details>
	</div>
	<hr>
{% endmacro %}

		<!-- DECISION HISTORY -->
		<h3>Decision history</h3>

		<div class="sl-primary-card last-card">
			<div class="decision-history">
			 	<table>
					<tr>
						<th>Decison date</th>
						<th>Effective start</th>
						<th>Effective end</th>
						<th>Decision</th>
					</tr>
				</table>
			</div>
									
			<!-- {{ decisionData("15 Feb 2019","No longer caring 40 hours per week","30 Oct 2018","-","None","None","0") }} -->
			<div class="decision-history">
				<table>
					<tr class="date">
						<td>30 Jul 2018</td>
						<td>30 Jun 2018</td>
						<td>-</td>
						<td>No longer caring 40 hours per week</td>
					</tr>	
				</table>	  
			</div>

			<details>
				<summary>View decision details</summary>
					<table class="previous-awards-details">
						<tr>
							<td>Overlapping benefit</td>
							<td>Withheld CDI</td>
						</tr>
						<tr>
							<td>Bereavement Allowance</td>
							<td>0</td>
						</tr>
					</table>
			</details>
			<hr>

</div>