// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// boo strap
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// base
@import 'base/fonts';
@import 'base/colours';
@import 'base/slColours';
@import 'base/bootstrap';
@import 'base/globals';
@import 'base/forms';

// components

@import 'components/menu';
@import 'components/footer';
@import 'components/trace';
@import 'components/search';
@import 'components/local-nav';
@import 'components/account';

// things
@import 'components/trace-input-sex';
@import 'components/progressive-reveal';



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

label {
  font-weight: normal;
}

* {
    font-family: $sl-font;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

//searchlight

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//address
#address-pane {
  @include clearfix;
  .col {
    float: left;
    width: 33%;
  }
  h2 {
    margin-top :0;
    padding-top: 0;
  }
}

#postcode {
  width: 30%;
}

.secondary-button {
  @include button;
  box-shadow: 0 2px 0 #464646;
  &:visited {
    background-color: grey;
  }
}