// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// boot strap
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// base
@import 'base/fonts';
@import 'base/colours';
@import 'base/slColours';
@import 'base/bootstrap';
@import 'base/globals';
@import 'base/forms';

// components

@import 'components/menu';
@import 'components/footer';
@import 'components/trace';
@import 'components/search';
@import 'components/local-nav';
@import 'components/account';

// things
@import 'components/trace-input-sex';
@import 'components/progressive-reveal';



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

label {
  font-weight: normal;
}

* {
    font-family: $sl-font;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

//searchlight
.strong {
  font-weight: bold;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//address
#address-pane {
  @include clearfix;
  .col {
    float: left;
    width: 33%;
  }
  h2 {
    margin-top :0;
    padding-top: 0;
  }
  .column-one-third:last-child {
    text-align: right;
  }
}

#postcode {
  width: 30%;
}

.postcode-searched {
  .p1 {
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .p2 {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
  }
  margin-bottom: 10px;
}

.secondary-button {
  @include button;
  background-color: #dee0e2;
  color: black;
  box-shadow: 0 2px 0 rgba(0,0,0,.25);
  color: black;
  &:visited, &:hover, &:focus, &:link {
    color: black;
    background-color: #dee0e2;
    text-decoration: none;
  }
  &:hover {
    background-color: #bfbfbf;
  }
}

.form-date .form-group {
  width: 54px;
}

.update-header {
  margin-top :0;
  padding-top :0;
}

.multiple-choice [type=radio] + label::after {
  top: 7px!important;
  left: 7px!important;
}

.search-group {
  a {
    margin-left: 10px;
  }
}

#sl-account .sl-account-canvas {
  &.updater {
    min-height: 0;
    margin-bottom: 60px
  }
}

.form-control#edit-menu {
  width: 20%;
  float: right;
  font-family: "sl-font", Arial, sans-serif;
  font-size: 18px;
}

.js-enabled .js-hidden {
  display: none;
  visibility: hidden; 
}

.reveal-panel {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: unset;
}


.inline .multiple-choice label {
  margin-left: -5px;
  width: 34px;
}

.heading-medium.question {
  margin-bottom: 30px;
  padding-bottom: 0;
}

form, .question, label, .form-label, .form-label-bold, .form-label-bold, .form-date .form-group label {
  font-family: "sl-font", "Arial", sans-serif;
}


#updated-toaster {
  position: absolute;
  top: 100px;
  left: 900px;
  z-index: 5000;
}

#sl-account-primary-name {
  h1 {
    margin: 0;
    padding: 20px 0 0 0;
  }
}

.sl-account-age-metadata {
  color: $white;
  opacity: 0.67;
}

.nino-separator {
  margin-right: .1em;
}

.personal-details {
  .grid-row {
    margin-bottom: 20px;
    img {
      margin: -4px 4px 0 0;
    }
//    .sl-metadata {
//      font-size: .84em;
//    }
  }
}


#trace { 
  input {
    border: 2px solid black;
  }
}