<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="add-interest-handler">
      <fieldset>
        <div class="form-group">
          <label class="form-label" id="title" for="interest">Benefit type</label>
          <select  class="form-control" name="interest" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
            <option value="" selected="selected">Select benefit</option>
            <option value="Attendance Allowance" data-alternative-spellings="AA">Attendance Allowance</option>
            <option value="Bereavement Allowance" data-alternative-spellings="BA">Bereavement Allowance</option>
            <option value="Bereavement Benefit" data-alternative-spellings="BB">Bereavement Benefit</option>
            <option value="Bereavement Support Payment" data-alternative-spellings="BSP">Bereavement Support Payment</option>
            <option value="Carer's Allowance" data-alternative-spellings="CA">Carer's Allowance</option>
            <option value="Carers Credit" data-alternative-spellings="CC">Carers Credit</option>
            <option value="Child Benefit" data-alternative-spellings="CB">Child Benefit</option>
            <option value="Child Support Agency" data-alternative-spellings="CSA">Child Support Agency</option>
            <option value="Child Support Reform" data-alternative-spellings="CSR">Child Support Reform</option>
            <option value="Compensation Recovery Unit" data-alternative-spellings="CRU">Compensation Recovery Unit</option>
            <option value="Council Tax Benefit" data-alternative-spellings="CTB">Council Tax Benefit</option>
            <option value="Council Tax Reduction" data-alternative-spellings="CTR">Council Tax Reduction</option>
            <option value="Debt Management" data-alternative-spellings="DM" >Debt Management</option>
            <option value="Disability Living Allowance" data-alternative-spellings="DLA">Disability Living Allowance</option>
            <option value="Employment &amp; Support Allowance" data-alternative-spellings="ESA">Employment &amp; Support Allowance</option>
            <option value="Guardians Allowance" data-alternative-spellings="GA">Guardians Allowance</option>
            <option value="Healthcare Entitlement Case" data-alternative-spellings="HEC">Healthcare Entitlement Case</option>
            <option value="Housing Benefit" data-alternative-spellings="HB">Housing Benefit</option>
            <option value="Incapacity Benefit" data-alternative-spellings="IB">Incapacity Benefit</option>
            <option value="Income Support" data-alternative-spellings="IS">Income Support</option>
            <option value="Industrial Injuries Disablement Benefit" data-alternative-spellings="IIDB">Industrial Injuries Disablement Benefit</option>
            <option value="Jobseeker's Allowance" data-alternative-spellings="JSA">Jobseeker's Allowance</option>
            <option value="Local Authority Benefits" data-alternative-spellings="LAB">Local Authority Benefits</option>
            <option value="Maternity Allowance" data-alternative-spellings="MA">Maternity Allowance</option>
            <option value="New Tax Credits" data-alternative-spellings="NTC">New Tax Credits</option>
            <option value="Pension Credit" data-alternative-spellings="PC">Pension Credit</option>
            <option value="Personal Independence Payment" data-alternative-spellings="PIP">Personal Independence Payment</option>
            <option value="Severe Disablement Allowance" data-alternative-spellings="SDA">Severe Disablement Allowance</option>
            <option value="Social Fund" data-alternative-spellings="SF">Social Fund</option>
            <option value="State Pension" data-alternative-spellings="SP">State Pension</option>
            <option value="Universal Credits" data-alternative-spellings="UC">Universal Credits</option>
            <option value="Work Service Platform" data-alternative-spellings="WSP">Work Service Platform</option>
            <option value="War Pension" data-alternative-spellings="WP">War Pension</option>
            <option value="Winter Fuel Payment" data-alternative-spellings="WFP">Winter Fuel Payment</option>
          </select>
        </div>
      </fieldset>
      
<!--
      <fieldset>
        <div class="form-group">
          <legend>
            <p class="">
              Interest type
            </p>
          </legend>
          
          <div class="multiple-choice" data-target="contact-by-email">
            <input id="sys" type="radio" name="system" value="true">
            <label for="sys">System</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="clerical" type="radio" name="system" value="false">
            <label for="clerical">Clerical</label>
          </div>
          
          <div class="multiple-choice" data-target="contact-by-text">
            <input id="crl" type="radio" name="system" value="false">
            <label for="crl">Computer record location (CRL)</label>
          </div>
          
        </div> 
      </fieldset>
-->
      
        <div class="form-group prepop">
          <label class="form-label" for="startdate">Start date</label>
          <input class="form-control box-one" id="startdate" name="startdate" type="text">
          <a class="populate-link-one">Use today's date</a>
        </div>
              
      <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
    </form>
    
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>
