<h2 class="heading-medium question">Check your answers</h2>
<div class="grid-row">
  <div class="column-one-half">
    <div>
    <table class="table">
      {% if data['updateType'] === "endInterest" %}
        
        {% for item in data.tempInterests %}
          <p>{{item}}</p>
        {% endfor %}
        
        <tr>
          <td><span class="strong">Interest</span></td>
          <td>{{ data.tempInterest.title }}</td>
          <td><a>Change</a></td>
        </tr>
<!--
        <tr>
          <td><span class="strong">End date</span></td>
          <td>1/3/2018</td>
          <td><a>Change</a></td>
        </tr>
-->
        <tr>
      {% else %}
        <tr>
          <td><span class="strong">Interest type</span></td>
          {% if data.tempInterest.system === 'true' %}
            <td>System</td>
          {% else %}
            <td>Computer record location (CRL)</td>
          {% endif %}
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Benefit type</span></td>
          <td>{{ data.tempInterest.title }}</td>
          <td><a>Change</a></td>
        </tr>
<!--
        <tr>
          <td><span class="strong">Business system</span></td>
          <td>{{ data.interests[0].businessSystem }}</td>
          <td><a>Change</a></td>
        </tr>
-->
        <tr>
          <td><span class="strong">Start date</span></td>
          <td>{{ data.tempInterest.startDate }}</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
      {% endif %}
    </table>
  </div>
  <br>
  <div>
    <form method="get" action="../account">
      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>
    </form>
    <a href="../account">Cancel</a>
  </div>
  </div>
</div>