<h2 class="heading-medium question">What kind of change do you need to make?</h2>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="update-interest-handler">
      
      <legend class="visually-hidden">
        <p>
          What kind of change do you need to make?
        </p>
      </legend>
      
      <div class="form-group">

        <div class="multiple-choice">
          <input id="update" type="radio" name="data" value="parties">
          <label for="update">End interested parties</label>
        </div>
        
        <div class="multiple-choice">
          <input id="update" type="radio" name="data" value="parties">
          <label for="update">Transfer the interest</label>
        </div>
        
        {% set counter = 0 %}
        {% for interest in interests %}
          {% if interest.live === true %}
          {% set counter = counter + 1 %}
          {% endif %}
        {% endfor %}
        
        {% if counter === 1 %}
          <div class="multiple-choice">
            <input id="end-single" type="radio" name="data" value="end-single">
            <label for="end-single">End the interest</label>
          </div>
        {% else %}
          <div class="multiple-choice">
            <input id="end" type="radio" name="data" value="end">
            <label for="end">End interests</label>
          </div>
        {% endif %}
      
<!--
        <div class="multiple-choice">
          <input id="end" type="radio" name="data" value="end">
          <label for="end">End interests</label>
        </div>
-->
                
      </div> 
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="account">Cancel</a></p>
  </div>
</div>
