<details>
  <summary>View previous award based relationships interests</summary>

<!--
  <div class="grid-row first-row">
    <div class="column-one-third">
      <div class="column-one-half">
        <p>Start date</p>
      </div>
      <div class="column-one-half">
        <p>End date</p>
      </div>
    </div>

    <div class="column-one-third">
      <p>Relationship</p>
    </div>
  </div>

  <hr class="light">
-->

  <div class="grid-row first-row">
    <div class="column-one-third">
      <div class="column-one-half">
        <p>30 Jun 1980</p>
      </div>
      <div class="column-one-half">
        <p>3 Mar 2019</p>
      </div>
    </div>

    <div class="column-one-third">
      <ul class="sl-secondary-text-color sl-metadata">
        <li><a href="" class="under-link strong">MRS &nbsp;NATASHA  &nbsp;WILLIAMS</a></li>
        <li>Relationship&nbsp; · &nbsp;Spouse or Civil Partner</li>
        <li>Shared award&nbsp; · &nbsp;Bereavement benefit</li>
        <li>End reason&nbsp; · &nbsp;Death</li>
      </ul>
    </div>
  </div>

  <hr class="light">

</details>
