<div name="relationships" id="relationships_data" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Relationships</h2>
  <div id="sl-address-primary-card" class="sl-primary-card">
    <div>     
      <h3 class="strong">Paye relationships</h3>
      <p>No paye relationships</p>
    </div>
    
    <hr class="light">
    
    <div> 
      <div class="grid-row">
        <div class="column-two-thirds">
          <h3 class="strong">Award based relationships</h3>
        </div>
        
        <div class="column-one-third last-col">
<!--          <p><a class="secondary-link" href="/update/relationships/add">Add a relationship</a></p>-->
          <p><a class="secondary-link" href="">Add a relationship</a></p>
        </div>
      </div>
      
      <div class="grid-row">
        <div class="column-one-third">
          <p>Start date</p>
        </div>

        <div class="column-one-third">
          <p>Relationship</p>
        </div>
      </div>

      <hr class="light">
      
      <div class="grid-row">
        <div class="column-one-third">
          <p>30 Jun 1980</p>
        </div>
        <div class="column-one-third">
          <ul class="sl-secondary-text-color sl-metadata">
            <li><a href="" class="under-link strong">MR &nbsp;JAMES  &nbsp;WILLIAMS</a></li>
            <li>Relationship&nbsp; · &nbsp;Unknown</li>
            <li>Shared award&nbsp; · &nbsp;Carers allowance</li>
          </ul>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
            <li>
<!--              <a class="secondary-link" href="/update/relationships/type">Change</a>-->
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>
        </div>
      </div>
          
      <hr class="light">
      
      {% include "components/account2/relationships/previous.html" %}

    </div>
  </div>
</div>