    <div class="column-one-third">
      <div class="column-one-half">
        <p>30 Jun 1980</p>
      </div>
      <div class="column-one-half">
        <p>-</p>
      </div>
    </div>

    <div class="column-one-third">
      <ul class="sl-secondary-text-color sl-metadata">
        <li><a href="" class="under-link strong">MR &nbsp;JAMES  &nbsp;SMITH</a></li>
        <li>Relationship&nbsp; · &nbsp;Carers allowance</li>
        <li>Shared award&nbsp; · &nbsp;Carers allowance</li>
      </ul>
    </div>