{# <div class="panel panel-border-wide">
  <p>{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}}</p>
</div> #}

{% if data.ninoApplication.status != 2 %}

<p>The home office has verified <span class="strong">{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}}'s:</span></p>
<ul class="list list-bullet">
  <li>identity</li>
  <li>name</li>
  <li>right to work</li>
</ul>

<a class="button" href="nino-master-router?allocate=true">Allocate a NINO</a>

{% else %}

{% include "../application/application_details.html" %}

{% endif %}