<div class="personal-details">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="panel panel-border-wide">
        <p><span class="name-tab">Name: </span> <span>{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}}</span</p>
      </div>
    
      <table class="table verify-table">
        <tr>
          <td>Home office identification check</td>
          <td class="strong">
          {% if data.ninoApplication.HomeOfficeMatch == true %}
            Pass
          {% else %}
            Fail
          {% endif %}
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Right to work</td>
          <td class="strong">Pass</td>
          <td>&nbsp;</td>
        </tr>
      </table>

    </div>
  </div>

  {% if data.ninoApplication.status <= 1 %}
    <br>
    <a class="button" href="verify-data-handler?allocate=true">Allocate a NINO</a>
    <br>
    <br>
    <a class="under-link" href="verify-data-handler?allocate=false">Do not allocate</a>
  {% else %}
    <br>
    <a class="under-link" href="verify-data-handler?allocate=false">Back to all cases</a>
  {% endif %}
    
</div>

{% include "components/modals.html" %}