<div class="personal-details">
  
  <div class="">

    <ul class="">
      <li>Identity check</li>
      {% if data.ninoApplication.HomeOfficeMatch == true %}
        <li class="strong">Pass</li>
      {% else %}
        <li class="strong">Fail</li>
      {% endif %}
    </ul>
    
    <br>

    <ul class="">
      <li>Right to work</li>
      {% if data.ninoApplication.rightToWork == true %}
        <li class="strong">Pass</li>
      {% else %}
        <li class="strong">Fail</li>
      {% endif %}
    </ul>

  </div>

  <a href="verify-data-handler?allocate=true">Allocate</a>
  <a href="verify-data-handler?allocate=false">Don't allocate</a>
  
</div>

{% include "components/modals.html" %}