<div class="personal-details">
  
  <div class="">

    <ul class="">
      <li>Identity check</li>
      {% if data.ninoApplication.HomeOfficeMatch == true %}
        <li class="strong">Pass</li>
      {% else %}
        <li class="strong">Fail</li>
      {% endif %}
    </ul>
    
    <br>

    <ul class="">
      <li>Right to work</li>
      {% if data.ninoApplication.rightToWork == true %}
        <li class="strong">Pass</li>
      {% else %}
        <li class="strong">Fail</li>
      {% endif %}
    </ul>

  </div>

  {% if data.ninoApplication.status <= 1 %}
    <br>
    <a class="under-link" href="verify-data-handler?allocate=true">Allocate</a>
    <br>
    <br>
    <a class="under-link" href="verify-data-handler?allocate=false">Don't allocate</a>
  {% else %}
    <br>
    <a class="under-link" href="verify-data-handler?allocate=false">Back to all cases</a>
  {% endif %}
    
</div>

{% include "components/modals.html" %}