  <div class="grid-row">
    <div class="column-one-third">
      <p>Date of death</p>
    </div>

    <div class="column-one-third">
      <ul>
      <li class="strong">  {{data.citizen.dod.value}}  </li>
        <li class="multi-dates">
            {% if data.citizen.dod.level == 3 %}
              <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
              <span class="sl-metadata">Verified to level 3</span>
            {% elif data.citizen.dod.level == 2 %}
              <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
              <span class="sl-metadata">Verified to level 2</span>
            {% elif data.citizen.dod.level == 1 %}
              <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
              <span class="sl-metadata">Verified to level 1</span>
            {% elif data.citizen.dod.level == 0 %}
              <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
              <span class="sl-metadata">Not verified</span>
            {% endif %}
        </li>
      </ul>
    </div>

  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#death_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="/history/death-history" class="under-link">View history</a>
      </li>
      {% if data.guardianRole == true %}
      <li>
        <a href="change_pd/?personalDetail=dateOfDeath" class="under-link">Change</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
