<div class="grid-row wider-columns">
  <div class="column-one-third">
    Immigration status
  </div>

  <div class="column-one-third">

    <ul class="dwp-data">
      <li class="strong">{{data.citizen.immigration}}</li>
      <li class="sl-secondary-text-color">Source &nbsp;•&nbsp; DWP</li>
    </ul>

    <ul class="loading">
      <li> </li>
      <li> </li>
    </ul>
    
    <ul class="ho-data">
      <li class="strong">{{data.citizen.immigration}}</li>
      <li class="sl-secondary-text-color">Source &nbsp;•&nbsp; DWP</li>
      <li> </li>
      <li class="multi-dates strong ">Leave to remain</li>
      <li class="sl-secondary-text-color">Source &nbsp;•&nbsp; Home office</li>
    </ul>
    
  </div>

  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
      <li><a data-toggle="modal" data-target="#immigration_modal" class="under-link">View maintenance</a></li>
      </li>
    </ul>
  </div>

</div>