<hr class="light">

<div class="grid-row wider-columns">

  <div class="column-one-third">
    Nationality
  </div>

  <div class="column-one-third">

    <ul>
      <li>
        <span class="strong">{{data.citizen.nationality}}<br></span>
        <span class="sl-secondary-text-color">Source &nbsp;•&nbsp; DWP</span>
      </li>
    </ul>

    <ul class="loading">
      <li> </li>
      <li> </li>
    </ul>

    <ul class="ho-data">
      <li class="multi-dates">
      <span class="strong">{{data.citizen.nationality}}<br></span>
      <span class="sl-secondary-text-color">Source &nbsp;•&nbsp; Home Office</span>
      </li>
    </ul>

  </div>

  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#nationality_modal" class="under-link">View maintenance</a> 
      </li>
    </ul>
  </div>
</div>

<hr class="light">

<div class="grid-row wider-columns">
  <div class="column-one-third">
    Immigration status
  </div>

  <div class="column-one-third">

    <ul>
      <li class="strong">{{data.citizen.immigration}}</li>
      <li class="sl-secondary-text-color">Source &nbsp;•&nbsp; DWP</li>
    </ul>

    <ul class="loading">
      <li> </li>
      <li> </li>
    </ul>
    
    <ul class="ho-data">
      <li class="multi-dates strong ">{{data.citizen.immigration}}</li>
      <li class="sl-secondary-text-color">Source &nbsp;•&nbsp; Home office</li>
    </ul>
    
  </div>

  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
      <li><a data-toggle="modal" data-target="#immigration_modal" class="under-link">View maintenance</a></li>
      </li>
    </ul>
  </div>

</div>

<hr class="light">

<a id="horeveal" class=" button secondary-button">Get Home Office data </a>
    
  <div class="grid-row wider-columns">
    <div class="column-one-third">
      <ul class="loading">
        <li> </li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul class="loading">
        <li> </li>
      </ul>
    </div>
  </div>

<div class="grid-row wider-columns">
  <div class="column-one-third ho-data">
    Access to public funds
  </div>
  <div class="column-one-third ho-data">
    <ul>
    {% if data.citizen.publicFunds == true %}
      <li class="strong">Yes</li>
      <li class="sl-secondary-text-color sl-metadata">Since 1 Jan 2019</li>
    {% endif %}
    </ul>
  </div>
</div>


{# 



<details>
  <summary>
    <span class="summary">Show immigration and nationality details</span>
  </summary>

  <p class="data-source sl-secondary-text-color sl-metadata">Data from the Home Office</p>
    <hr class="light">
    {% for detailName, value in data.citizen %}
      {% if value != null %}
        {% if detailName == "indIndicator" %}
          {% include "./nationality-interest.html" %}
          <hr class="light">
        {% elif detailName == "nationality" %}
          {% include "./nationality.html" %}
          <hr class="light">
        {% elif detailName == "publicFunds" %}
          {% include "./publicfunds.html" %}
          <hr class="light">
        {% elif detailName == "immigration" %}
          {% include "./immigration.njk" %}
          <hr class="light">
        {% endif %}
      {% endif %}
    {% endfor %}
</details> #}