<div class="grid-row no-margin">
  <div class="column-one-third">
    <ul>
      <li>Immigration and nationality interest</li>
    </ul>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="bold">
        {% if data.personalDetails.INDIndicator.value %}
          Yes
        {% else %}
          No
        {% endif %}
        
      </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a href="change_pd/?personalDetail=INDIndicator" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>