<div class="grid-row">
  <div class="column-two-thirds">
    <p style="margin-bottom:10px;"><span class="bold">This account may be subject to identity fraud.</span><br>
      Before speaking to the customer, contact the Identity Fraud Team on 0191 000 000.</p>
<!--      Do not alert the customer and call the Identity Fraud Team on 0191 000 000.</span></p>-->
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>


<!--
<div class="grid-row">
  <div class="column-one-third">
    <p style="margin-bottom:10px;"><span class="">Identity Fraud interest</span></p>
  </div>
  <div class="column-one-third">
    <p style="margin-bottom:10px;"><span class="strong">Yes</span></p>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
-->
