<div class="grid-row names wider-columns">
  <div class="column-one-third">
    <ul>
      <li>Post office</li>
    </ul>
  </div>
  <div class="column-one-third">
    <ul class="">
      <li class="strong">
        Greendale<br>
        1 Current Crescent<br>
        Gateshead<br>
        NE1 1HH<br>
      </li>
      <li class="sl-secondary-text-color sl-metadata">
        Post office code&nbsp; · &nbsp;1234567
      </li>
    </ul> 
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="../history/sex-history" class="under-link">View history</a>
      </li>
    </ul>
  </div>
</div>