{% extends "notifications/v3/notifications.html" %}

{% block page_title %}
  Search
{% endblock %}

{% block content %}
  
  {% include "components/notifications/v3/page-one-content.njk" %}

{% endblock %}


