<!-- Name one modal -->
<div class="modal fade" id="name_one_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Name type 1 maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Name two modal -->
<div class="modal fade" id="name_two_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Name type 2 maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Requested name modal -->
<div class="modal fade" id="requested_name_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Requested name maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pv modal -->
<div class="modal fade" id="pv_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Potentially violent maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Residential address maintenance -->
<div class="modal fade" id="newinterest" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Interested parties for Employment and Support Allowance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office">PRESTON BDC</li>
              <li class="office-code">Office code 207701</li>
              <li class="date">Declared an interest on 8 Feb 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Broadcasting interest</li>
              <li class="office">PRESTON BDC</li>
              <li class="office-code">Office code 207701</li>
              <li class="date">Declared an interest on 8 Feb 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Residential address maintenance -->
<div class="modal fade" id="res-address" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>new interest maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Name maintenance -->
<div class="modal fade" id="name_modal-v3" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Name maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="title">Name 2 </li>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="change-data">
          <div>
            <ul>
              <li class="title">Name 1</li>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Date of birth maintenance -->
<div class="modal fade" id="birth_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Date of birth maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="title">Date of birth </li>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li class="contact">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="death_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Date of death maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="title">Date of death </li>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li>Telephone number</li>
              <li>0191 123 456</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="change-data">
          <div>
            <ul>
              <li class="title">Verification level </li>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li>Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- updateTwo -->
<div class="modal fade" id="spoken_language" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Preferred language maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- updateTwo -->
<div class="modal fade" id="update_two" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>title for example 'Residential address maintenance'</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- updateTwo -->
<div class="modal fade" id="interest_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Interest maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on {{data['updateTwo']}}</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Name 3 -->
<!--
<div class="modal fade" id="name_3" role="dialog">
  <div class="modal-dialog">
     content
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on 1 Dec 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- Name 2 -->
<div class="modal fade" id="name_2" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on 11 Sep 2010</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Name 1 -->
<div class="modal fade" id="name_1" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on 1 Jan 2006</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Name -->
<div class="modal fade" id="name_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Business system PSCS</li>
              <li class="office">Glasgow South DO</li>
              <li class="office-code">Office code 1234</li>
              <li class="date">Changed on 14 Dec 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
<!--
      <div class="modal-footer">
        <a type="button" class="button" href="previous-names">View change history</a>
      </div>
-->
    </div>
  </div>
</div>

<div class="modal fade" id="unnamed" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Interested parties for Personal Independence Payment</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office-code">Office code 60010</li>
              <li class="date">Declared an interest on 5 Sep 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">No contact number</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Interested parties for Housing Benefit</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office">CHESTER LE STREET DC</li>
              <li class="office-code">Office code 60010</li>
              <li class="date">Declared an interest on 30 Apr 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">No contact number</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sex" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Interested parties for Housing Benefit</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="system">Owning interest</li>
              <li class="office">CHESTER LE STREET DC</li>
              <li class="office-code">Office code 60010</li>
              <li class="date">Declared an interest on 30 Apr 2016</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">No contact number</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- DOB 2 -->
<div class="modal fade" id="dob-v2" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Date of birth maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="office-code">Date of birth</li>
              <li class="date">Changed on 15 Feb 2018</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>Telephone number</li>
              <li>0191 123 456</li>
            </ul>
          </div>
        </div>
<!--
        <hr>
        <div class="change-data">
          <div>
            <ul>
              <li class="office-code">Verification level </li>
              <li class="date">Changed on 15 Feb 2018</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
-->
      </div>
    </div>
  </div>
</div>



<!-- ************* -->
<!-- **** NEW **** -->
<!-- ************* -->

<!-- Creation -->
<div class="modal fade" id="creation" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['creation']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- immigration -->
<div class="modal fade" id="immigration_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Immigration maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['creation']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Creation -->
<div class="modal fade" id="creation_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Account creation maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
<!--              <li class="date">Created on 01 Jan 1990</li>-->
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
<!--              <li class="contact-type">&nbsp;</li>-->
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- updateOne -->
<div class="modal fade" id="update_one" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['updateOne']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- updateThree -->
<div class="modal fade" id="update_three" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['updateThree']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- updateThree -->
<div class="modal fade" id="update_four" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Maintenance information</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['updateFour']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- updateTwo -->
<div class="modal fade" id="correspondence_modal" role="dialog">
  <div class="modal-dialog">
    <!-- content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="closes under-link" data-dismiss="modal">Close</a>
        <p>Correspondence address maintenance</p>
      </div>
      <div class="modal-body">
        <div class="change-data">
          <div>
            <ul>
              <li class="date">Changed on {{data['updateTwo']}}</li>
              <li>Glasgow South DO</li>
              <li>Office code 1234</li>
              <li>Business system PSCS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="contact-type">&nbsp;</li>
              <li class="contact-type">Telephone number</li>
              <li class="number">0191 123 456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
