<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Date of birth</li>
        <li>{{data['dob']}}</li>
        <li>28 Feb 1940</li>
      </ul>
      <ul class="">
        <li>Verification level</li>
        <li>2</li>
        <li>2</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>{{data['updateTwo']}}</li>
        <li>{{data['creation']}}</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
        <li>DCI</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Not available</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
        <li>Not available</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>01255 123 456</li>
        <li>Not available</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}