<h2 class="heading-medium question">Check your answers</h2>
<div class="grid-row">
  <div class="column-one-half">
    <div>
    <table class="table">
      
    {% if updatetype === "updateRemoveCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "addCorrespondence" %}
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateNew" %}
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New address</span></td>
        <td>{{addresstwo}} {{addressfour}}</td>
        <td><a>Change</a></td>
      </tr>
<!--
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td><a>Change</a></td>
      </tr>
-->
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>{{editdate}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "correctNew" %}
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New address</span></td>
        <td>{{addresstwo}} {{addressfour}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateStatus" or updatetype === "updateStatusDLO" or updatetype === "updateStatusLive" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>{{currentstatus}}</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>{{newstatus}}</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
          
    {% if updatetype === "end" %}
      <tr>
        <td><span class="strong">End date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateCherish" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>

    {% endif %}
    
    {% if updatetype === "correctStatus" or updatetype === "correctStatusDlo" or updatetype === "correctStatusLive" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>{{currentstatus}}</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>{{newstatus}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
         
    {% if updatetype === "correctDate" %}
      <tr>
        <td><span class="strong">Current start date</span></td>
        <td>26 October 1990</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">Current notified date</span></td>
        <td>26 October 1990</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New start date</span></td>
        <td>30 November 1990</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">New notified date</span></td>
        <td>26 October 1990</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    {% if updatetype === "correctCherish" %}
      <tr>
        <td><span class="strong">Current cherished line</span></td>
        <td>Flat A</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New cherished line</span></td>
        <td>Flat B</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    </table>
  </div>
  <br>
  <div>
    <form method="get" action="check-answers-handler">
      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>
    </form>
    <a href="account">Cancel</a>
  </div>
  </div>
</div>