<h2 class="heading-medium question">Check your answers</h2>
<div class="grid-row">
  <div class="column-one-half">
    <div>
    <table class="table">
      
    <!-- corrections -->
    {% if correctiontype === "add" or correctiontype === "status" or correctiontype === "date"%}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>6 Church Street, Gateshead, NE1 1HH</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    {% if correctiontype === "status" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>Live</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>Dead letter office</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    {% if correctiontype === "date" %}
      <tr>
        <td><span class="strong">Current start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">New start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    <!-- updates -->
    {% if updatetype === "status" or updatetype === "dlo" %}
      <tr>
        <td><span class="strong">Address status</span></td>
        <td>Dead letter office</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "address" or updatetype === "cherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Rose Cottage</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    {% if updatetype === "address" or updatetype === "dlo" or updatetype === "cherish" or updatetype === "status" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>7 Church Street, Gateshead, NE1 1HH</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
    {% endif %}
    {% if updatetype === "add" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>7 Post Street, Gateshead, NE1 111</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    {% if updatetype === "address" or updatetype === "status" or updatetype === "add" or updatetype === "cherish" or updatetype === "dlo"  %}
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    </table>
  </div>
  <br>
  <div>
    <form method="get" action="check-answers-handler">
      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>
    </form>
    <a href="account">Cancel</a>
  </div>
  </div>
</div>