<h2 class="heading-medium question">Check your answers</h2>
<div class="grid-row">
  <div class="column-one-half">
    <div>
    <table class="table">
      
    {% if updatetype === "addCorrespondence" %}
      
      <tr>
        <td><span class="strong">Correspondence address</span></td>
        <td>7 Post Street, Gateshead, Tyne and Wear NE11 4HN</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateNew" %}
      
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>4 Old Street, Gateshead, Tyne and Wear NE11 4HN</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New address</span></td>
        <td>6 Church Street, Gateshead, NE1 1HH</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Rose Cottage</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "correctNew" %}
      
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>4 Main Street, Gateshead, Tyne and Wear, NE14 1HN</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New address</span></td>
        <td>4 Other Street, Gateshead, Tyne and Wear, NE41 1HN</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateStatus" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>Live</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>Dead letter office</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateStatusDLO" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>Live</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>Dead letter office</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    
    {% if updatetype === "end" %}
      <tr>
        <td><span class="strong">End date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    {% if updatetype === "updateCherished" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>4 Main Street, Gateshead, Tyne and Wear NE14 1HN</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notify date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>

    {% endif %}
    
    {% if updatetype === "correctStatus" or updatetype === "correctStatusDlo" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>Live</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>Dead letter office</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
   {% if updatetype === "updateStatusLive" or updatetype === "correctStatusLive" %}
      <tr>
        <td><span class="strong">Current status</span></td>
        <td>Dead letter office</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">New status</span></td>
        <td>Live</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
   
      
      
      
      

    {% if correctiontype === "updateNew" or correctiontype === "correctStart" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>6 Church Street, Gateshead, NE1 1HH</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

      
    {% if correctiontype === "correctNew" %}
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>4 Main Street, Gateshead, Tyne and Wear, NE14 1HN</td>
        <td></td>
      </tr>
      <tr>
        <td><span class="strong">Corrected address</span></td>
        <td>4 Other Street, Gateshead, Tyne and Wear, NE41 1HN England</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      

    

    {% if correctiontype === "correctStart" %}
      <tr>
        <td><span class="strong">Current start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">New start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    </table>
  </div>
  <br>
  <div>
    <form method="get" action="check-answers-handler">
      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>
    </form>
    <a href="account">Cancel</a>
  </div>
  </div>
</div>