<h2 class="heading-medium question">Check your answers</h2>
<div class="grid-row">
  <div class="column-one-half">
    <div>
    <table class="table">
      
    <!-- Add -->
    {% if data.updateType == 1 %}
      <tr>
        <td><span class="strong">Correspondence address</span></td>
        <td>{{addressthree}} {{addressfour}}</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}  

    <!-- Update -->
    {% if data.updateType == 2 %}
      <!-- End as update -->
      {% if data.tempValue == 5 %}
        <tr>
          <td><span class="strong">Update type</span></td>
          <td>End</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">End date</span></td>
          <td>1 December 2017</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Notified end date</span></td>
          <td>19 December 2017</td>
          <td><a>Change</a></td>
        </tr>
      {% elif data.tempValue == 'status' %}  
        <tr>
          <td><span class="strong">Status</span></td>
          <td>
            {{data.tempStatus | statusAsAString}}
          </td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Start date</span></td>
          <td>9 December 2017</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Notified start date</span></td>
          <td>11 December 2017</td>
          <td><a>Change</a></td>
        </tr>
      {% else %}  
        <tr>
          <td><span class="strong">{{data.addressType | capitalize}} address</span></td>
          <td>{{addressthree}} {{addressfour}}</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Start date</span></td>
          <td>9 December 2017</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Notified start date</span></td>
          <td>11 December 2017</td>
          <td><a>Change</a></td>
        </tr>
      {% endif %}  
    {% endif %}  
      
    <!-- Correct -->
    {% if data.updateType == 3 %}
      <!-- End as correct -->
      {% if data.tempValue == 5 %}
        <tr>
          <td><span class="strong">Correction type</span></td>
          <td>End</td>
          <td><a href="type">Change</a></td>
        </tr>
      {% elif data.tempValue == 'status' %}  
        <tr>
          <td><span class="strong">Status</span></td>
          <td>
            {{data.tempStatus | statusAsAString}}
          </td>
          <td><a>Change</a></td>
        </tr>
      {% else %}  
        <tr>
          <td><span class="strong">{{data.addressType | capitalize}} address</span></td>
          <td>{{addressthree}} {{addressfour}}</td>
          <td><a>Change</a></td>
        </tr>
      {% endif %}  
    {% endif %}  
      
    <!-- End as correct -->
    {% if data.updateType == 5 %}

    {% endif %}  


      
      
      
    
      
    <!-- End Correspondence -->
    {% if data['updateType'] === "end" %}
      <tr>
        <td><span class="strong">End date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified end date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    <!-- Update to new -->
    {% if data['updateType'] === "updateNew" %}
      <tr>
        <td><span class="strong">New address</span></td>
        <td>{{addresstwo}} {{addressfour}}</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>{{editdate}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    <!-- Update status -->
    {% if data['updateType'] === "updateStatus" or data['updateType'] === "updateStatusDLO" or data['updateType'] === "updateStatusLive" %}
      <tr>
        <td><span class="strong">Status</span></td>
        <td>{{newstatus}}</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    
    <!-- Update add cherished line -->
    {% if data['updateType'] === "updateAddCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}    
      
    <!-- Update remove cherished line -->
    {% if data['updateType'] === "updateRemoveCherish" %}
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>9 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>11 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    <!-- Update change the cherished line -->
    {% if data['updateType'] === "updateChangeCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat B</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    
    <!-- -----*----- -->
    <!-- Corrections -->
    <!-- -----*----- -->
      
    <!-- Correct to a new address -->
    {% if data['updateType'] === "correctNew" %}
<!--
      <tr>
        <td><span class="strong">Current address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td> </td>
      </tr>
-->
      <tr>
        <td><span class="strong">Address</span></td>
        <td>{{addresstwo}} {{addressfour}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    <!-- Correct the status -->
    {% if data['updateType'] === "correctStatus" or data['updateType'] === "correctStatusDlo" or data['updateType'] === "correctStatusLive" %}
      <tr>
        <td><span class="strong">Status</span></td>
        <td>{{newstatus}}</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
      
    <!-- Correct the start date -->
    {% if data['updateType'] === "correctDate" %}
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>30 November 1990</td>
        <td><a>Change</a></td>
      </tr>
<!--
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>01 Jan 1990</td>
        <td><a>Change</a></td>
      </tr>
-->
    {% endif %}

    <!-- Correct the notified start date -->
    {% if data['updateType'] === "correctDateNotified" %}
      <tr>
        <td><span class="strong">Notified start date</span></td>
        <td>01 Jan 1990</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    <!-- Correct add a cherished line -->
    {% if data['updateType'] === "correctAddCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat A</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    <!-- Correct update a cherished line -->
    {% if data['updateType'] === "correctChangeCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat B</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}

    <!-- Correct remove a cherished line -->
    {% if data['updateType'] === "correctRemoveCherish" %}
      <tr>
        <td><span class="strong">Address</span></td>
        <td>{{addressone}} {{addressfour}}</td>
        <td></td>
      </tr>
    {% endif %}
                   
    <!-- Update change the cherished line -->
    <!--
    {% if data['updateType'] === "updateCherish" %}
      <tr>
        <td><span class="strong">Cherished line</span></td>
        <td>Flat B</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Start date</span></td>
        <td>1 December 2017</td>
        <td><a>Change</a></td>
      </tr>
      <tr>
        <td><span class="strong">Date notified</span></td>
        <td>19 December 2017</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    -->
      
    <!--
    {% if data['updateType'] === "correctCherish" %}
      <tr>
        <td><span class="strong">Current cherished line</span></td>
        <td>Flat A</td>
        <td> </td>
      </tr>
      <tr>
        <td><span class="strong">New cherished line</span></td>
        <td>Flat B</td>
        <td><a>Change</a></td>
      </tr>
    {% endif %}
    -->

    </table>
  </div>
  <br>
  <div>
    <form method="get" action="check-address-handler"> <!-- check-answers-handler -->
      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>
    </form>
    <a href="/account2/account">Cancel</a>
  </div>
  </div>
</div>