<h2 class="heading-medium question">
  What are the start and notified dates?
</h2>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="check">
      
    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">
            Start date
          </span>
        </legend>
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="dob-month">Month</label>
            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2019">
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">
              Notified date
            </span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2019">
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <a href="account">Cancel</a>
  </div>
</div>