<h2 class="heading-medium question">
  {% if updatetype === "end" %}
      What is the end date and the notified end date?
  {% elif updatetype === "correctDateNotified" %}
      What is the notified start date?
  {% elif updatetype === "correctDate" %}
      Which date do you need to correct?
  {% else %}
      What is the start date and the notified start date?
  {% endif %}
</h2>

<div class="panel panel-border-wide">
  <ul>
    <li>
      Current start date: <span class="">01 Jan 1990</span>
    </li>
    <li>
      Current notified start date: <span class="">01 Jan 1990</span>
    </li>
  </ul>
</div>

  {% if updatetype === "correctDate" %}
    <p>Select all that apply</p>
  {% endif %}

<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="dates-handler">

      {% if updatetype === "correctDateNotified" %}
      <div class="form-group">
        <fieldset>
          <label class="form-label" for="full-name-f1">
            <span class="form-hint">
              For example 31 8 1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
      </div>
      
      {% elif updatetype === "correctDate" %}
        <div class="form-group">
          <fieldset>

            <div class="multiple-choice" data-target="start-date">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="start">
              <label for="nationalities-other">Start date</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="start-date">
              <label class="form-label" for="start-date">
                What is the start date?
                <span class="form-hint">
                  For example 31 8 1979
                </span>
              </label>
              <input class="form-control" type="text" id="start-date" name="start-date">
            </div>

            <div class="multiple-choice" data-target="notified-date">
              <input id="notified" name="notified" type="checkbox" value="notified">
              <label for="notified">Notified start date</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="notified-date">
            <label class="form-label" for="start-date">
              What is the notified start date?
              <span class="form-hint">
                For example 31 8 1979
              </span>
            </label>
              <input class="form-control" type="text" id="start-date" name="start-date">
            </div>

          </fieldset>
        </div>
      {% else %}
      
      <div class="form-group">
        <fieldset>
          <label class="form-label" for="full-name-f1">
          {% if updatetype === "end" %}
            End 
          {% else %}
            Start
          {% endif %}
            date
            <span class="form-hint">
              For example 31 8 1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
            <label class="form-label" for="full-name-f1">
              Notified start date
            </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
      </div>
      
      {% endif %}
 
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <a href="account">Cancel</a>
  </div>
</div>