<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history dob-history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>National Insurance number</li>
        <li>SX17020100</li>
      </ul>
      <ul>
        <li>Date changed</li>
        <li>5 Jun 2010</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>SEF</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Not available</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>Not available</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}