  <div class="personal-details">
    
    <div class="history name-history">
      <ul class="">
        <li>Type</li>
        <li>Type 2</li>
        <li>Type 1</li>
        <li>Type 1</li>
      </ul>
      <ul class="">
        <li>Title</li>
        <li>Mr</li>
        <li>Mr</li>
        <li>Mr</li>
      </ul>
      <ul class="">
        <li>First name</li>
        <li>TOM</li>
        <li>TOM</li>
        <li>THOMAS</li>
      </ul>
      <ul class="">
        <li>Last name</li>
        <li>JONES</li>
        <li>SMITH</li>
        <li>HARRISON</li>
      </ul>
      <ul class="">
        <li>Suffix</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
      <ul>
        <li>Name start date</li>
        <li>5 Jun 2010</li>
        <li>20 May 1990</li>
        <li>11 Jan 1980</li>
      </ul>
      <ul>
        <li>Name end date</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>19 May 1990</li>
      </ul>
      <ul>
        <li>Maintenance</li>
        <li><a data-toggle="modal" data-target="#update_two" class="under-link">View</a></li>
        <li><a data-toggle="modal" data-target="#update_one" class="under-link">View</a></li>
        <li><a data-toggle="modal" data-target="#creation" class="under-link">View</a></li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}