<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history">
      <h3 class="heading-small">Name</h3>
      <ul class="">
        <li>Type</li>
        <li>Type 1</li>
        <li>Type 2</li>
      </ul>
      <ul class="">
        <li>Title</li>
        <li>Mr</li>
        <li>Mr</li>
      </ul>
      <ul class="">
        <li>Name</li>
        <li>Tom Smith</li>
        <li>Thomas Smith</li>
      </ul>
      <ul class="">
        <li>Suffix</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
<!--
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
        <li>PSCS</li>
      </ul>
-->
<!--
      <ul>
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Glasgow South DO</li>
      </ul>
-->
<!--
      <ul class="">
        <li>Office code</li>
        <li>1234</li>
        <li>1234</li>
      </ul>
-->
<!--
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
        <li>0191 123 456</li>
      </ul>
-->
      <ul>
        <li>Name start date</li>
        <li>14 Dec 2016</li>
        <li>8 Feb 1976</li>
      </ul>
      <ul>
        <li>Name end date</li>
        <li>14 Dec 2016</li>
        <li>8 Feb 1976</li>
      </ul>
      <ul>
        <li>Maintenance</li>
        <li><a data-toggle="modal" data-target="#name_modal" class="under-link">View</a></li>
        <li><a data-toggle="modal" data-target="#name_modal" class="under-link">View</a></li>
      </ul>
    </div>
    
  </div>