<h2 class="heading-medium question">What kind of change do you need to make?</h2>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="update-type-handler">
      
      <legend class="visually-hidden">
        <p>
          What kind of change do you need to make?
        </p>
      </legend>
      
      <div class="form-group">

        <div class="multiple-choice" data-target="contact-by-email">
          <input id="update" type="radio" name="update-correct" value="update">
          <label for="update">Update</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <fieldset>
            <div class="multiple-choice">
              <input id="address" type="radio" name="data" value="address">
              <label for="address">Update to a new address</label>
            </div>
            <div class="multiple-choice">
              {% if correspondence === false %}
                <input id="dlo" type="radio" name="data" value="dlo">
                <label for="dlo">Update the status to dead letter office</label>
              {% else %}
                <input id="status" type="radio" name="data" value="status">
                <label for="status">Update the status</label>
              {% endif %}
            </div>
            <div class="multiple-choice">
              <input id="cherish" type="radio" name="data" value="cherish">
              <label for="cherish">Add a cherished line</label>
            </div>
          </fieldset>
        </div>
      
        <div class="multiple-choice" data-target="contact-by-text">
          <input id="example-contact-by-text" type="radio" name="update-correct" value="correct">
          <label for="example-contact-by-text">Correct a mistake</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <fieldset>
              <div class="multiple-choice">
                <input id="correct-address" type="radio" name="data" value="correct-address">
                <label for="correct-address">Correct to a new address</label>
              </div>
              <div class="multiple-choice">
                <input id="correct-status" type="radio" name="data" value="correct-status">
                <label for="correct-status">Correct the status</label>
              </div>
              <div class="multiple-choice">
                <input id="correct-date" type="radio" name="data" value="correct-date">
                <label for="correct-date">Correct the start date</label>
              </div>
              <div class="multiple-choice">
                <input id="correct-cherish" type="radio" name="data" value="correct-cherish">
                <label for="correct-cherish">Correct the cherished line</label>
              </div>
          </fieldset>
        </div>  
        
      </div> 
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="account">Cancel</a></p>
  </div>
</div>
