<!--  account-canvas wraps whole page (hence name canvas)-->
<div class="sl-account-canvas row updater slim-header">
  <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
    <div class="sl-account-canvas-width">

      <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">

        <a class="link-back" onCLick="history.back()">Back</a>  
        
        <h2 class="title">
          {% if data.updateType == 1 %} 
            Add a
          {% elif data.updateType == 2 %}
            Update their
          {% elif data.updateType == 3 %}
            Correct their
          {% else %}
            Change their
          {% endif %}
          
          {% if data.nameType == "nameOne" %} 
              name type 1
            {% elif data.nameType == "nameTwo" %}
              name type 2
            {% elif data.nameType == "requestedName" %}
              requested name
            {% endif %}

        </h2>
        
        <div id="sl-address-primary-card" class="sl-primary-card last-card">
          <div id="address-pane">
                {% include "./content.html" %}
        </div>
      </div>
    </div>
  </div>
</div>