<div class="grid-row" id="correspondence">
  <div class="column-one-third" >
    <ul>
      <li>Correspondence address</li>
      {% if correspondence == true %}
        <li class="sl-secondary-text-color sl-metadata">
          {{editDate}} - present
        </li>
      {% endif %}
    </ul>
  </div>
  {% if correspondence === true %}
    {% include "./correspondence-details.html" %}
  {% else %}
    <div class="column-one-third">
    </div>
    <div class="column-two-thirds column-last">
      <ul class="edit-menu">
        <li>
          <a class="secondary-link" href="update-type-handler?data=add_correspondence">Add a correspondence address</a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>