  <div class="grid-row">

    <div class="column-two-thirds">
      
      <h2 class="heading-medium">What kind of contact type is it?</h2>
      
      <form class="form" method="get" action="telephone">

        <fieldset class="form-group">
          <legend class="visuallyhidden">Contact type</legend>
          
          <div class="multiple-choice" data-target="contact-by-phone">
            <input id="home" type="radio" name="data" value="home">
            <label for="home">Telephone</label>
          </div>
<!--
          <div class="multiple-choice" data-target="contact-by-mobile">
            <input id="mobile" type="radio" name="data" value="mobile">
            <label for="mobile">Mobile telephone</label>
          </div>
-->
          <div class="multiple-choice" data-target="contact-by-email">
            <input id="email" type="radio" name="data" value="email">
            <label for="email">Email</label>
          </div>

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
        <p><a href="../../search">Cancel</a></p>
    </div>

  </div>
     

