  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="contact-question">

          <div class="form-group">
            <fieldset class="inline">

              <legend class="">
                <h1 class="visually-hidden">
                  Do you need to add another address for this person? 
                </h1>
              </legend>

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label for="radio-inline-2">No</label>
              </div>

            </fieldset>
          </div>
                <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        </form>
        <p><a href="../../search">Cancel</a></p>
        
        <hr>
        <div class="">
          <p>
            <span class="heading-small">Already added</span><br>
            1 Current Crescent, Gateshead, Tyne &amp; Wear NE11 1HH
          </p>
        </div>

    </div>

  </div>
     

