  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="sex">

        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">
            Date of birth
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <fieldset class="form-group">
          <p class="">What level has the person's date of birth been verified to?</p>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Not verified</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Verified to level 1</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Verified to level 2</label>
          </div>
        </fieldset>


        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
        <p><a href="../../search">Cancel</a></p>
    </div>

  </div>
     

