<div class="grid-row">

  <div class="column-two-thirds">

    <form class="form" method="get" action="another-contact">
      
      <fieldset class="form-group">
        <legend class="">Is this a personal or business number?</legend>
        <div class="multiple-choice">
          <input id="home" type="radio" name="sub-data" value="home">
          <label for="home">Personal</label>
        </div>
        <div class="multiple-choice">
          <input id="work" type="radio" name="sub-data" value="work">
          <label for="work">Business</label>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label class="form-label" for="contact-text-message">Mobile telephone number</label>
        <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
      </fieldset>

      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>

    </form>
      <p><a href="../../search">Cancel</a></p>
  </div>

</div>