  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="marital">

        <fieldset class="form-group">
          <legend class="visuallyhidden">Nationality</legend>
          <label class="form-label" for="nationality">Nationality</label>
          <input class="form-control" id="nationality" type="text" name="nationality">
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
      <p><a href="task-list">Cancel</a></p>
      
    </div>

  </div>
     

