  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="name">

        <fieldset class="form-group">
          <legend class="visuallyhidden">National insurance number</legend>
          <label class="form-label" for="full-name-f1">National insurance number</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <fieldset class="form-group">
          <legend class="visuallyhidden">Creation date</legend>
          <label class="form-label" for="full-name-f1">Creation date</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Creation office</legend>
          <label class="form-label" for="full-name-f1">Creation office</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      <p><a href="../../search">Cancel</a></p>
      
    </div>

  </div>
     

