  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="verification">

        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="male" type="radio" name="data" value="male">
            <label for="male">Male</label>
          </div>
          <div class="multiple-choice">
            <input id="female" type="radio" name="data" value="female">
            <label for="female">Female</label>
          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
        <p><a href="../../search">Cancel</a></p>
    </div>

  </div>
     

