  <div class="grid-row">

    <div class="column-two-thirds">
      
      <h1 class="question-title">Prototype setup page</h1>
      
      <form class="form" method="get" action="v1-type-handler">

        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="create" type="radio" name="data" value="create">
            <label for="create">Create account</label>
          </div>
          <div class="multiple-choice">
            <input id="update" type="radio" name="data" value="update">
            <label for="update">Update or insert an account</label>
          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
    </div>

  </div>
     

