  <h2 class="heading-medium question">Check your answers</h2>
    <div class="grid-row">
      <div class="column-one-half">
        <table class="table"> 
          {% if data.preGra.state != "correcting" and data.gra.state != "correcting" %}
            <tr>
              <td><span class="strong">Sex</span></td>
              <td>
                {{data.sex}}
<!--
                {% if data.sex == "Male" %}
                  Female
                {% else %}
                  Male
                {% endif %}
-->
              </td>
              <td>
                <a>&nbsp;</a>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td><span class="strong">Effective date of gender change</span></td>
            <td>{{data['prepopulatedDate']}}</td>
            <td><a>Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Notified or decision date</span></td>
            <td>{{data['prepopulatedDate']}}</td>
            <td><a>Change</a></td>
          </tr>
        </table>
      <br>
      <form method="get" action="check-gender-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account2/account">Cancel</a>
    </div>
  </div>
