<div class="grid-row">
  
  <div class="column-one-half">
    
    <form method="get" action="update-gender-handler">
      
      <legend class="visually-hidden">
        <p class="">
          What do you need to add?
        </p>
      </legend>
      
<!--
      {% if data.sexChanged == true %}
        {% if data.gra.state != "correcting" and data.preGra.state != "correcting" %}
          <div class="form-group">
            <fieldset>
              <legend>
                <p class="radio-header">Sex</p>
              </legend>

              <div class="multiple-choice">
                <input id="radio-1" type="radio" value="Male" name="data" {% if data.sex == "Male" %} checked="checked" {% endif %}>
                <label for="radio-1">Male</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-2" type="radio" value="Female" name="data" {% if data.sex == "Female" %} checked="checked" {% endif %}>
                <label for="radio-2">Female</label>
              </div>
            </fieldset>
          </div>
        {% endif %}
      {% endif %}
-->
      
      <fieldset class="form-group">
        <label class="form-label" for="postcode">
          Effective date of gender change
          <span class="form-hint">
            For example 31/8/1979
          </span>
        </label>
        <input {% if data.gra.state != "adding" and data.preGra.state != "adding" %} value={{data['prepopulatedDate']}} {% endif %} class="form-control" id="postcode" type="text" name="postcode"><span class="today"></span>
      </fieldset>
      
      <fieldset class="form-group">
        <label class="form-label" for="postcode">
          Notified or decision date
        </label>
        <input {% if data.gra.state != "adding" and data.preGra.state != "adding" %} value={{data['prepopulatedDate']}} {% endif %} class="form-control" id="postcode" type="text" name="postcode"><span class="today"></span>
      </fieldset>
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    
    <p><a href="account">Cancel</a></p>
    
  </div>
  
</div>