<h2 class="heading-medium question">What kind of change do you need to make?</h2>

<div class="grid-row">
  
  <div class="column-one-half">
    
    <form method="get" action="check">
      
      <legend class="visually-hidden">
        <p>
          What kind of change do you need to make?
        </p>
      </legend>
      
      <div class="form-group">
        <div class="multiple-choice">
          <input id="update" type="radio" name="updateType" value=5>
          <label for="update">
            End the relationship
          </label>
        </div>

        <div class="multiple-choice">
          <input id="example-contact-by-text" type="radio" name="updateType" value=6>
          <label for="example-contact-by-text">
            Delete the relationship
          </label>
        </div>
      </div> 
            
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>

