  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="address-question">

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visually-hidden">
                <h1 class="heading-medium">
                  Does the person have a correspondence address? 
                </h1>
              </legend>

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label for="radio-inline-2">No</label>
              </div>

            </fieldset>
          </div>
                <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        </form>
      
    </div>

  </div>
     

