<div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="contact-handler">
        <div class="form-group">
          <fieldset>

            <legend>
              <p class="visually-hidden">
                What kind of contact type is it?
              </p>
            </legend>

            <div class="multiple-choice" data-target="">
              <input id="telephone" type="radio" name="data" value="telephone">
              <label for="telephone">Landline telephone number</label>
            </div>

            <div class="multiple-choice" data-target="">
              <input id="mobile" type="radio" name="data" value="mobile">
              <label for="mobile">Mobile telephone number</label>
            </div>

            <div class="multiple-choice" data-target="">
              <input id="email" type="radio" name="data" value="email">
              <label for="email">Email</label>
            </div>

            <div class="multiple-choice" data-target="contact-by-text">
              <input id="other" type="radio" name="data" value="other">
              <label for="other">Other</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <div class="multiple-choice" data-target="contact-by-text">
                <input id="textphone" type="radio" name="data-two" value="textphone">
                <label for="textphone">Textphone</label>
              </div>
              <div class="multiple-choice" data-target="contact-by-text">
                <input id="type" type="radio" name="data-two" value="type">
                <label for="type">Typetalk</label>
              </div>
              <div class="multiple-choice" data-target="contact-by-text">
                <input id="fax" type="radio" name="data-two" value="fax">
                <label for="fax">Fax</label>
              </div>
              <div class="multiple-choice" data-target="contact-by-text">
                <input id="other-contact" type="radio" name="data-two" value="other-contact">
                <label for="other-contact">Another contact method</label>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

     </form>
    <p><a href="../../search">Cancel</a></p>
  </div>

</div>