  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="address-stat-handler">
        
        <fieldset class="form-group">
          
          <div class="multiple-choice">
            <input id="live" type="radio" name="data" value="live">
            <label for="live">Live</label>
          </div>

          <div class="multiple-choice">
            <input id="dlo" type="radio" name="data" value="dlo">
            <label for="dlo">Dead letter office</label>
          </div>

          <div class="multiple-choice">
            <input id="nfa" type="radio" name="data" value="nfa">
            <label for="nfa">No fixed abode</label>
          </div>

          <div class="multiple-choice">
            <input id="pwa" type="radio" name="data" value="pwa">
            <label for="pwa">Person without address</label>
          </div>

        </fieldset>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      <p><a href="">Cancel</a></p>
      
    </div>

  </div>
     

