  <div class="grid-row">

    <div class="column-two-thirds">
          {% if createjourney === false %}
            <h2 class="table-header">National Insurance Number details</h2>
            <table class="table">
              <tr>
                <td><span class="strong">National Insurance Number</span></td>
                <td>NA000001D</td>
                <td><a href="nino">Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Creation date</span></td>
                <td>{{today}}</td>
                <td><a href="nino">Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Creation office</span></td>
                <td>1234</td>
                <td><a href="nino">Change</a></td>
              </tr>
            </table>
            <br>
          {% endif %}
        
        <h2 class="table-header">Personal details</h2>
        <table class="table">
          <tr>
            <td><span class="strong">Title</span></td>
            {% if createjourney === false %}
              <td>Ms</td>
            {% else %}
              <td>Mr</td>
            {% endif %}
            <td><a href="name-current">Change</a></td>
          </tr>
          
          {% if createjourney === false %}
            <tr>
              <td><span class="strong">Name</span></td>
              <td>Adele Bangalter</td>
              <td><a href="name-current">Change</a></td>
            </tr>
          {% else %}
            <tr>
              <td><span class="strong">Name</span></td>
              <td>Matheo Bangalter</td>
              <td><a href="name-current">Change</a></td>
            </tr>
          {% endif %}

          {% if createjourney === false %}
            <tr>
              <td><span class="strong">Name start date</span></td>
              <td><span class="today">{{today}}</span></td>
              <td><a href="name-current">Change</a></td>
            </tr>
            <tr>
              <td><span class="strong">Name notified start date</span></td>
              <td><span class="today">{{today}}</span></td>
              <td><a href="name-current">Change</a></td>
            </tr>
          {% endif %}
          
          <tr>
            <td><span class="strong">Name 2</span></td>
            <td><span class="today">No</span></td>
            <td><a href="previous-names">Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Previous names</span></td>
            <td><span class="today">No</span></td>
            <td><a href="previous-names">Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Requested form of address</span></td>
            <td><span class="today">No</span></td>
            <td><a href="previous-names">Change</a></td>
          </tr>
          
          <tr>
            <td><span class="strong">Date of birth</span></td>
            {% if createjourney === false %}
              <td><span class="today">8 February 1980</span></td>
            {% else %}
              <td><span class="today">8 February 1960</span></td>
            {% endif %}
            <td><a href="dob">Change</a></td>
          </tr>
          
          <tr>
            <td><span class="strong">Sex</span></td>
            {% if createjourney === false %}
              <td>Female</td>
            {% else %}
              <td>Male</td>
            {% endif %}
            <td><a href="sex">Change</a></td>
          </tr>
          
          <tr>
            <td><span class="strong">National Insurance verification</span></td>
            <td><span class="today">Verified</span></td>
            <td><a href="verification">Change</a></td>
          </tr>
          
        </table>
      
        <br>
        <h2 class="table-header">Address details</h2>
      
        <table class="table">
          
          <tr>
            <td><span class="strong">Residential address status</span></td>
            <td>Live</td>
            <td><a>Change</a></td>
          </tr>
          
          <tr>
            <td><span class="strong">Residential address</span></td>
            <td>1 Current Crescent, Gateshead, Tyne and Wear NE1 1HH</td>
            <td><a>Change</a></td>
          </tr>
          
          {% if createjourney === false %}
            <tr>
              <td><span class="strong">Address start date</span></td>
              <td><span class="today">{{today}}</span></td>
              <td><a>Change</a></td>
            </tr>
            <tr>
              <td><span class="strong">Address notified start date</span></td>
              <td><span class="today">{{today}}</span></td>
              <td><a>Change</a></td>
            </tr>
          {% endif %}
          
          <tr>
            <td><span class="strong">Correspondence address</span></td>
            <td><span class="today">No</span></td>
            <td><a>Change</a></td>
          </tr>
          
          {% if createjourney === true %}
            <tr>
              <td><span class="strong">Previous addresses</span></td>
              <td><span class="today">No</span></td>
              <td><a>Change</a></td>
            </tr>
          {% endif %}
          
        </table>
      
        {% if createjourney === false %}
          <br>
          <h2 class="table-header">Previous address 1</h2>
          <table class="table">
            <tr>
              <td><span class="strong">Address</span></td>
              <td>Boulevard de Parc, Serris, 777,<br>France</td>
              <td><a>Change</a></td>
            </tr>
              <tr>
                <td><span class="strong">Address start date</span></td>
                <td><span class="today">1 June 1985</span></td>
                <td><a>Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Address end date</span></td>
                <td><span class="today">1 September 2000</span></td>
                <td><a>Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Address notified start date</span></td>
                <td><span class="today">{{today}}</span></td>
                <td><a>Change</a></td>
              </tr>
          </table>
          <br>
          <h2 class="table-header">Previous address 2</h2>
          <table class="table">
            <tr>
              <td><span class="strong">Address</span></td>
              <td>1 Old Street, Newcastle upon Tyne, Tyne and Wear, NE1 111</td>
              <td><a>Change</a></td>
            </tr>
              <tr>
                <td><span class="strong">Address start date</span></td>
                <td><span class="today">8 Feb 1980</span></td>
                <td><a>Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Address end date</span></td>
                <td><span class="today">21 June 1985</span></td>
                <td><a>Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Address notified start date</span></td>
                <td><span class="today">{{today}}</span></td>
                <td><a>Change</a></td>
              </tr>
          </table>
        {% endif %}
      
        <br>
        <h2 class="table-header">Other personal details</h2>
      
        <table class="table">
          <tr>
            <td><span class="strong">Mobile telephone number</span></td>
            <td>07123 456 789</td>
            <td><a>Change</a></td>
          </tr>
          
          {% if createjourney === true %}
          <tr>
            <td><span class="strong">Nationality</span></td>
            <td>French</td>
            <td><a>Change</a></td>
          </tr>
          <tr>
            <td><span class="strong">Marital status</span></td>
            <td>Separated</td>
            <td><a>Change</a></td>
          </tr>
          {% endif %}

      </table>
        
        <br>
      <form class="form" method="get" action="check-handler">

        <div class="form-group">
          <input class="button" type="submit" value="Accept and submit">
        </div>

      </form>
        <p><a href="../../search">Cancel</a></p>
    </div>

  </div>
     

