<p>Enter an address</p>

<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="address-question">
         
<!--
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Add a cherished line (optional)</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
-->
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Address line 1</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Address line 2</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Address line 3</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Address line 4</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Address line 5</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">Postcode</label>
          <input class="form-control short-field" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
      
        <div class="form-group">
          <label class="form-label" for="full-name-f1">
            Address start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
            </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
        </div>
        {% if createjourney === false %}
          <div class="form-group">
            <label class="form-label" for="full-name-f1">
              Address notified start date</label>
            <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
          </div>
        {% endif %}

        <div class="form-group search-group">
          <input class="button" type="submit" value="Next">
        </div>
      
    </form>
    <a href="account">Cancel</a>
  </div>
</div>