  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="dob">
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Requested form of address</legend>
          <label class="form-label" for="full-name-f1">Requested form of address</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Start date</legend>
          <label class="form-label" for="date">
            Start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input value="{{data['prepopulatedDate']}}" class="form-control" id="date" type="text" name="date" ><span class="today"></span>
        </fieldset>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
        <p><a href="../../search">Cancel</a></p>

      </form>
      
    </div>

  </div>
     

