<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater super-slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          <a class="link-back" onCLick="history.back()">Back</a>
          
<!--
                          <div class="grid-row">
  <div class="column-two-thirds">

              <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">


      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        Message to alert the user to a problem goes here
      </h2>

      <p>
        Optional description of the errors and how to correct them
      </p>

      <ul class="error-summary-list">
        <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
      </ul>

    </div>
    </div>
    </div>
-->

          
          <h1 class="question-title">Add a landline telephone number</h1>
          <div id="sl-address-primary-card" class="sl-primary-card">
            <div id="address-pane">
              
                {% include "components/nino/5/telephone-content.html" %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>