<div class="grid-row">
  <div class="column-full">
<!--
    <div class="panel panel-border-wide">
      <p>The following accounts have similar information to Adele Bangalter.</p>
    </div>
-->
    <br>
    <table id="trace-results" class="table main-table">
      <tr>
        <th>National Insurance number</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>First line of address</th>
        <th>Post code</th>
        <th> </th>
      </tr>
      <tr>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            AB119445Z
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            Adele
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            Bangalter
          </a>
        </td>
        <td>
          <a  class="clickable-row" target="_blank" href="../../update/account">
            1 January 1980
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            8 Old Lane, Cheltenham
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            CH1 234
          </a>
        </td>
        <td>
          <a class="" target="_blank" href="../../update/account">
            View
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            SY119284Z
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            Adele
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            Bangalter
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            1 January 1980
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            10 Some Street, Gloucester
          </a>
        </td>
        <td>
          <a class="clickable-row" target="_blank" href="../../update/account">
            GL4 987
          </a>
        </td>
        <td>
          <a target="_blank" href="../../update/account">
            View
          </a>
        </td>
      </tr>
    </table>
    <br>
  </div>


    <div class="column-two-thirds">
      <form class="form" method="get" action="done">
        <div class="form-group">
          <input class="button" type="submit" value="Ignore these accounts and submit">
        </div>
      </form>
      <a href="../../search">Cancel</a>
      
    </div>

  </div>
     

