  <div class="grid-row">

    <div class="column-two-thirds">
      
      <h1 class="question-title">Prototype setup page</h1>
      
      <form class="form" method="get" action="v3-type-handler">

        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="create" type="radio" name="data" value="create">
            <label for="create">Create account</label>
          </div>
          <div class="multiple-choice">
            <input id="update" type="radio" name="data" value="update">
            <label for="update">Update or insert an account</label>
          </div>
        </fieldset>
        
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="trace" name="trace" type="checkbox" value="true">
            <label for="trace">Show a trace</label>
          </div>
        </fieldset>

<!--
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="sixteen" name="sixteen" type="checkbox" value="true">
            <label for="sixteen">Person is under 16</label>
          </div>
        </fieldset>
-->

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
    </div>

  </div>
     

