  <div id="mainsearchform" class="grid-row">
    <div class="column-full">
      <div class="header">
        <h2 class="sl-font-bold sl-third-heading">Find someone in the Home Office records</h2>
      </div>

      <div class="form">
        <form action="home-office-handler" method="get" class="form">
          <div class="form-col-large">
            <div class="form-group">
              <label class="form-label" for="homeoffice_ref_number">Biometric Residence, Passport, or National Identity number</label>
              <input class="form-control" id="homeoffice_permit_number" name="homeoffice_permit_number"></input>
            </div>
            <div style="100%; clear: both;"></div>
            <div class="form-group left">
              <label class="form-label" for="mainsearch_dateofbirth">First and middle names</label>
              <input class="form-control" id="mainsearch_dateofbirth" name="mainsearch_dateofbirth"></input>
            </div>  
            <div class="form-group right">
              <label class="form-label" for="mainsearch_dateofdeath">Last name</label>
              <input class="form-control" id="mainsearch_dateofbdeath" name="mainsearch_dateofbdeath"></input>
            </div>  
            <div class="form-group short">
              <label class="form-label" for="mainsearch_firstline">Date of birth</label>
              <input class="form-control" id="mainsearch_firstline" name="mainsearch_firstline"></input>
            </div>  
            <div style="100%; clear: both; height: 25px"></div>
          <div class="form-group buttons">
            <button class="button" type="submit">Search</button>
            <a href="./settlement-status" class="button sl-secondary-button" type="submit">Clear form</a>
          </div>  
        </form>
      </div>
      </div>
      </div>