  <div class="grid-row">

    <div class="column-two-thirds">
      
      <h2 class="heading-medium">What kind of contact type is it?</h2>
      
      <form class="form" method="get" action="telephone">

        <fieldset class="form-group">
          <legend class="visuallyhidden">Contact type</legend>
          
          <div class="multiple-choice" data-target="contact-by-phone">
            <input id="home" type="radio" name="data" value="home">
            <label for="home">Home telephone</label>
          </div>
          <div class="multiple-choice" data-target="contact-by-mobile">
            <input id="mobile" type="radio" name="data" value="mobile">
            <label for="mobile">Mobile telephone</label>
          </div>
          <div class="multiple-choice" data-target="contact-by-email">
            <input id="email" type="radio" name="data" value="email">
            <label for="email">Email</label>
          </div>
          
<!--
          <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
            <fieldset class="form-group">
              <label class="form-label" for="contact-text-message">Email address</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="full-name-f1">
                Start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
            </fieldset>
          </div>
-->
          
<!--
          <div class="panel panel-border-narrow js-hidden" id="contact-by-mobile">
            <fieldset class="form-group">
              <label class="form-label" for="contact-text-message">Mobile number</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="full-name-f1">
                Start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
            </fieldset>
          </div>
-->
          
<!--
          <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
            <fieldset class="form-group">
              <label class="form-label" for="contact-text-message">Telephone number</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </fieldset>
            
            <h2 class="heading-medium">What is the status?</h2>
            
            <fieldset class="form-group">
              <div class="multiple-choice">
                <input id="live" type="radio" name="sub-data" value="live">
                <label for="live">Live</label>
              </div>
              <div class="multiple-choice">
                <input id="dead" type="radio" name="sub-data" value="dead">
                <label for="dead">Dead</label>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="full-name-f1">
                Start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
            </fieldset>
          </div>
-->

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

