  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="non-mandatory-question">

        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">
            Address start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>

        <fieldset class="form-group">
          <legend class="visuallyhidden">Address notified start date</legend>
          <label class="form-label" for="full-name-f1">Address notified start date</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

