  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="address-search">
        
        <h3 class="heading-small" style="font-weight: bold;">Name</h3>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">First name</legend>
          <label class="form-label" for="full-name-f1">First name</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <fieldset class="form-group">
          <legend class="visuallyhidden">Last name</legend>
          <label class="form-label" for="full-name-f1">Last name</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <!-- name date -->
        <h3 class="heading-small" style="font-weight: bold;">Name start date</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Name start date</legend>
          <label class="form-label" for="full-name-f1">
            Name start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Name notified start date</legend>
          <label class="form-label" for="full-name-f1">Name notified start date</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>
        
        <br>
        <!-- title --> 
        <h3 class="heading-small" style="font-weight: bold;">Title</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Mr</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Mrs</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Ms</label>
          </div>
          <div class="multiple-choice">
            <input id="dr" type="radio" name="data" value="dr">
            <label for="dr">Dr</label>
          </div>
          <div class="multiple-choice">
            <input id="hrh" type="radio" name="data" value="hrh">
            <label for="hrh">HRH</label>
          </div>
        </fieldset>
        
        <br>
        <!-- sex --> 
        <h3 class="heading-small" style="font-weight: bold; float: left">Sex</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="male" type="radio" name="data" value="male">
            <label for="male">Male</label>
          </div>
          <div class="multiple-choice">
            <input id="female" type="radio" name="data" value="female">
            <label for="female">Female</label>
          </div>
        </fieldset>
        
        <br>
        <!-- dob --> 
        <h3 class="heading-small" style="font-weight: bold; float: left;">Date of birth</h3>
        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">
            Date of birth
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <br>
        <!-- verification --> 
        <h3 class="heading-small" style="font-weight: bold;  float: left;">DOB Verification</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Small</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Medium</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Large</label>
          </div>
        </fieldset>

        <br>
        <!-- verification --> 
        <h3 class="heading-small" style="font-weight: bold;  float: left;">NINO Verification</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Small</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Medium</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Large</label>
          </div>
        </fieldset>


        
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

