  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="name-question">
                
        <h3 class="heading-small strong">Ethnic origin</h3>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">One</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Two</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Three</label>
          </div>
        </fieldset>
        
        <!-- name date -->
        <fieldset class="form-group">
          <legend class="visuallyhidden">Ethnic origin start date</legend>
          <label class="form-label" for="full-name-f1">
            Ethnic origin start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>
        
        <br>
        <h3 class="heading-small strong">Immigration</h3>
        <!-- dob --> 
        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">
            Immigration reference number
            <span class="form-hint">
              For example 123456789
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <br>
        <!-- title --> 
        <p>Immigration status type</p>
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">One</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Two</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Three</label>
          </div>
        </fieldset>
        
        <!-- name date -->
        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1" value="18 01 2018">
            Immigration start date
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="18 01 2018">
        </fieldset>
        
        <br>
        <h3 class="heading-small strong">Language</h3>
        
        <br>
        <h3 class="heading-small strong">Dissability details</h3>

        <br>
        <h3 class="heading-small strong">Special needs details</h3>

        <br>
        <h3 class="heading-small strong">Potentially violent</h3>

        <br>
        <h3 class="heading-small strong">Marital status</h3>

        <br>
        <h3 class="heading-small strong">Nationality</h3>


        
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

