  <div class="grid-row">

    <div class="column-two-thirds">
      <h2 class="heading-medium">1. Personal details</h2>
      <table class="table">
        <tr>
          <td><a>Personal details</a></td>
          <td> </td>
          <td> <span class="strong">Completed</span> </td>
        </tr>
        <tr>
          <td><a>Previous names</a></td>
          <td> </td>
          <td>  </td>
        </tr>
      </table>
      <br>
      
      <h2 class="heading-medium">2. Address details</h2>
      <table class="table">
        <tr>
          <td><a>Residential address</a></td>
          <td> </td>
          <td> <span class="strong">Completed</span> </td>
        </tr>
        <tr>
          <td><a>Previous addresses</a></td>
          <td> </td>
          <td>  </td>
        </tr>
        <tr>
          <td><a>Correspondence address</a></td>
          <td> </td>
          <td>  </td>
        </tr>
      </table>
      <br>
      
      <h2 class="heading-medium">3. Contact details</h2>
      <table class="table">
        <tr>
          <td><a>Add contact detials</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
      </table>
      <br>
        
      <h2 class="heading-medium">4. Personal details</h2>
      <table class="table">
        <tr>
          <td><a>Ethnic origin and immigration details</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
        <tr>
          <td><a>Language details</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
        <tr>
          <td><a>Disability and special needs information</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
        <tr>
          <td><a>Potentially violent</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
        <tr>
          <td><a href="marital">Marital status</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
        <tr>
          <td><a>Nationality</a></td>
          <td> </td>
          <td> <span class="strong"></span> </td>
        </tr>
      </table>


      <form class="form" method="get" action="check">

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
    </div>

  </div>
     

