  <div class="grid-row">

    <div class="column-two-thirds">
      
<!-- <h2 class="heading-medium">What kind of contact type is it?</h2> -->
      
      <form class="form" method="get" action="another-contact">
      
        <fieldset class="form-group">
          <label class="form-label" for="contact-text-message">Telephone number</label>
          <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
        </fieldset>
            
        <h2 class="heading-medium">What is the status?</h2>
            
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="live" type="radio" name="sub-data" value="live">
            <label for="live">Live</label>
          </div>
          <div class="multiple-choice">
            <input id="dead" type="radio" name="sub-data" value="dead">
            <label for="dead">Dead</label>
          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

