<hr class="light">
<details>
  <summary><span class="summary">BILL SMITH’s partner and dependant details</span></summary>
  
  <hr class="light">
  
  <div class="panel panel-border-narrow" style="padding-top: 0;">

    <p><span class="strong">KAREN SMITH</span> <span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp; Partner of BILL SMITH</span></p>

    <div class="grid-row">
      <div class="column-one-third">
        <ul>
          <li>Type</li>
          <li>Verification type</li>
          <li>Start date</li>
          <li>Date of birth</li>
          <li>Sex</li>
<!--          <li>Non dependant status</li>-->
        </ul>      
      </div>
      <div class="column-two-thirds">
        <ul>
          <li class="strong">Cohabitation</li>
          <li class="strong">Verified</li>
          <li class="strong">01 Sep 2016</li>
          <li class="strong">11 Mar 1970</li>
          <li class="strong">Female</li>
<!--          <li class="strong">Not current</li>-->
        </ul> 
      </div>
    </div>
    
    <hr class="light">
    
    <p><span class="strong">JIMMY SMITH</span> <span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp; Non-dependant of BILL SMITH</span></p>

    <div class="grid-row">
      <div class="column-one-third">
        <ul>
          <li>Type</li>
          <li>Verification type</li>
          <li>Start date</li>
          <li>Date of birth</li>
          <li>Sex</li>
<!--          <li>Non dependant status</li>-->
        </ul>      
      </div>
      <div class="column-two-thirds">
        <ul>
          <li class="strong">Cohabitation</li>
          <li class="strong">Verified</li>
          <li class="strong">01 Sep 2016</li>
          <li class="strong">11 Jan 1960</li>
          <li class="strong">Male</li>
<!--          <li class="strong">Current</li>-->
        </ul> 
      </div>
    </div>
    
    <hr class="light">
    
    <p> <span class="strong">SARAH SMITH</span> <span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp; Non-dependant of BILL SMITH</span></p>

    <div class="grid-row">

      <div class="column-one-third">
        <ul>
          <li>Type</li>
          <li>Verification type</li>
          <li>Start date</li>
          <li>Date of birth</li>
          <li>Sex</li>
<!--          <li>Non dependant status</li>-->
        </ul>      
      </div>
      <div class="column-two-thirds">
        <ul>
          <li class="strong">Cohabitation</li>
          <li class="strong">Verified</li>
          <li class="strong">01 Sep 2016</li>
          <li class="strong">11 Jan 1960</li>
          <li class="strong">Male</li>
<!--          <li class="strong">Current</li>-->
        </ul> 
      </div>
    </div>
    
  </div>
</details>
