

<div id="sl-account" class="container-fluid ng-scope">
  <div class="sl-account-header row">
    <div class="sl-primary-name-container-placeholder ng-scope new-slim">
        <div class="sl-account-canvas-width">
          <sl-account-person-summary>
            <div id="sl-account-person-summary">
              
              <div class="short-name">
                <ul>
                  <li class="strong">TOM SMITH</li>
                  <li>SY 11 92 84 Z</li>
                  <li>·</li>
                  <li>8 Feb 1940</li>
                  <li><a href="">Back to customer account</a></li>
                </ul>
              </div>

<!--
              <div class="sl-primary-name-card-container" ng-class="{'sl-deceased':data.p erson.person[0].deathDateGroup[0].deathDate}">
                <div class="sl-primary-name-card">
                  <div class="sl-primary-name-height" id="sl-primary-name-height" style="min-height: 50px; height: 10px;">
                  <span class="sl-primary-name-and-age">
                    <span id="sl-account-primary-name" class="spacing-top-mid sl-account-primary-name">
                      <h1 ng-if="data.name.primaryName" class="sl-primary-card-name sl-page-color ng-binding ng-scope">
                        TOM SMITH
                      </h1>
                    </span>
                    
                    <div id="sl-account-person-age" class="spacing-bottom-mid sl-account-person-age sl-third-heading ng-scope" ng-if="data.person.person[0].birthDateGroup[0]">
                      <span class="sl-nino-metadata">
                        <span ng-bind-html="data.nino + data.person.person[0].ninoGroup[0].ninoSuffix | nino" class="ng-binding">
                          <span> 
                            <span class="nino-separator">SY</span>
                            <span class="nino-separator">11</span>
                            <span class="nino-separator">92</span>
                            <span class="nino-separator">84</span>
                            <span>Z</span> · 
                          </span>
                        </span>
                      </span>
                      <span class="sl-age-metadata">
                        <sl-age-info ng-if="data.person.person[0].deathDateGroup[0].deathDate" dates="{dateOfBirth: data.person.person[0].birthDateGroup[0].birthDate,
                  dateOfDeath: data.person.person[0].deathDateGroup[0].deathDate,  accountFlag: true}" class="ng-scope ng-isolate-scope">
                          <span id="birth-death-date">
                            <span id="sl-date-of-birth" ng-if="dob" class="ng-scope">
                              <span ng-class="{'sl-person-age': !dates.accountFlag, 'sl-account-age-metadata': dates.accountFlag}" ng-if="dod" class="ng-scope sl-account-age-metadata">
                                <span class="ng-binding">8 Feb 1940</span> 
                                <span ng-class="{'sl-warning-text-red':dates.bold}" class="ng-binding"> </span>
                              </span>
                            </span>
                          </span>
                        </sl-age-info>
                      </span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
-->
          </div>
        </sl-account-person-summary>
      </div>     
        
      <div class="sl-local-nav-container col-xs-12 new-header">
        <div class="sl-account-canvas-width">
          <sl-account-local-nav>
            <div id="sl-account-local-nav">
              <ul class="sl-local-nav-menu sl-metadata">
                
                <li class="sl-local-nav-item Personal active">
                  <a href="#" class="sl-local-nav-anchor sl-local-nav-anchor-first Personal" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Personal" analytics-label="Personal anchor tag" aria-label="personal details menu selection">
                    <span class="personal-scrollspy active" du-scrollspy="" du-smooth-scroll="Personal" offset="245">Jobseekers Allowance (JSAPS)</span>
                  </a>
                </li>
                
                <li class="sl-local-nav-item Address">
                  <a href="#income-support" class="sl-local-nav-anchor Address" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Address" analytics-label="Address anchor tag" aria-label="address menu selection">
                    <span class="address-scrollspy" du-scrollspy="" du-smooth-scroll="Address" offset="155">Income Support (ISCS)</span>
                  </a>
                </li>
                
                <li class="sl-local-nav-item Address">
                  <a href="#income-support" class="sl-local-nav-anchor Address" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Address" analytics-label="Address anchor tag" aria-label="address menu selection">
                    <span class="address-scrollspy" du-scrollspy="" du-smooth-scroll="Address" offset="155">Pensions Service (PSCS)</span>
                  </a>
                </li>
                
              </ul>
            </div>
          </sl-account-local-nav>
        </div>
      </div>      
    </div>

<!--
    <div class="sl-local-nav-container col-xs-12">
      <div class="sl-account-canvas-width">
        <sl-account-local-nav><div id="sl-account-local-nav">
            <ul class="sl-local-nav-menu sl-metadata">
              <li>
                <a href="../../account3/account" class="link-back"> Back to customer view</a></li>
          </ul>
</div></sl-account-local-nav>
      </div>
    </div>
-->

  </div>

