<a href="preview-handler">
  <div class="sl-user-search-container">
    <h3> <span id="bstitle">MRS</span>&nbsp; <span id="bsfirstname">BESSIE</span>&nbsp; <span id="bslastname">BLACK</span> </h3>
    <p> <span id="nino">SX170201</span> &nbsp;·&nbsp; <span id="bsDob">26 Jan 1970</span> </p>
    <p>Postcode <span id="bsPostcode">NE1 1HH</span> </p>
  </div>
</a>