<div id="notes-data">
  <div class="personal-details">
    <div>
      <div class="grid-row">
        <div class="column-one-third">
          <h3 class="strong title">Jobseekers Allowance (JSAPS)</h3>
        </div>
      </div>
      {% include "components/update/auth-interests/details.html" %}
    </div>

    <div style="margin-top:30px;">
      <div class="grid-row">
        <div class="column-one-third">
          <h3 class="strong title">Income Support (ISCS)</h3>
        </div>
      </div>
      {% include "components/update/auth-interests/details.html" %}
    </div>

    <div style="margin-top:30px;">
      <div class="grid-row">
        <div class="column-one-third">
          <h3 class="strong title">Pensions Service (PSCS)</h3>
        </div>
      </div>
      {% include "components/update/auth-interests/details.html" %}
    </div>
  </div>
</div>