<hr class="light">
<details>
  <summary><span class="summary">BILL SMITH’s partner and dependant details</span></summary>
  <hr class="light">
  
  <div class="panel panel-border-narrow" style="padding-top: 0;">

    <p class="strong">JIMMY SMITH<span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp; BILL SMITH’s non-dependant number 1</span></p>

  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>Type</li>
        <li>Verification type</li>
        <li>Start date</li>
        <li>Date of birth</li>
        <li>Sex</li>
        <li>Status</li>
      </ul>      
    </div>
    <div class="column-two-thirds">
      <ul>
        <li class="strong">Co habitation</li>
        <li class="strong">Verified</li>
        <li class="strong">01 Sep 2016</li>
        <li class="strong">11 Jan 1960</li>
        <li class="strong">Male</li>
        <li class="strong">Current</li>
      </ul> 
    </div>
  </div>
  <hr class="light">
    
  <p class="strong">SARAH SMITH<span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp; BILL SMITH’s non-dependant number 2</span></p>

  <div class="grid-row">
        
    <div class="column-one-third">
      <ul>
        <li>Type</li>
        <li>Verification type</li>
        <li>Start date</li>
        <li>Date of birth</li>
        <li>Sex</li>
        <li>Status</li>
      </ul>      
    </div>
    <div class="column-two-thirds">
      <ul>
        <li class="strong">Co habitation</li>
        <li class="strong">Verified</li>
        <li class="strong">01 Sep 2016</li>
        <li class="strong">11 Jan 1960</li>
        <li class="strong">Male</li>
        <li class="strong">Current</li>
      </ul> 
    </div>
  </div>
</div>
</details>
