<div class="sl-account-canvas row updater slim-header">

	<div class="sl-primary-card" id="benefit-name">
		<div class="sl-account-canvas-width">
	 		<h1 class="title">Universal Credit</h1>
	 		<p>Status: In payment.</p>
  	</div>
  </div>

  <div class="sl-account-canvas-width" id="benefit-detail">
  	
		<div class="grid-row">
			<div class="column-two-thirds">
				{% include "./current-award.html" %}
			</div>
			<div class="column-one-third">
				{% include "./dates.html" %}
			</div>
	  </div>
	  
</div>