{% extends "./benefit-template.html" %}

{% block start_date %}
  17 Mar 2018
{% endblock %}

{% block end_date %}
  &nbsp;
{% endblock %}

{% block title %}
  Personal Independence Payment
{% endblock %}

{% block href %}
  href="../benefits/pip"
{% endblock %}

{% block latest_payment %}
  <ul>
    <li>8 Apr 2019</li>
    <li>-</li>
    <li>£58.70</li>
  </ul>
{% endblock %}

{% block more_payments %}
  <details class="more-payments">
      <summary>
        <span class="summary">
          Show all awards
        </span>
      </summary>
    <ul>
      <li>9 Apr 2018</li>
      <li>7 Apr 2019</li>
      <li>£57.30</li>
    </ul>
    <ul>
      <li>19 Dec 2017</li>
      <li>8 Apr 2018</li>
      <li>£55.65</li>
    </ul>
    <ul>
      <li>14 May 2015</li>
      <li>14 May 2015</li>
      <li>£0.00</li>
    </ul>
  </details>
{% endblock %}