{% extends "./template.html" %}

{% block pagetitle %}
  Maintain an address
{% endblock %}
  
{% block protocontent %}
  <h2 class="heading-small"><a class="under-link" href="/account2/account">History prototype v3</a></h2>
  <details>
    <summary>History views</summary>
    <ul class="list list-bullet">      
      <li><a href="/history/birth-history">Date of birth</a></li>
      <li><a href="/history/death-history">Date of death</a></li>
      <li><a href="/history/nino-history">NINO</a></li>
      <li><a href="/history/pv-history">Potentially violent</a></li>
      <li><a href="/history/gender">Gender</a></li>
      <li><a href="/history/sex-history">Sex</a></li>
      <li><a href="/history/language-pref-history">Preferred language</a></li>
      <li><a href="/history/immigration">Immigration status</a></li>
    </ul> 
  </details>
  <p style="font-size: 17px">March 2018<span> &nbsp; </span></p> 

  <h2 class="heading-small"><a class="under-link" href="../search">Address and history prototype v2</a></h2>
  <p style="font-size: 17px">January - March 2018<span> &nbsp; </span></p> 

  <h2 class="heading-small"><a class="under-link" href="../search-v1">Address prototype v2</a></h2>
  <p style="font-size: 17px">December 2017</p>  
{% endblock %}