{% extends "./template.html" %}

{% block pagetitle %}
  Get alerts and notifications
{% endblock %}
  
{% block protocontent %}
        
  <h2 class="heading-medium">Get notifications</h2>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/notifications/v2/page-one">Version 2 - November 2018</a></li>
    <li><a class="under-link" href="/notifications/page-one">Version 1 - October 2018</a></li>
  </ul>
  <hr>
      
  <h2 class="heading-medium">Get alerts</h2>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/alerts/v2/page-one">Version 2 November 2018</a></li>
    <li><a class="under-link" href="/alerts/page-one">Version 1 September 2018</a></li>
  </ul>

{% endblock %}  
