{% extends "./template.html" %}

{% block pagetitle %}
  Benefits redesign 2019
{% endblock %}
  
{% block protocontent %}
  <p>August 2019 (v3)</p>

  <h2 class="heading-medium">Accounts</h2>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/cis-handler?nino=SX170203&role=none">Account 3</a> &nbsp;(Robin. Current - Pension)</li>
    <li><a class="under-link" href="/cis-handler?nino=SX170202&role=none">Account 2</a> &nbsp;(Sita. Current - DLA. Previous - CA)</li>
    <li><a class="under-link" href="/cis-handler?nino=SX170201&role=none">Account 1</a> &nbsp;(Alex. Current - UC and PIP. Previous - CA)</li>
    <li><a class="under-link" href="/account3/account">Original Account</a></li>
  </ul>

  <h2 class="heading-medium">Individual pages</h2>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/benefits/dla-v3">Disability Living Allowance</a> - current award</li>
    <li><a class="under-link" href="/benefits/sp-v3  ">State Pension</a> - current award</li>
    <li><a class="under-link" href="/benefits/pip-v3">Personal Independence Payment</a> - current award</li>
    <li><a class="under-link" href="/benefits/uc-v3">Universal Credit</a> - current award</li>
    <li><a class="under-link" href="/benefits/ca-v3">Carer's Allowance</a> - previous award</li>
  </ul>

{% endblock %}  
