{% extends "./template.html" %}

{% block pagetitle %}
  Create an account
{% endblock %}
  
{% block protocontent %}
            
<ul class="list">
  <li><a href="../nino/8/type">Version 6</a></li>
  <li>April 2019</li>
  <li>Test version for better contact capture.</li>
</ul>
  <hr>

  <ul class="list">
    <li><a href="../nino/7/type">Version 5</a></li>
    <li>Dec 2018</li>
    <li>Added start date for PWA or NFA address status </li>
    <li>Updated label and title for name type 2 </li>
  </ul>
  <hr>
  
  <ul class="list">
    <li><a href="../nino/6/type">Version 4</a></li>
    <li>May 2018</li>
    <li>Simplified contact preferences</li>
  </ul>
  <hr>
  
  <ul class="list">
    <li><a href="../nino/5/type">Version 3</a></li>
    <li>Feb 2018</li>
    <li>Nationality question updated to 'Do you know their nationality'</li>
    <li>Marital status question updated to 'Do you know their marital status'</li>
    <li>Marital status question could only be shown if person is older than UK legal marriage age (16)</li>
    <li>Content updated</li>
  </ul>
  <hr>
  
  <ul class="list">
    <li><a href="../nino/4/type">Version 2</a></li>
    <li>Jan/Feb 2018</li>
  </ul>
  <hr>

  <ul class="list">
    <li><a href="../nino/2/type">Version 1</a></li>
    <li>January 2018</li>
  </ul>


{% endblock %}  