{% extends "./template.html" %}

{% block pagetitle %}
  Get immigration and nationality from the Home Office
{% endblock %}

{% block protocontent %}
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/settlement-status-v4">Version 4 - Feb 2020</a></li>
    <li><a class="under-link" href="/settlement-status-v3">Version 3 - October 2019</a></li>
    <li><a class="under-link" href="/settlement-status-v2">Version 2 - October 2019</a></li>
    <li><a class="under-link" href="/settlement-status">Version 1 - September 2019</a></li>
    <li><a class="under-link" href="/cis-handler?nino=SX170204&role=ho">Account 1</a> &nbsp;(Jonas)</li>
    <li><a class="under-link" href="/cis-handler?nino=QQ123456&role=ho">Account 2</a> &nbsp;(Hans QQ123456)</li>
    <li><a class="under-link" href="/cis-handler?nino=PA807930&role=ho">Account 3</a> &nbsp;(Javier PA807930)</li>
    <li><a class="under-link" href="/cis-handler?nino=SX170205&role=dg">Account 4</a> &nbsp;(JP)</li>
    <li><a class="under-link" href="/cis-handler?nino=SX170206&role=ho">Account 5</a> &nbsp;(Beth)</li>
  </ul>
{% endblock %}