{% extends "./template.html" %}

{% block pagetitle %}
  Get income information
{% endblock %}
  
{% block protocontent %}

  <p>Dec 2018 - version 2</p>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/search-v4/?gciiExample=6">Showing pension vs employment</a></li>
  </ul>

  <p>July 2018 - version 1</p>
  <ul class="list list-bullet">  
    <li><a class="under-link" href="/search-v4/?gciiExample=2">Example 2</a></li>
    <li><a class="under-link" href="/search-v4/?gciiExample=5">Example 5</a></li>
    <li><a class="under-link" href="/search-v4/?gciiExample=4">Example 4 - third party</a></li>
  </ul>

{% endblock %}  
