
{% extends "./template.html" %}

{% block pagetitle %}
  Maintain an interest
{% endblock %}
  
{% block protocontent %}
  <p style="font-size: 17px">April 2018<span> &nbsp; </span></p> 

    <ul class="list list-bullet">
      <li>
      <a class="under-link" href="/cis-handler?nino=SX170203&role=none">Maintain interests - full access - version 1</a>
          <p>Journeys included</p>
          <ul class="list list-bullet">      
            <li>Correct journeys for:</li>
            <li>Attendance Allowance (All combinations)</li>
            <li>Child Support Reform (System owning, maintained CRL, non-maintained CRL)</li>
            <li>Bereavement Allowance (System owning, clerical owning)</li>
            <li>Bereavement Benefit (System owning, clerical owning, maintained CRL, non-maintained CRL)</li>
            <li>Jobseeker's Allowance (All combinations)</li>
            <li>Winter Fuel Payment (CRL only)</li>
            <li>Carers Credit (system only)</li>
          </ul> 
        </details>
      </li>
          
      <li>
        <a class="under-link" href="/search-v2">Maintain interests - single benefit/system - version 1</a>
      </li>
      <li>
        <a class="under-link" href="/search-v3">Maintain interests - Local Authority - version 1</a>
      </li>
    </ul>
{% endblock %}  
