{% extends "./template.html" %}

{% block pagetitle %}
  Miscellaneous bits 'n bobs
{% endblock %}
  
{% block protocontent %}

  <h2 class="heading-medium">Get help with an interview</h2>
  <p>December 2019</p>
  <ul class="list">  
    <li><a href="/trace">Trace</a></li>
    <li><a href="../cis-handler?nino=SX170207&role=none">Account 6</a> &nbsp;(Thomas Brown)</li>
    <li><a href="../cis-handler?nino=SX170208&role=none">Account 7</a> &nbsp;(Mavis Brown)</li>
  </ul>

  <hr>
  <h2 class="heading-medium">Details about a death</h2>
  <p><a href="/details-about-death">Version 1 - August 2019</a></p>

  <hr>  

  <h2 class="heading-medium">Bereavement support</h2>
  <ul class="list">  
    <li><a href="/search-v8">March 2019</a></li>
    <li><a href="/search-v7">Feb 2019</a></li>
  </ul>

  <hr>

  <h2 class="heading-medium">History views</h2>
    <ul class="list list-bullet">      
      <li><a href="/history/birth-history">Date of birth</a></li>
      <li><a href="/history/death-history">Date of death</a></li>
      <li><a href="/history/nino-history">NINO</a></li>
      <li><a href="/history/pv-history">Potentially violent</a></li>
      <li><a href="/history/gender">Gender</a></li>
      <li><a href="/history/sex-history">Sex</a></li>
      <li><a href="/history/language-pref-history">Preferred language</a></li>
      <li><a href="/history/immigration">Immigration status</a></li>
    </ul> 

  <hr>

  <h2 class="heading-medium">Create a right of access report</h2>
  <p>March 2017</p>     
  <p><a href="../update/rar/print-rar">Version 1</a></p>

{% endblock %}