{% extends "./template.html" %}

{% block pagetitle %}
  Maintain personal information
{% endblock %}
  
{% block protocontent %}

  <p>Latest</p>
  <p><a href="/account3/account">Version 2 - maintain names, addresses and personal details</a></p>

  <p>June 2018</p>
  <p><a href="/account2/account">Version 1 - maintain names, addresses and personal details</a></p>

    <p>Journeys included:</p>
    <ul class="list list-bullet">  
      <li>Maintain addresses</li>
      <li>Maintain contact details</li>
      <li>Maintain nationality</li>
      <li>Maintain Sex</li>
      <li>Correct date of birth</li>
      <li>Add or correct date of death</li>
      <li>Maintain potentially violent status</li> 
      <li>Marital or Civil Partnership status</li>
      <li>Disability status</li>
      <li>Special needs</li>
      <li>Preferred Language</li>
      <li>Spoken Language</li>
      <li>Immigration data</li>
      <li>Gender recognition details</li>
      <li>Identity fraud interest</li>
      <li>Customer record level</li>
    </ul> 

{% endblock %}  
