{% extends "./template.html" %}

{% block pagetitle %}
  Maintain personal information
{% endblock %}
  
{% block protocontent %}
  <ul class="list">  
    <li>Latest</li>
    <li><a href="/cis-handler?nino=QQ123456&role=dg">Maintain names, addresses and personal details</a></li>
  </ul> 

  <p>Journeys included:</p>
  <ul class="list list-bullet">  
    <li>Maintain addresses</li>
    <li>Maintain contact details</li>
    <li>Maintain nationality</li>
    <li>Maintain Sex</li>
    <li>Correct date of birth</li>
    <li>Add or correct date of death</li>
    <li>Maintain potentially violent status</li> 
    <li>Marital or Civil Partnership status</li>
    <li>Disability status</li>
    <li>Special needs</li>
    <li>Preferred Language</li>
    <li>Spoken Language</li>
    <li>Immigration data</li>
    <li>Gender recognition details</li>
    <li>Identity fraud interest</li>
    <li>Customer record level</li>
  </ul> 

{% endblock %}  
