{% extends "components/nav/nav-template_v2.html" %}

{% block nav %} 
<div class="sl-local-nav-container col-xs-12 short">
  <div class="sl-account-canvas-width">
    <sl-account-local-nav><div id="sl-account-local-nav">
        <ul class="sl-local-nav-menu sl-metadata">
          <li class="sl-local-nav-item active"><a class="sl-local-nav-anchor sl-local-nav-anchor-first" href="#">Payment status</a></li>
          <li class="sl-local-nav-item"><a class="sl-local-nav-anchor" href="#previous-awards-anchor">Previous awards</a></li>
          <li class="sl-local-nav-item"><a class="sl-local-nav-anchor" href="#decision-history-anchor">Decision history</a></li>
        </ul>
      </div></sl-account-local-nav>
  </div>
</div>
{% endblock %}