{% extends "components/nav/nav-template.html" %}

{% block nav %} 
<div class="sl-local-nav-container col-xs-12 short">
  <div class="sl-account-canvas-width">
    <sl-account-local-nav><div id="sl-account-local-nav">
        <ul class="sl-local-nav-menu sl-metadata">
          <li class="sl-local-nav-item active"><a class="sl-local-nav-anchor sl-local-nav-anchor-first">Job seekers allowance (JSAPS)</a></li>
          <li class="sl-local-nav-item"><a class="sl-local-nav-anchor" href="">Income support (ISCS)</a></li>
          <li class="sl-local-nav-item"><a class="sl-local-nav-anchor" href="">Pensions Service variable notes (PSCS)</a></li>
          <li class="sl-local-nav-item"><a class="sl-local-nav-anchor" href=""> Pensions Service notepad  (PSCS)</a></li>
        </ul>
      </div></sl-account-local-nav>
  </div>
</div>
{% endblock %}