<div id="sl-account" class="container-fluid ng-scope">
  
  <div class="sl-account-header row">

      <div 
         {% if data.personalDetails.dateOfDeath.show == true %} 
          id="mort" 
         {% elif data.personalDetails.pv.value == true or data.personalDetails.pv.partner == true or data.personalDetails.pv.member == true %} 
          id="pv" 
         {% endif %} 
         class="sl-primary-name-container-placeholder ng-scope slim">
      
        <sl-placeholder sl-placeholder-type="'primary-name-placeholder'" class="ng-isolate-scope">
      
          {% include "./name-details-v4.html" %}        

          <div id="sl-placeholder">
            
            <div ng-if="placeholderType === 'primary-name-placeholder'" class="primary-name spacing-top-single-half ng-scope">
              
              <div>
                <div class="primary-animated-background primary-name-placeholder"></div>
              </div>

              <div class="spacing-top-single">
                <div class="secondary-animated-background secondary-name-placeholder"></div>
              </div>
              
            </div>

          </div>
          
        </sl-placeholder>
        
      </div>

<!--
    <div class="sl-local-nav-container col-xs-12 short">
      <div class="sl-account-canvas-width">
        <sl-account-local-nav><div id="sl-account-local-nav">
            <ul class="sl-local-nav-menu sl-metadata">
              <li>
                <a href="../../account3/account" class="link-back"> Back to customer view</a></li>
          </ul>
</div></sl-account-local-nav>
      </div>
    </div>
-->

    
  </div>

