  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="disabilities-combined">
        
        <!-- Ethnic -->
        
        <h2 class="heading-medium" style="display:block;width:100%;float:left;margin-top:0px;">
          Ethnic origin
        </h2>
        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">Ethnic origin</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Ethnic origin start date</legend>
          <label class="form-label" for="full-name-f1">
            Ethnic origin start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="10 01 2018">
        </fieldset>
        
        
        <h2 class="heading-medium" style="display:block;width:100%;float:left;margin-top:30px;">
          Nationality
        </h2>
        
        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">Nationality</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <h2 class="heading-medium" style="display:block;width:100%;float:left;margin-top:30px;">
          Immigration status
        </h2>
        
        <!-- Immigration -->
        
        <fieldset class="form-group">
<!--          <legend class="">Immigration status</legend>-->
          <div class="multiple-choice">
            <input id="asylum-seeker" type="radio" name="data" value="asylum-seeker">
            <label for="asylum-seeker">Asylum seeker</label>
          </div>
          <div class="multiple-choice">
            <input id="exceptional-leave" type="radio" name="data" value="exceptional-leave">
            <label for="exceptional-leave">Exceptional leave to remain</label>
          </div>
          <div class="multiple-choice">
            <input id="indefinite" type="radio" name="data" value="indefinite">
            <label for="indefinite">Indefinite leave to remain</label>
          </div>
       </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Immigration number</legend>
          <label class="form-label" for="full-name-f1">Immigration reference number</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Immigration start date</legend>
          <label class="form-label" for="full-name-f1">
            Immigration start date (optional)
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="10 01 2018">
        </fieldset>

      <h2 class="heading-medium" style="display:block;width:100%;float:left;margin-top:30px;">
        preferred language
      </h2>

        <fieldset class="form-group">
          <legend class="visually-hidden">language</legend>
          <div class="multiple-choice">
            <input id="English" type="radio" name="data" value="English">
            <label for="English">English</label>
          </div>
          <div class="multiple-choice">
            <input id="welsh" type="radio" name="data" value="welsh">
            <label for="welsh">Welsh</label>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="visuallyhidden">preferred language start date</legend>
          <label class="form-label" for="full-name-f1">
            preferred language start date
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="10 01 2018">
        </fieldset>
        
        
      <h2 class="heading-medium" style="display:block;width:100%;float:left;margin-top:30px;">
        Spoken language
      </h2>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Spoken language</legend>
          <label class="form-label" for="full-name-f1">
            Spoken language
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
      <p><a href="task-list">Cancel</a></p>
      
    </div>

  </div>
     

