  <div class="grid-row">

    <div class="column-two-thirds">

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Personal details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="name" aria-describedby="eligibility-completed">
                Name
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Other names
              </a>
<!--              <strong class="task-completed" id="read-declaration-completed">Completed</strong>-->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Previous names
              </a>
<!--              <strong class="task-completed" id="read-declaration-completed">Completed</strong>-->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="dob" aria-describedby="read-declaration-completed">
                Date of birth
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="dob" aria-describedby="read-declaration-completed">
                Sex
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Address details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="search-results" aria-describedby="company-information-completed">
                Residential address
              </a>
              <strong class="task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="contact-details-completed">
                Correspondence address
              </a>
<!--              <strong class="task-completed" id="contact-details-completed">Completed</strong>-->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Previous addresses
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Contact details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="add-contact">
                Contact details
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Other personal details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="ethnic-origin">
                Ethnic origin	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="immigration">
                Immigration	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="language">
                preferred language	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="spoken-language">
                Spoken language	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="disabilities">
                Disability	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="additional-needs">
                Special needs	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="potentially-violent">
                Potentially violent	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="marital">
                Marital status	
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="nationality">
                Nationality	
              </a>
            </li>
          </ul>
        </li>
      </ol>
     
    </div>
    </div>
  <div class="grid-row">

    <div class="column-two-thirds">

      <form class="form" method="get" action="check">

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
    </div>
