  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="name">

<!--
       <fieldset class="form-group">
          <legend class="">What level has the person's date of birth been verified to?</legend>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Verified to level 1</label>
          </div>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Verified to level 2</label>
          </div>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Not verified</label>
          </div>
        </fieldset>
-->

        <fieldset class="form-group">
          <legend class="visually-hidden">What level has the person's NINO been verified to?</legend>
          <div class="multiple-choice">
            <input id="ms" type="radio" name="data" value="ms">
            <label for="ms">Unverified</label>
          </div>
          <div class="multiple-choice">
            <input id="mr" type="radio" name="data" value="mr">
            <label for="mr">Verified</label>
          </div>
          <div class="multiple-choice">
            <input id="mrs" type="radio" name="data" value="mrs">
            <label for="mrs">Qualified</label>
          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
    </div>

  </div>
     

