<div class="personal-details">

  <div class="history dob-history">

    <ul class="">
      <li>Date received</li>
      {% for application in data. ninoApplications %}
        <li>{{application.received}}</li>
      {% endfor %}
    </ul>

    <ul class="">
      <li>Name</li>
      {% for application in data. ninoApplications %}
        <li>{{application.nameOneFirst}} {{application.nameOneLast}}</li>
      {% endfor %}
    </ul>

    <ul>
      <li>Status</li>
      {% for application in data.ninoApplications %}
        {% if application.status == 0 %}
          <li>Open</li>
        {% elif application.status == 1 %}
          <li>In Progress</li>
        {% elif application.status == 2 %}
          <li>Closed - allocated</li>
        {% elif application.status == 3 %}
          <li>Closed - not allocated</li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul>
      <li>Action</li>
      {# {% for application in data. ninoApplications %}
        <li> <a href="get-cases-handler?applicationNumber={{application.applicationNumber}}">Start</a> </li>
      {% endfor %} #}

      {% for application in data.ninoApplications %}
        {% if application.status == 0 %}
          <li> <a class="under-link" href="get-cases-handler?applicationNumber={{application.applicationNumber}}">Start</a> </li>
        {% elif application.status == 1 %}
          <li> <a class="under-link" href="get-cases-handler?applicationNumber={{application.applicationNumber}}">Continue</a> </li>
        {% elif application.status == 2 %}
          <li> <a class="under-link" href="get-cases-handler?applicationNumber={{application.applicationNumber}}">View</a> </li>
        {% elif application.status == 3 %}
          <li> <a class="under-link" href="get-cases-handler?applicationNumber={{application.applicationNumber}}">View</a> </li>
        {% endif %}
      {% endfor %}
      
    </ul>

  </div>

</div>