<div class="personal-details">

  <div class="applications-list">
    <h3 class="strong">In progress</h3>
    {% include "./progress.html" %}
  </div>

  <div class="get-cases">
    <h3 class="strong">New applications</h3>
    {% include "./get_case.html" %}
  </div>

  {# <div class="applications-list">
    <h3 class="strong">New applications</h3>
    {% include "./applications.html" %}
  </div> #}

  <div class="applications-list">
    <h3 class="strong">Recently completed</h3>
    {% include "./completed.html" %}
  </div>

</div>