  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="v2-non-mandatory-handler">

          <div class="form-group">
            <fieldset class="inline">

              <legend class="visually-hidden">
                <h1 class="heading-medium">
                  Do you need to add any other details for this person? 
                </h1>
              </legend>

              <div class="multiple-choice">
                <input id="yes" type="radio" name="data" value="yes">
                <label for="yes">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="no" type="radio" name="data" value="no">
                <label for="no">No</label>
              </div>

            </fieldset>
          </div>
                <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        </form>
        <p><a href="../../search">Cancel</a></p>
    </div>

  </div>
     

