  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="other-name-handler">
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="alternative" name="alternative" type="checkbox" value="true">
            <label for="alternative">Another current name</label>
          </div>
          <div class="multiple-choice">
            <input id="previous" name="previous" type="checkbox" value="true">
            <label for="previous">Previous names</label>
          </div>
          <div class="multiple-choice">
            <input id="requested" name="requested" type="checkbox" value="true">
            <label for="requested">A requested form of address</label>
          </div>
        </fieldset>
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>
      <p><a href="../../../search">Cancel</a></p>
    </div>

  </div>
     

