<div class="grid-row">

  <div class="column-one-half">

    <form method="get" action="s-previous-handler">
            
          <div class="form-group">
            <fieldset class="inline">
              <legend>
                <p>
                  Is the address in the United Kingdom?
                </p>
              </legend>

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="uk" value="yes" checked="checked" onchange="hideInternationalAddress()">
                <label for="radio-inline-1">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="internationalID" type="radio" name="uk" value="no" onchange="showInternationalAddress()">
                <label for="radio-inline-2">No</label>
              </div>
            </fieldset>
          </div>
          <br>
        
        <div id="uk">
          <p id="shown">
            Search for a UK address
          </p>

          <div class="form-group">
            <label class="form-label" for="detail">Address details</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>

          <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control" id="postcode" type="text" name="postcode">
          </div>
          
          <div class="form-group">
            <input class="button" type="submit" value="Search">
          </div>

        </div>

        <div id="international" class="visually-hidden">
          <br>
          <p class="">
            Enter an address outside of the UK
          </p>

          <div class="form-group">
            <label class="form-label" for="detail">Address line 1</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>

          <div class="form-group">
            <label class="form-label" for="detail">Address line 2</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>

          <div class="form-group">
            <label class="form-label" for="detail">Address line 3</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>

          <div class="form-group">
            <label class="form-label" for="detail">Address line 4</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>

          <div class="form-group">
            <label class="form-label" for="detail">Address line 5</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>
          
          <div class="form-group">
            <label class="form-label" for="detail">Country</label>
            <input class="form-control" id="detail" type="text" name="detail">
          </div>
          
          {% if createjourney === false %}
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address notified start date</label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address end date
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address notified end date</label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
          {% else %}
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
            <div class="form-group">
              <label class="form-label" for="full-name-f1">
                Address end date
              </label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">      
            </div>
          {% endif %}

          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
                    
        </div>

    </form>
    <p><a href="account">Cancel</a></p>
  </div>
</div>
