<div class="grid-row">
  <div class="column-full">
    <div class="column-two-thirds">
      
      <div id="trace-menu">
        <ul>
          <li>2 customers found</li>
        </ul>
        <ul>
<!--
          <li><span>Sort by:</span> <a>First name</a></li>
          <li><a>Last name</a></li>
          <li><a>Date of birth</a></li>
-->
        </ul>
      </div>
      
      <div id="trace-results">
        <div>
          <p><a target="_blank" href="../../update/account">Mr Mateo Bangalter</a></p>
          <ul>
            <li>AB119445Z</li>
            <li>·</li>
            <li>1 Jan 1980</li>
            <li>·</li>
            <li>Born 37 years ago</li>
            <li>8 Old Lane, CH1 234</li>
          </ul>
        </div>
        
        <div>
          <p><a target="_blank" href="../../update/account">Mr Mateo Bangalter</a></p>
          <ul>
            <li>SY119284Z</li>
            <li>·</li>
            <li>1 Jan 1980</li>
            <li>·</li>
            <li>Born 37 years ago</li>
            <li>10 Some Street, GL4 987</li>
          </ul>
        </div>
      </div>
      
      <form class="form" method="get" action="done">
        <div class="form-group">
          <input class="button" type="submit" value="Ignore these and submit">
        </div>
      </form>
      <a href="../../search">Cancel</a>
    </div>
  </div>
     

