<tr>
  <td class="bold">{{data.personalDetails[data.personalDetail].display}}</td>
  
  <td>
    {% if data.personalDetailValue == "stateless" or data.personalDetailValue == "unknown" %}
      {{data.personalDetailValue | capitalize}}
    {% else %}
      {{data.personalDetailValue}}
    {% endif %}
  </td>
  <td><a>Change</a></td>
</tr>