{% if data.personalDetailValue == "null" or data.personalDetailValue == null %}
  <tr>
    <td class="bold">Remove their {{data.personalDetails[data.personalDetail].display}}</td>
    <td><a>Change</a></td>
  </tr>
{% else %}
<tr>
  <td class="bold">{{data.personalDetails[data.personalDetail].display}}</td>
  <td>{{data.personalDetailValue}}</td>
  <td><a>Change</a></td>
</tr>
{% endif %}