{% if data.updateType == 1 %}
  <tr>
    <td class="bold">Start date</td>
    <td>3 Dec 2018</td>
    <td><a>Change</a></td>
  </tr>
{% endif %}

{% if data.updateType == 5 %}
  <tr>
    <td class="bold">End date</td>
    <td>3 Dec 2018</td>
    <td><a>Change</a></td>
  </tr>
{% endif %}