{% extends "../../wrapper_template.html" %}

{% block h2title %}
    <h2 class="title">Update the account status</h2>
{% endblock  %}

{% block content %}

<h2 class="heading-medium question">What is the account status?</h2>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="nino-level-handler">
            
      <div class="form-group">

        <div class="multiple-choice">
          <input id="live" type="radio" name="tempAccountStatus" value="Open" {% if data.citizen.accountStatus == 'Open' %} checked='checked' {% endif %}>
          <label for="live">Open</label>
        </div>
      
        <div class="multiple-choice">
          <input id="superseded" type="radio" name="tempAccountStatus" value="Superseded" {% if data.citizen.accountStatus == 'Superseded' %} checked='checked' {% endif %}>
          <label for="superseded">Superseded</label>
        </div>
        
        <div class="multiple-choice">
          <input id="deleted" type="radio" name="tempAccountStatus" value="Deleted" {% if data.citizen.accountStatus == 'Deleted' %} checked='checked' {% endif %}>
          <label for="deleted">Deleted</label>
        </div>
        
      </div> 
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>
{% endblock  %}
