{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="sl-account-canvas row" id="prototype-navigation">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        <div id="sl-address-primary-card" class="sl-primary-card">
          {% include "components/create-account-nav.html" %}

          {% include "components/nino/2/immigration-wrapper.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}