  {% include "components/account2/correspondence.html" %}
  
  <hr class="light">
  
  <div class="grid-row">

    <div class="column-one-third">
      <ul>
        <li>Residential address</li>
        <li class="sl-secondary-text-color sl-metadata">
            {{data.addresses.residential.startDate}} – present
        </li>
      </ul>
    </div>
  
    <div class="column-one-third">
      <p class="address">
        {% if residentialaddress.cherish != false %}
          {{residentialaddress.cherish}}<br>
        {% endif %}
        {% if residentialaddress.status === "live" or residentialaddress.status === "dlo" %}
          {{residentialaddress.line}}<br>
          Gateshead<br>
          Tyne and wear<br>
          NE1 1HH<br>
          England
      </p>
        {% endif %}
      <ul>
        <li class="status-item">
        {% if residentialaddress.status === "live" %}
          <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Live</span>
        {% elif residentialaddress.status === "dlo" %}
          <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Dead letter office</span>
        {% elif residentialaddress.status === "pwa" %}
          <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Person without address</span>
        {% elif residentialaddress.status === "nfa" %}
          <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">No fixed abode</span>
        {% endif %}
        </li>
      </ul>

    </div>
  
    <div class="column-one-third">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#res-address" class="under-link">View maintenance</a> 
        </li>
        <li>
          <a class="secondary-link" href="update-address-handler?addressType=residential&updateType=0">Change</a>
        </li>
      </ul>
    </div>
    
  </div> 

</div> 

<hr class="light">

{% include "components/previous-address.html" %}