{% if data.personalDetails.assetFreeze.state == 5 %}
  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li class="">Asset freeze</li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="bold">No current asset freeze</li>
      </ul>
        <details id="previous-names">
          <summary>
            <span class="summary">View previous</span>
          </summary>
          <ul>
            <li>21 Nov 2018&nbsp; · &nbsp;22 Nov 2018</li>
          </ul>
        </details>
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a class="secondary-link" href="person-change-handler/?personalDetail=assetFreeze">Change</a>
        </li>
      </ul>
    </div>
  </div>        
{% else %}

  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li class="">Asset freeze</li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="bold">Since 12 Nov 2017 </li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a class="secondary-link" href="person-change-handler/?personalDetail=assetFreeze">Change</a>
        </li>
      </ul>
    </div>
  </div>    
{% endif %}