<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li class="">Asset freeze</li>
    </ul>
  </div>
  <div class="column-one-third">
    <ul>
    {% if data.personalDetails.assetFreeze.state == 1 %}
      <li class="bold">Since {{data.personalDetails.assetFreeze.start | asString}}</li>
    {% elif data.personalDetails.assetFreeze.state == 5 %}
      <li class="">No current asset freeze</li>
    {% endif %}
    </ul>
        
    {% if data.personalDetails.assetFreeze.showHistory == true %}
      <details id="previous-names">
        <summary>
          <span class="summary">View previous</span>
        </summary>
        <ul>
          <li>{{data.personalDetails.assetFreeze.start | asString}}&nbsp; · &nbsp;{{data.personalDetails.assetFreeze.start | asString}}</li>
        </ul>
      </details>
    {% endif %}
    
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a class="secondary-link" href="person-change-handler/?personalDetail=assetFreeze">Change</a>
      </li>
    </ul>
  </div>
</div>