<!--
<div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Account creation details</h2>
  <div id="sl-address-primary-card" class="sl-primary-card">
    <div id="creation-pane">       
      <div class="grid-row ac-info">
        <div class="column-one-third">
          <ul>
            <li>Date created</li>
            <li>System</li>
            <li>Office</li>
            <li>Telephone</li>
          </ul>
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong">11 Jan 1990</li>
            <li class="strong">DCI</li>
            <li class="">Not available</li>
            <li class="">Not available</li>
          </ul>
        </div>
        <div class="column-one-third">
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="grid-row">
  <div class="column-one-third">
    Account created
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">01 Jan 1990</li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#creation_modal" class="under-link">View maintenance</a> 
      </li>
    </ul>
  </div>
</div>
