 <!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">

        {% include "components/account2/personal.html" %}
        
        {% include "components/address.html" %}
        
        {% include "components/account2/contact.html" %}
        
        {% include "components/interest.html" %}


        <div name="Benefits" id="benefits" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Benefits</h2>

          <!-- ngIf: !data.fullAwardHistory || data.fullAwardHistory.empty --><div class="sl-primary-card ng-scope" ng-if="!data.fullAwardHistory || data.fullAwardHistory.empty">
            <!-- ngIf: !data.fullAwardHistory && benefitsTimeout -->

            <!-- ngIf: !data.fullAwardHistory && !benefitsTimeout -->
            <!-- ngIf: data.fullAwardHistory.empty --><div class="row ng-scope" ng-if="data.fullAwardHistory.empty">

              <div class="col-xs-12">No benefits held for this customer.

              </div>
            </div><!-- end ngIf: data.fullAwardHistory.empty -->
          </div><!-- end ngIf: !data.fullAwardHistory || data.fullAwardHistory.empty -->
          <!-- ngIf: (data.fullAwardHistory.benefitsSummary.currentBenefits || data.fullAwardHistory.benefitsSummary.previousBenefits) && !data.fullAwardHistory.empty -->
        </div>

        <div name="Relationships" id="relationships" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Relationships</h2>
          <div ng-class="{'sl-primary-card': data.relationships.empty || !data.relationships}" class="sl-primary-card">
            <!-- ngIf: !data.relationships && relationshipsTimeout -->
            <!-- ngIf: !data.relationships && !relationshipsTimeout -->
            <!-- ngIf: data.relationships.empty --><div class="row ng-scope" ng-if="data.relationships.empty">
              <div class="col-xs-12">No relationships held for this customer.
              </div>
            </div><!-- end ngIf: data.relationships.empty -->
            <!-- ngIf: data.relationships && !data.relationships.empty -->
          </div>
        </div>

        <div class="last-card">
        {% include "components/account2/creation.html" %}
        </div>
        
      </div>
    </div>
  </div>


  <!-- Code template for primary and embedded cards. Ensure styling is defined as child of width elements and embedded cards are defined under a row.

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
      </div>
    </div>
  </div>-->