<div class="grid-row">
  <div class="column-one-third">
    Disability status
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong"> 
        Disabled
      </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
<!--            <li><a class="under-link">View history</a></li>-->
      <li>                
        <a href="person-change-handler/?personalDetail=disability" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
