<div class="grid-row">
  <div class="column-one-third">
    Disability status
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">
        {% if data.personalDetails.disability.value == true %}
          Disabled
        {% else %}
          Not disabled
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="newpersonchange/?personalDetail=disability" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>