{% if data.graAdded === true and data.preGraAdded === true %}
  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      <p>Gender</p>
    </div>
      <div class="column-one-third">
        <ul>
            <li class="strong">Acquired gender - GRA</li>
            <li class="sl-secondary-text-color sl-metadata">Since today</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="../history/sex-history-adv" class="under-link">View history</a>
          </li>
          <li>
            <a href="" class="under-link" style="font-size:17px;">Change</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
    <div class="column-two-thirds">
      <hr class="light">
    </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
      <div class="column-one-third">
        <ul>
            <li class="strong">Acquired gender - pre GRA</li>
            <li class="sl-secondary-text-color sl-metadata">Since today</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="../history/sex-history-adv" class="under-link">View history</a>
          </li>
          <li>
            <a href="" class="under-link" style="font-size:17px;">Change</a>
          </li>
        </ul>
      </div>
  </div>

{% endif %}

{% if data.graAdded === true and data.preGraAdded === false %}
  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      <p>Gender</p>
    </div>
      <div class="column-one-third">
        <ul>
            <li class="strong">Acquired gender - GRA</li>
            <li class="sl-secondary-text-color sl-metadata">Since today</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="../history/sex-history-adv" class="under-link">View history</a>
          </li>
          <li>
            <a href="" class="under-link" style="font-size:17px;">Change</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
    <div class="column-two-thirds">
      <hr class="light">
    </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
      <div class="column-one-third">
        <ul>
          <li class="sl-secondary-text-color sl-metadata">Add acquired gender - pre GRA information</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a href="add-gender-handler" class="under-link">Add</a>
          </li>
        </ul>
      </div>
  </div>

{% endif %}

{% if data.graAdded === false and data.preGraAdded === true %}
  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      <p>Gender</p>
    </div>
      <div class="column-one-third">
        <ul>
            <li class="strong">Acquired gender - pre GRA</li>
            <li class="sl-secondary-text-color sl-metadata">Since today</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="../history/sex-history-adv" class="under-link">View history</a>
          </li>
          <li>
            <a href="" class="under-link" style="font-size:17px;">Change</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
    <div class="column-two-thirds">
      <hr class="light">
    </div>
  </div>

  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      &nbsp;
    </div>
      <div class="column-one-third">
        <ul>
            <li class="sl-secondary-text-color sl-metadata">Add acquired gender - GRA information</li>
        </ul>    
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a href="add-gender-handler" class="under-link">Add</a>
          </li>
        </ul>
      </div>
  </div>

{% endif %}


{% if data.graAdded === false and data.preGraAdded === false %}

<!--
  <div class="grid-row" style="margin-bottom:0;">
    <div class="column-one-third">
      Gender
    </div>
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a href="../update/gender/update" class="under-link">Add</a>
          </li>
        </ul>
      </div>
  </div>
-->

{% endif %}