
  <!-- REQUESTED NAME-->
  {% if data.hasRequestedName == true %}
    <div class="grid-row names">
      <div class="column-one-third">
        <ul>
          <li>Name</li>
        </ul>
      </div>
      <div class="column-one-third">
        <ul class="">
          <li class="strong">
            {{data.requestedName | upper}}
          </li>
          <li class="sl-secondary-text-color sl-metadata">
            Requested name&nbsp; · &nbsp;since today
          </li>
        </ul> 
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#requested_name_modal" class="under-link">View maintenance</a> 
          </li>
          <li>
            <form class="dumbform" method="get" action="change-type-handler">
              <input class="visually-hidden" type="text" value="three" id="name" name="name">
              <input type="submit" class="under-link" value="Change">
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row names">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
  {% endif %}

  <!-- NAME 2 -->
  {% if data.hasNameTwo == true %}
    <div class="grid-row names">
      <div class="column-one-third">
        <ul>
          {% if data.hasRequestedName == false %}
            <li>Name</li>
          {% else %}
            <li>&nbsp;</li>
          {% endif %}
        </ul>
      </div>
      <div class="column-one-third">
        <ul class="">
          <li class="strong">
            {{data.title | upper}} <span class="namespace"> </span> {{data.nameTwoFirst | upper}} <span class="namespace"> </span> {{data.nameTwoLast | upper}}
          </li>
          <li class="sl-secondary-text-color sl-metadata">
            Name type 2&nbsp; · &nbsp;since today
          </li>
        </ul> 
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#name_two_modal" class="under-link">View maintenance</a> 
          </li>
          <li>
            <form class="dumbform" method="get" action="change-type-handler">
              <input class="visually-hidden" type="text" value="two" id="name" name="name">
              <input type="submit" class="under-link" value="Change">
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row names">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
  {% endif %}

  <!-- NAME 1 -->
  <div class="grid-row names">
    <div class="column-one-third">
      <ul>
      {% if data.hasRequestedName == false and data.hasNameTwo == false %}
        <li>Name</li>
      {% else %}
        <li>&nbsp;</li>
      {% endif %}
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">
          {{data.details.name.title | upper}} <span class="namespace"> </span> {{data.details.name.first | upper}} <span class="namespace"> </span> {{data.details.name.last | upper}}
        </li>
        <li class="sl-secondary-text-color sl-metadata">
          {% if data.hasNameTwo == true or data.hasRequestedName == true %}
            Name type 1&nbsp; · &nbsp;since
          {% else %}
            Since
          {% endif %}

          {% if data.nameOneUpdated == true %}
            today
          {% else %}
            15 Dec 2000
          {% endif %}
        </li>
      </ul> 
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#name_one_modal" class="under-link">View maintenance</a> 
        </li>
        <li>
          <form class="dumbform" method="get" action="change-type-handler">
            <input class="visually-hidden" type="text" value="one" id="name" name="name">
            <input type="submit" class="under-link" value="Change">
          </form>
        </li>
      </ul>
    </div>
  </div>

<!--
    <div class="grid-row">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
-->

  {% if data.hasNameTwo === true and data.hasRequestedName === true %}
  {% else %}
    <div class="grid-row no margin">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-two-thirds">
        <hr class="light">
      </div>
    </div>
    <div class="grid-row no-margin">
      <div class="column-one-third">
        &nbsp;
      </div>
      <div class="column-one-third">
        <ul>
          <li class="sl-secondary-text-color sl-metadata">
            {% if data.hasNameTwo === false and data.hasRequestedName === false %}
              Add another name
            {% elif data.hasNameTwo === true and data.hasRequestedName === false  %}
              Add a requested name
            {% elif data.hasNameTwo === false and data.hasRequestedName === true  %}
              Add a name type 2
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="sub-menu">
          <li>
            <form class="dumbform" method="get" action="add-handler">
              <input type="submit" class="under-link" value="Add">
            </form>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}


      {% include "components/account2/previous-names.html" %}
