<!--
<div class="grid-row">
  <div class="column-one-third">
    National fraud interest
  </div>
  <div class="column-one-third">
    <ul>
        <li class="strong"> 
          Yes
        </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
-->


<div class="grid-row">
  <div class="column-two-thirds">
<!--    <p style="margin-bottom:10px;"><span class="strong">This identity is in doubt</span></p>-->
    <p style="margin-bottom:10px;"><span class="strong">This account is monitored by Identity Fraud Intelligence</span></p>
<!--    Do not put a claim into payment-->
    <ul class="list list-bullet" style="margin-bottom:0;">
      <li>Do not alert the customer</li>
      <li>Do not make any changes</li>
      <li>Telephone 0191 000 000</li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
