<!--
<div class="grid-row">
  <div class="column-one-third">
    National fraud interest
  </div>
  <div class="column-one-third">
    <ul>
        <li class="strong"> 
          Yes
        </li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
-->


<div class="grid-row">
  <div class="column-two-thirds">
    <p style="margin-bottom:10px;"><span class="strong">This account may be under investigation for fraud</span></p>
    <ul class="list list-bullet" style="margin-bottom:0;">
      <li>Do not tell the customer</li>
      <li>Continue as normal but do not make any changes</li>
      <li>Telephone the fraud team on 0191 111 111</li>
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="person-change-handler/?personalDetail=nifu" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>
