<div class="extra-margin">
  <div class="grid-row">
    <div class="column-one-third">
      National Insurance number
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">SY119284Z</li>
        <li class="multi-dates">
          {% if data.personalDetails.ninoVerificationLevel.value == "Verified" %}
            <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
            <span class="sl-metadata">Verified</span>
          {% elif data.personalDetails.ninoVerificationLevel.value == "Qualified" %}
            <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
            <span class="sl-metadata">Qualified</span>
          {% elif data.personalDetails.ninoVerificationLevel.value == "Unverified" %}
            <img src="../../../public/images/warning-icon-red-small.svg" title="Green tick" class="ng-scope"> 
            <span class="sl-metadata">Unverified</span>
          {% endif %}
          </li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
         <a href="/history/nino-history" class="under-link">View history</a>
        </li>
        <li>
          <a class="secondary-link" href="../../update/account-status/type">Change</a>
        </li>
      </ul>
    </div>
  </div>
       
  {% if data.personalDetails.accountStatus.value == 'Superseded' %}
    <div class="grid-row">
      <div class="column-one-third">
        Superseding National Insurance number
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong"><a class="under-link">SY119284Z</a></li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        National Insurance number status
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Superseded</li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        National Insurance number usage status
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Deleted</li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>   
  {% endif %}


</div>  