<details>
  <summary>
    <span class="summary">More personal details</span>
  </summary>
  
  <div class="personal-details">

    <hr class="light">
    
    <!-- nationality -->
    {% if data.showNationality == true %}
      <div class="grid-row">
        <div class="column-one-third">
          Nationality
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong">{{data.nationality}}</li>
          </ul>
        </div>
          <div class="column-one-third last-col">
            <ul class="edit-menu">
              <li>
                <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
              </li>
              <li>
                <a href="../update/person/nationality/type" class="under-link" style="font-size:17px;">Change</a>
              </li>
            </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}

    
    <!-- gender -->
    {% if data.showPreGra == true or data.showGra == true %}
      {% include "components/account2/gender.html" %}
      <hr class="light">
    {% endif %}

    
    <!-- sex -->
    {% include "components/account2/sex.html" %}
    <hr class="light">
    
    
    <!-- Spoken language -->
    {% if data.spokenLanguageUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>Spoken language</p>
        </div>
        <div class="column-one-third">
          <p class="strong">English</p>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
  <!--
            <li>
              <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> <span class="pipe"> | </span> <a href="language-pref-history" class="under-link">View history</a>
            </li>
  -->
  <!--
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
  -->
          </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}
    
    
    <!-- Preferred language -->
    {% if data.pLanguageUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>Preferred language</p>
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong">English</li>
            <li class="sl-secondary-text-color sl-metadata">
              Since 5 Jun 2010
            </li>
          </ul>      
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#spoken_language" class="under-link">View maintenance</a> 
              <span class="pipe"> | </span> 
              <a href="language-pref-history" class="under-link">View history</a>
            </li>
  <!--
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
  -->
          </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}
    
    
    <!-- NIFU -->
    {% if data.nifuUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>National identity fraud unit</p>
        </div>
        <div class="column-one-third">
          <p class="strong">Yes</p>
        </div>
        <div class="column-one-third last-col">
  <!--
          <ul class="edit-menu">
            <li>
              <a class="under-link">View maintenance</a> 
            </li>
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
          </ul>
  -->
        </div>
      </div>
      <hr class="light">
    {% endif %}

    
    <!-- Civil status -->
    {% if data.showMarital === true %}
      <div class="grid-row">
        <div class="column-one-third">
          Marital or civil status
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong">{{data.maritalStatus}}</li>
          </ul>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
<!--            <li><a class="under-link">View history</a></li>-->
            <li>                
<!--              <a href="updating-handler/?feature=marital&state=updating" class="under-link" style="font-size:17px;">Change</a>-->
              <a href="../update/person/marital/type" class="under-link" style="font-size:17px;">Change</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="light">
  {% endif %}

    <!-- Disability -->
    {% if data.showDisability === true %}
      <div class="grid-row">
        <div class="column-one-third">
          Disability status
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong"> 
              {% if data.disability === true or data.disability === "true" %}
                This person is disabled
              {% else %}
                This person is not disabled
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
<!--            <li><a class="under-link">View history</a></li>-->
            <li>                
              <a href="updating-handler/?feature=disability&state=updating" class="under-link" style="font-size:17px;">Change</a>
            </li>
          </ul>
        </div>
      </div>
    <hr class="light">
  {% endif %}

  
  <div class="grid-row" style="margin-bottom: 0;">
    <div class="column-one-third">
      <ul>
        &nbsp;
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul>
        <li><a href="../update/person/update" class="under-link" style="font-size:17px;">Add personal details</a></li>
      </ul>
    </div>
  </div>

</details>