<details>
  <summary>
    <span class="summary">More personal details</span>
  </summary>
  
  <div class="personal-details">

    <hr class="light">
    
    <!-- sex -->
    {% include "components/account2/sex.html" %}
    <hr class="light">
    
    <!-- gender -->
    {% for items, item in data.personalDetails %}
      {% if item.show == true %}
        {% if items == "nathan" %}
          {% include "components/account2/nathan.html" %}
        {% elif items == "nifu" %}
          {% include "components/account2/nifu.html" %}
        {% elif items == "disability" %}
          {% include "components/account2/disability.html" %}
        {% elif items == "specialNeeds" %}
          {% include "components/account2/special-needs.html" %}
        {% elif items == "nationality" %}
          {% include "components/account2/nationality.html" %}
        {% elif items == "maritalStatus" %}
          {% include "components/account2/marital.html" %}
        {% endif %}
        <!-- Spoken language -->
        <!-- prefered language -->
        <!-- PO -->    
        <hr class="light">
      {% endif %}
    {% endfor %}

    <!-- Spoken language -->
    {% if data.spokenLanguageUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>Spoken language</p>
        </div>
        <div class="column-one-third">
          <p class="strong">English</p>
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
  <!--
            <li>
              <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> <span class="pipe"> | </span> <a href="language-pref-history" class="under-link">View history</a>
            </li>
  -->
  <!--
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
  -->
          </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}
    
    
    <!-- Preferred language -->
    {% if data.pLanguageUpdated == true %}
      <div class="grid-row">
        <div class="column-one-third">
          <p>Preferred language</p>
        </div>
        <div class="column-one-third">
          <ul>
            <li class="strong">English</li>
            <li class="sl-secondary-text-color sl-metadata">
              Since 5 Jun 2010
            </li>
          </ul>      
        </div>
        <div class="column-one-third last-col">
          <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#spoken_language" class="under-link">View maintenance</a> 
              <span class="pipe"> | </span> 
              <a href="/historylanguage-pref-history" class="under-link">View history</a>
            </li>
  <!--
            <li>
              <a class="secondary-link" href="">Change</a>
            </li>
  -->
          </ul>
        </div>
      </div>
      <hr class="light">
    {% endif %}
    
      {% include "components/account2/postoffice.html" %}
      <hr class="light">


  <div class="grid-row" style="margin-bottom: 0;">
    <div class="column-one-third">
      <ul>
        &nbsp;
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul>
        <li><a href="../update/person/add" class="under-link" style="font-size:17px;">Add personal details</a></li>
      </ul>
    </div>
  </div>

</details>