<div name="Personal" id="Personal" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Personal details</h2>
  <div class="sl-primary-card sl-personal-details-card">

    <div class="personal-details">
      
      {% include "components/account2/names.html" %}
      
      <hr class="light">
      
      <div class="grid-row">
        <div class="column-one-third">
          <p>Date of birth</p>
        </div>

        <div class="column-one-third">
          <ul>
            <li class="strong">{{data['dob']}}</li>
            <li class="sl-secondary-text-color sl-metadata">
              Since 5 Jun 2010
            </li>
            <li class="multi-dates">
              <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
              <span class="sl-metadata">Verified to level 2</span>
            </li>
          </ul>
        </div>

      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            <a data-toggle="modal" data-target="#birth_modal" class="under-link">View maintenance</a> 
            <span class="pipe"> | </span> 
            <a href="/history/birth-history" class="under-link">View history</a>
          </li>
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
        </ul>
      </div>
    </div>
  
    <hr class="light">

    <div class="grid-row">
      <div class="column-one-third">
        National Insurance number
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">SY119284Z</li>
          <li>
            <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
            <span class="sl-secondary-text-color sl-metadata">Verified</span>
          </li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
           <a href="/history/nino-history" class="under-link">View history</a>
          </li>
          <li>
            <a class="secondary-link" href="">Change</a>
          </li>
        </ul>
      </div>
    </div>
      
    <div class="grid-row">
      <div class="column-one-third">
        Superseding National Insurance number
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong"><a class="under-link">SY119284Z</a></li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>
    
    <div class="grid-row">
      <div class="column-one-third">
        National Insurance number status
      </div>
      <div class="column-one-third">
        <ul>
          <li class="strong">Superseded</li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>
  
    <div class="grid-row">
      <div class="column-one-third">
        National Insurance number usage status
      </div>

      <div class="column-one-third">
        <ul>
          <li class="strong">Deleted</li>
        </ul>
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
        </ul>
      </div>
    </div>   
            
      <hr class="light">
      {% include "components/account2/other-personal-details.html" %}
      
      {% include "components/modals.html" %}

  </div>
</div>