{% if data.personalDetails.preferredLanguage.state == "removed" %}
  <div class="grid-row no-margin">
    <div class="column-one-third">
      <ul>
        <li>Preferred language</li>
      </ul>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="sl-secondary-text-color sl-metadata">Removed  ·  {{data.prepopulatedString}}</li>
      </ul>
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#spoken_language" class="under-link">View maintenance</a> 
          <span class="pipe"> | </span> 
          <a href="/historylanguage-pref-history" class="under-link">View history</a>
        </li>
        <li>
          <a href="adding-detail-handler?personalDetail=preferredLanguage" class="under-link">Add</a>
        </li>
      </ul>
    </div>
  </div>

{% else %}

  <div class="grid-row no-margin">
    <div class="column-one-third">
      Preferred language
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">{{data.personalDetails.preferredLanguage.value}}</li>
  <!--
        <li class="sl-secondary-text-color sl-metadata">
          Since 5 Jun 2010
        </li>
  -->
      </ul>      
    </div>
    <div class="column-one-third last-col">
      <ul class="edit-menu">
        <li>
          <a data-toggle="modal" data-target="#spoken_language" class="under-link">View maintenance</a> 
          <span class="pipe"> | </span> 
          <a href="/historylanguage-pref-history" class="under-link">View history</a>
        </li>
        <li>
          <a href="person-change-handler/?personalDetail=preferredLanguage" class="under-link">Change</a>
        </li>
      </ul>
    </div>
  </div>

{% endif %}
