<div class="grid-row names">
  <div class="column-one-third">
    &nbsp;
  </div>
  <div class="column-two-thirds">
    <hr class="light">
    <details id="previous-names">
      <summary>
        <span class="summary">Previous names</span>
      </summary>
      <hr class="light">
      <div class="grid-row names">
        <div class="column-one-half">
          <ul>
            <li class="strong">
              MR <span class="namespace"> </span>IBRAHIM BOUBACAR <span class="namespace"> </span> TRAORE
            </li>
            <li class="sl-secondary-text-color sl-metadata">
              Name type 1&nbsp; · &nbsp;9 Mar 1999 -- 13 Dec 2016              
            </li>
          </ul> 
        </div>
        <div class="column-one-half last-col">
          <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#name_one_modal" class="under-link">View maintenance</a> 
            </li>
          </ul>
        </div>
      </div>
      <hr class="light split">
      <div class="grid-row names">
        <div class="column-one-half">
          <ul>
            <li class="strong">
              MR <span class="namespace"> </span> IBRAHIM BOUBACAR <span class="namespace"> </span> TRAORE KEITA
            </li>
            <li class="sl-secondary-text-color sl-metadata">
              Name type &nbsp; · &nbsp;9 Mar 1999 -- 13 Dec 2016              
            </li>
          </ul> 
        </div>
        <div class="column-one-half last-col">
          <ul class="edit-menu">
            <li>
              <a data-toggle="modal" data-target="#name_one_modal" class="under-link">View maintenance</a> 
            </li>
          </ul>
        </div>
      </div>
    </details>
  </div>
</div>