
<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li class="">Identity at risk</li>
    </ul>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="bold">
        {% if data.personalDetails.idAtRisk.value == true %}
          Yes
        {% else %}
          No
        {% endif %}
      </li>
      <li class="sl-secondary-text-color sl-metadata">
        Since today
      </li>    
    </ul>
            
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#risk_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="/history/risk-history" class="under-link">View history</a>
      </li>
      <li>
        <a href="change_pd/?personalDetail=idAtRisk" class="under-link">Change</a>
      </li>
    </ul>
  </div>
</div>


