<div class="grid-row">
  <div class="column-one-third">
    <p>Sex</p>
  </div>
  <div class="column-one-third">
    <ul>
      <li class="strong">{{data.sex}}</li>
      {% if data.genderUpdated === true or data.sexChanged === true %}
      <li class="sl-secondary-text-color sl-metadata">
        Since today
      </li>
      {% else %}
      <li class="sl-secondary-text-color sl-metadata">
        Since 11 Jan 1990
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>
        <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        <span class="pipe"> | </span> 
        <a href="../history/sex-history" class="under-link">View history</a>
      </li>
      {% if data.gender.show != true %}
        <li>
          <a href="sex-simple-handler" class="under-link" style="font-size:17px;">Change</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>