<div class="grid-row">
  <div class="column-one-third">
    Special needs
  </div>
  <div class="column-one-third">
    <ul>
      {% for need in data.needs %}
        <li class="strong"> 
          {{need}}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="column-one-third last-col">
    <ul class="edit-menu">
      <li>                
        <a href="updating-handler/?feature=needs&state=updating" class="under-link" style="font-size:17px;">Change</a>
      </li>
    </ul>
  </div>
</div>
