{% set y = " " %}
{% set x = " " %}

{% for someId, item in data.contactTypes %}
  {% if item.state == "added" or item.state == "updated" or item.state == "corrected" or item.state == "removed" %}
    {% extends "components/update/toasters/toast.html" %}
    {% set y = item.display %}
    {% set x = item.type %}
    {% block message %}
      {{y}} 

      {% if x == "phone" or x == "fax" or x == "other-phone" %}
        number 
      {% elif x == "email" %}
        address 
      {% endif %}

      added
    {% endblock %}
  {% endif %}
{% endfor %}