{% macro awarddetails() %}
<tr>
	<td>
		<details>
			<summary>Award details</summary>
		</details>
	</td>
	<td></td>
</tr>
{% endmacro %}

<div class="sl-account-canvas row updater slim-header">

	<div class="sl-primary-card" id="benefit-name">

  	<div class="sl-account-canvas-width">

	 		<h1 class="title">Personal Independence Payment</h1>
	 		<p>Decision Entitled</p>

  		</div>

  </div>

  <div class="sl-account-canvas-width" id="benefit-detail">

		<div class="grid-row">

			{% include "./components/current-award-pip.html" %}

			{% include "./components/key-dates-pip.html" %}
	     
	  </div>

</div>