<div class="grid-row">
  <div class="column-two-thirds">

    <h3 class="bold">You will need to do a manual trace for their  <br>personal details.</h3>
    <p><a target="_blank" href="./application" class="under-link">View their submitted application</a> (in a new window)</p>
    <p><a target="_blank" class="under-link" href="../search-for-a-person-three">Trace in Searchlight</a>  (in a new window)</p>
    <br>
    <p><a class="button" href="./trace_options">Next</a></p>
  
  </div>
</div>


    {# <form method="get" action="./trace_options">
      <div class="">
        <input class="button" type="submit" value="Next">
      </div>
    </form> #}
