{% include "components/income/error.html" %}  

<div class="jobdetails">
    <h3>Boots plc</h3>
    <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
    <ul class="break">
      <li>PAYE reference:</li>
      <li>12342712</li>
    </ul>
    <ul>
      <li>Payroll ID:</li>
      <li>2</li>
    </ul>
    <ul>
      <li>Sequence number:</li>
      <li>233</li>
    </ul>
  </div>  

  <div class="job-container">
    <div class="job">
      <div>
        <ul class="titles">
          <li>Income</li>
          <li>Year to date</li>
          <li>Individual records</li>
        </ul>
        
        <ul class="data header">
          <li>Paid</li>
          <li>Received</li>
          <li>Frequency</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
          <li>Pension</li>
          <li>RAS<br>Pension</li>
          <li>Payroll<br>Benefits</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
<!--          <li>After tax<br>and NI</li>-->
          <li>Pension</li>
          <li>RAS<br>Pension</li>
          <li>Third<br>party</li>
          <li>Pay not subject<br>to tax or NI</li>
          <li>Payment<br>confidence</li>
          <li>Payroll<br>Benefits</li>
          <li>Director</li>
          <li>Late<br>reason</li>
        </ul>
              
        <ul class="data">
          <li>31 Jul 18</li> <!-- paid -->
          <li>31 Jul 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£2,886.80</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>31 Jul 18</li> <!-- paid -->
          <li>31 Jul 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£2,886.80</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>3</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>29 Jun 18</li> <!-- Received -->
          <li>29 Jun 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£2,306.08</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>29 Jun 18</li> <!-- paid -->
          <li>29 Jun 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£2,306.08</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>3</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>31 May 18</li> <!-- Received -->
          <li>31 May 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£1,725.36</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£380.50</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>31 May 18</li> <!-- paid -->
          <li>31 May 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£1,725.36</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£380.50</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>3</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>30 Apr 18</li> <!-- paid -->
          <li>30 Apr 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£1,144.64</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>29 Mar 18</li> <!-- paid -->
          <li>29 Mar 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£1,144.64</li> <!-- Tax -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.72</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>3</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£563.92</li> <!-- Tax -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.92</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£563.92</li> <!-- Tax -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£580.92</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>3</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£13,125.95</li> <!-- Tax -->
          <li>£436.00</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£628.12</li> <!-- Taxable pay -->
          <li>-£64.20</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£13,125.95</li> <!-- Tax -->
          <li>£500.20</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£628.32</li> <!-- Taxable pay -->
          <li>-£64.40</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£13,125.95</li> <!-- Tax -->
          <li>£500.20</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£628.32</li> <!-- Taxable pay -->
          <li>-£64.40</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£13,125.95</li> <!-- Tax -->
          <li>£500.20</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£628.32</li> <!-- Taxable pay -->
          <li>-£64.40</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Feb 18</li> <!-- paid -->
          <li>28 Feb 18</li> <!-- Received -->
          <li>4 weekly</li> <!-- Frequency -->
          <li>£12,562.95</li> <!-- Tax -->
          <li>£564.60</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>£628.12</li> <!-- Taxable pay -->
          <li>-£64.20</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>£0</li> <!-- Pension -->
          <li>£0</li> <!-- RAS Pension -->
          <li>£16.96</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>1</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
      </div>
    </div>
  </div>