{% include "components/income/error.html" %}  

<div class="jobdetails">
    <h3>Boots plc</h3>
    <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
    <ul class="break">
      <li>PAYE reference:</li>
      <li>12342712</li>
    </ul>
    <ul>
      <li>Payroll ID:</li>
      <li>2</li>
    </ul>
    <ul>
      <li>Sequence number:</li>
      <li>233</li>
    </ul>
  </div>  
  
  <div class="job-container">
    <div class="job">
      <div>
        <ul class="titles">
          <li>Income</li>
          <li>Year to date</li>
          <li>Individual records</li>
        </ul>
        
        <ul class="data header">
          <li>Paid</li>
          <li>Received</li>
          <li>Frequency</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
          <li>Pension</li>
          <li>RAS<br>Pension</li>
          <li>Payroll<br>Benefits</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
          <!-- <li>After tax<br>and NI</li> -->
          <li>Pension</li>
          <li>RAS<br>Pension</li>
          <li>Third<br>party</li>
          <li>Pay not subject<br>to tax or NI</li>
          <li>Payment<br>confidence</li>
          <li>Payroll<br>Benefits</li>
          <li>Director</li>
          <li>Late<br>reason</li>
        </ul>
              
        <ul class="data">
          <li>28 Jun 18</li> <!-- paid -->
          <li>31 Jul 18</li> <!-- Received -->
          <li>Monthly</li> <!-- Frequency -->
          <li>£636</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Payroll Benefits -->
          <li>£162</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>4</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 May 18</li> <!-- paid -->
          <li>31 May 18</li> <!-- Received -->
          <li>Monthly</li> <!-- Frequency -->
          <li>£474</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Payroll Benefits -->
          <li>£252</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>4</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Apr 18</li> <!-- paid -->
          <li>12 May 18</li> <!-- Received -->
          <li>Monthly</li> <!-- Frequency -->
          <li>£222</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Payroll Benefits -->
          <li>£222</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>4</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Jan 18</li> <!-- paid -->
          <li>22 Feb 18</li> <!-- Received -->
          <li>Monthly</li> <!-- Frequency -->
          <li>£2,918</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Payroll Benefits -->
          <li>£312</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>4</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
        <ul class="data">
          <li>28 Dec 17</li> <!-- paid -->
          <li>22 Feb 18</li> <!-- Received -->
          <li>Monthly</li> <!-- Frequency -->
          <li>£2,606</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Payroll Benefits -->
          <li>£312</li> <!-- Taxable pay -->
          <li>£0</li> <!-- Tax -->
          <li>£0</li> <!-- NI -->
           <!-- <li>£0</li> After tax and NI -->
          <li>-</li> <!-- Pension -->
          <li>-</li> <!-- RAS Pension -->
          <li>-</li> <!-- Third party -->
          <li>£0</li> <!-- Pay not subject to tax or NI -->
          <li>4</li> <!-- Payment confidence -->
          <li>£0</li> <!-- Payroll Benefits -->
          <li>-</li> <!-- Director -->
          <li>-</li> <!-- Late reason -->
        </ul>
        
      </div>
    </div>
  </div>