  <div class="jobdetails">
    <h3>Boots plc</h3>
    <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
    <ul>
      <li>Works number:</li>
      <li>12342712</li>
    </ul>
    <ul>
      <li>Sequence number:</li>
      <li>2</li>
    </ul>
    <ul>
      <li>Director:</li>
      <li>No</li>
    </ul>
  </div>  
  
  <div class="job-container">
    <div class="job">
      <div>
<!--
        <ul class="titles">
          <li>Income</li>
          <li>Year to date</li>
          <li>Individual records</li>
        </ul>
-->
        <div class="data">
          <ul>
            <li>Paid</li>
            <li>15 Aug 2018</li>
          </ul>

          <ul>
            <li>Received</li>
            <li>15 Aug 2018</li>
          </ul>

          <ul>
            <li>Frequency</li>
            <li>Monthly</li>
          </ul>

          <ul>
            <li>Tax</li>
            <li>£100</li>
          </ul>

          <ul>
            <li>NI</li>
            <li>£100</li>
          </ul>

          <ul>
            <li>Taxable<br> pay</li>
            <li>£1000</li>
          </ul>

          <ul>
            <li>Pension</li>
            <li>£100</li>
          </ul>

          <ul>
            <li>RAS<br> Pension</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Payroll<br> benefits</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Tax</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>NI</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Taxable<br> pay</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>After tax<br> and NI</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Pension</li>
            <li>£0</li>
          </ul>
          <ul>

            <li>RAS<br> Pension</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Third<br> party</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Not subject<br> to tax or NI</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Pay after<br> deductions</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Payment<br> confidence</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Payroll<br> benefits</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Director</li>
            <li>£0</li>
          </ul>

          <ul>
            <li>Late<br> reason</li>
            <li>£0</li>
          </ul>
          
      </div>
        
      </div>
    </div>
  </div>