  <div class="jobdetails">
    <h3>Boots plc</h3>
    <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
    <ul class="break">
      <li>PAYE reference:</li>
      <li>12342712</li>
    </ul>
    <ul>
      <li>Payroll ID:</li>
      <li>2</li>
    </ul>
    <ul>
      <li>Sequence number:</li>
      <li>233</li>
    </ul>
  </div>  
  
  <div class="job-container">
    <div class="job">
      <div>
        <ul class="titles">
          <li>Income</li>
          <li>Year to date</li>
          <li>Individual records</li>
        </ul>
        <ul class="data header">
          <li>Paid</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>RAS<br>Pension</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
<!--          <li>After tax<br>and NI</li>-->
          <li>Third<br>party</li>
          <li>Value of<br>deductions</li>
          <li>Payroll<br>Benefits</li>
          <li>RAS<br>Pension</li>
          <li>Net<br>pension</li>
        </ul>
        <ul class="data">
          <li>17 Jul 17</li>
          <li>£1250.34</li>
          <li>£1500</li>
          <li>£0</li>
          <li>£250</li>
          <li>£0</li>
          <li>£0</li>
<!--          <li>£250</li>-->
          <li>£50</li>
          <li>£250</li>
          <li>£0</li>
          <li>£0</li>
          <li>£0</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="jobdetails">
    <h3>Wetherspoons</h3>
    <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
    <ul>
      <li>Works number:</li>
      <li>12342712</li>
    </ul>
    <ul>
      <li>Sequence number:</li>
      <li>2</li>
    </ul>
    <ul>
      <li>Frequency:</li>
      <li>Monthly</li>
    </ul>
    <ul>
      <li>Director:</li>
      <li>No</li>
    </ul>
  </div>  

  <div class="job-container">
    <div class="job">
      <div>
        <ul class="titles">
          <li>Income</li>
          <li>Year to date</li>
          <li>Individual records</li>
        </ul>
        <ul class="data header">
          <li>Paid</li>
          <li>Frequency</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
          <li>Payroll<br>Benefits</li>
          <li>RAS<br>Pension</li>
          <li>Taxable<br>pay</li>
          <li>Tax</li>
          <li>NI</li>
<!--          <li>After tax<br>and NI</li>-->
          <li>Payment<br>confidence</li>
          <li>Third<br>party</li>
          <li>Pay after<br>tax and NI</li>
          <li>Payroll<br>Benefits</li>
          <li>RAS<br>Pension</li>
          <li>Net<br>pension</li>
        </ul>
        <ul class="data">
          <li>17 Nov 17</li>
          <li>Monthly</li>
          <li>£1250.34</li>
          <li>£1500</li>
          <li>£220</li>
          <li>£0</li>
          <li>£0</li>
          <li>£250</li>
          <li>£0</li>
          <li>£0</li>
<!--          <li>£250</li>-->
          <li>2</li>
          <li>£50</li>
          <li>£250</li>
          <li>£0</li>
          <li>£0</li>
          <li>£0</li>
        </ul>
      </div>
    </div>
  </div>
  