<div id="income">
  <div id="conflicts">
  </div>

  <div class="job">
    <div class="jobdetails">
      <h3>Boots plc</h3>
      <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
      <ul>
        <li>Works number:</li>
        <li>12342712</li>
      </ul>
      <ul>
        <li>Sequence number:</li>
        <li>2</li>
      </ul>
      <ul>
        <li>Frequency:</li>
        <li>Monthly</li>
      </ul>
      <ul>
        <li>Director:</li>
        <li>No</li>
      </ul>
    </div>
    <div>
      <ul class="titles2">
        <li>Income</li>
        <li>Year to date</li>
        <li>Individual records</li>
      </ul>
      <ul class="headers2">
        <li>Paid</li>
        <li>Received</li>
        <li>Taxable pay</li>
        <li>Tax</li>
        <li>NI</li>
        <li>Payroll Benefits</li>
        <li>RAS Pension</li>
        <li>Taxable pay</li>
        <li>Tax</li>
        <li>NI</li>
        <li>After tax and NI</li>
        <li>Payment level</li>
        <li>Third party</li>
        <li>Pay after tax and NI</li>
        <li>Payroll Benefits</li>
        <li>RAS Pension</li>
        <li>Net pension</li>
      </ul>
      <ul class="figures2">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
      </ul>
      <ul class="figures2">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
      </ul>
      <ul class="figures2">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
      </ul>
    </div>
    
  </div>
  
  
  <div class="job">
    <div class="jobdetails">
      <h3>Weatherspoon plc</h3>
      <p class="sl-secondary-text-color">5 Mar 2013 - present</p>
      <ul>
        <li>Works number:</li>
        <li>12342712</li>
      </ul>
      <ul>
        <li>Sequence number:</li>
        <li>3</li>
      </ul>
    </div>
    <div>
      <ul class="titles">
        <li>Income</li>
        <li>Year to date</li>
        <li>Individual records</li>
      </ul>
      <ul class="headers">
        <li>Paid</li>
        <li>Received</li>
        <li>Frequency</li>
        <li>Taxable pay</li>
        <li>Tax</li>
        <li>NI</li>
        <li>Payroll Benefits</li>
        <li>RAS Pension</li>
        <li>Taxable pay</li>
        <li>Tax</li>
        <li>NI</li>
        <li>After tax and NI</li>
        <li>Payment level</li>
        <li>Third party</li>
        <li>Pay after tax and NI</li>
        <li>Payroll Benefits</li>
        <li>RAS Pension</li>
        <li>Net pension</li>
        <li>Director</li>
      </ul>
      <ul class="figures">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>Monthly</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
        <li>No</li>
      </ul>
      <ul class="figures">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>Monthly</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
        <li>No</li>
      </ul>
      <ul class="figures">
        <li>17 Nov 17</li>
        <li>17 Nov 17</li>
        <li>Monthly</li>
        <li>£1250.34</li>
        <li>£1500</li>
        <li>£220</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£250</li>
        <li>2</li>
        <li>£50</li>
        <li>£250</li>
        <li>£0</li>
        <li>£0</li>
        <li>£0</li>
        <li>No</li>
      </ul>
    </div>
    
  </div>

</div>
