<div id="income">
  <div id="conflicts">
  </div>

  <div class="job">
    <div>
      <h3></h3>
      <ul></ul>
      <div class="table-info">
        <div>
          <ul>
            <li>Paid</li>
            <li>Received</li>
            <li>Frequency</li>
            <li>Taxable pay</li>
            <li>Tax</li>
            <li>NI</li>
            <li>Payroll Benefits</li>
            <li>RAS Pension</li>
            <li>Taxable pay</li>
            <li>Tax</li>
            <li>NI</li>
            <li>After tax and NI</li>
            <li>Payment confidence</li>
            <li>Third party</li>
            <li>Pay after tax and NI</li>
            <li>Payroll Benefits</li>
            <li>RAS Pension</li>
            <li>Net pension</li>
            <li>Director</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>