<div class="grid-row">
  <div class="column-two-thirds">
    <div id="confirmation">
      <h1>There are accounts in CIS with matching personal details</h1>
      <h3>A National Insurance number has not been allocated.</h3>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h3 class="bold">Next steps</h3>
    <ul class="list list-bullet" style="margin-bottom: 30px;">
      {# <li>Make a note of the application number {{data.currentNinoApplication.applicationNumber}}</li> #}
      <li>Search for matching accounts in CIS and make sure they do not belong to the applicant</li>
      <li>If there is a matching account, update LMS with the National Insurance number</li>
      <li>If there is not, manually create one and update LMS</li>
    </ul>
    <ul class="">
      <li style="margin-bottom:20px;"><a target="_blank"href="./application" class="under-link">View the application details (in a new window)</a> </li>
      <li style="margin-bottom:20px;"> <a class="under-link" href="../search-for-a-person-three">Search for matching accounts</a> </li>
      <li> <a class="under-link" href="./next-case-handler">Get the next application</a> </li>
    </ul>
  </div>
</div>