<p>Select the sections to include in the report</p>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="">
      
      <legend class="visually-hidden">
        <p>
          What kind of change do you need to make?
        </p>
      </legend>
      
      <div class="form-group">
      <fieldset>
<!--
          <div class="multiple-choice">
            <input id="one" name="data" type="checkbox" value="one" checked="checked">
            <label for="one">National identity fraud unit indicator</label>
          </div>
-->
          <div class="multiple-choice">
            <input id="two" name="data" type="checkbox" value="two" checked="checked">
            <label for="two">National identity fraud unit interest</label>
          </div>
<!--
          <div class="multiple-choice">
            <input id="three" name="data" type="checkbox" value="three" checked="checked">
            <label for="three">Immigration and nationality department indicator</label>
          </div>
-->
          <div class="multiple-choice">
            <input id="four" name="data" type="checkbox" value="four" checked="checked">
            <label for="four">Immigration and nationality department interest</label>
          </div>
          <div class="multiple-choice">
            <input id="five" name="data" type="checkbox" value="five" checked="checked">
            <label for="five">Unacceptable behaviour details</label>
          </div>
          <div class="multiple-choice">
            <input id="six" name="data" type="checkbox" value="six" checked="checked">
            <label for="six">Nationally sensitive record details</label>
          </div>
          <div class="multiple-choice">
            <input id="seven" name="data" type="checkbox" value="seven" checked="checked">
            <label for="seven">Fraud referral and intervention management system interest (FRAIMS)</label>
          </div>

        </fieldset>        
      </div> 
      
      <div class="form-group">
        <input class="button" type="submit" value="View the report">
      </div>
      
    </form>
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>
