<div id="sl-address-format" class="sl-font-bold">
    <span ng-if="address.addressLine1">ADDRESS LINE 1</span><br ng-if="address.addressLine1">
    <span ng-if="address.addressLine2">ADDRESS LINE 2</span><br ng-if="address.addressLine2">
    <span ng-if="address.addressLine3" >ADDRESS LINE 3</span><br ng-if="address.addressLine3">
    <span ng-if="address.addressLine4" >ADDRESS LINE 4</span><br ng-if="address.addressLine4">
    <span ng-if="address.postCode" >POST CODE</span><br ng-if="address.postCode">
    <span ng-if="address.countryCodeDesc" >COUNTRY</span>
</div>
