{% extends "../wrapper_template.html" %}

{% block content %}

<div class="panel panel-border-wide alert-group">
  <h2 class="heading-medium">The address entered matches a verified address</h2>
</div>


<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="search-results-handler">
      
      <legend class="">
        <p class="">
          Which address do you want to use?
        </p>
      </legend>
      
      <div class="form-group multi-line">
        <fieldset>

          <legend>
            <p class="visually-hidden">Where do you live?</p>
          </legend>

          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
            <label for="radio-1">Verified address<br>29 Acacia Road, The Avenue, Dunston, Gateshead, NE1 1HH</label>
          </div>
          <div class="multiple-choice last">
            <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
            <label for="radio-2">Entered address<br>29 Acacia, Dunston, Gateshead, NE1 1HH</label>
          </div>
        </fieldset>
      </div>
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>

{% endblock %}