  <div class="grid-row">

    <div class="column-two-thirds">
      <h2 class="heading-medium">Personal details</h2>
      <table class="table">
        <tr>
          <td><span class="strong">Name</span></td>
          <td>James Smith</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Name start date</span></td>
          <td>1 December 2000</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Name notified start date</span></td>
          <td>1 December 2000</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Title</span></td>
          <td>Mr</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Sex</span></td>
          <td>Male</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Date of birth</span></td>
          <td>Male</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Has the person been known by another name?</span></td>
          <td>No</td>
          <td><a>Change</a></td>
        </tr>
      </table>
      
      <h2 class="heading-medium">Address details</h2>
      
      <table class="table">

        <tr>
          <td><span class="strong">Residential address</span></td>
          <td>1 Current Crescent, Gateshead, Tyne &amp; Wear NE1 1HH</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Residential address status</span></td>
          <td>No</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Address start date</span></td>
          <td>1 December 2000</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Address notified start date</span></td>
          <td>1 December 2000</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Has the person lived at another address?</span></td>
          <td>No</td>
          <td><a>Change</a></td>
        </tr>
      </table>
      
      <h2 class="heading-medium">Contact details</h2>
      
      <table class="table">

        <tr>
          <td><span class="strong">Home telephone number</span></td>
          <td>0191 123 456</td>
          <td><a>Change</a></td>
        </tr>
        <tr>
          <td><span class="strong">Home telephone number status</span></td>
          <td>Live</td>
          <td><a>Change</a></td>
        </tr>
      </table>
      
      <h2 class="heading-medium">Other details</h2>
      <table class="table">
        
      </table>


      <form class="form" method="get" action="done">

        <div class="form-group">
          <input class="button" type="submit" value="Accept and submit">
        </div>

      </form>
      
    </div>

  </div>
     

