  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="name-question">

        <fieldset class="form-group">
          <label class="form-label" for="full-name-f1">
            Date of birth
            <span class="form-hint">
              For example 31/8/1979
            </span>
          </label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

