  <div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="name-date">

        <fieldset class="form-group">
          <legend class="visuallyhidden">First name</legend>
          <label class="form-label" for="full-name-f1">First name</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <fieldset class="form-group">
          <legend class="visuallyhidden">Last name</legend>
          <label class="form-label" for="full-name-f1">Last name</label>
          <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
      
    </div>

  </div>
     

