<h2 class="heading-medium question">Which relationship details do you need to delete?</h2>
              <p class="form-hint">Select all that apply</p>

<div class="grid-row">
  
  <div class="column-one-half">
    
    <form method="get" action="#">
      
      <legend class="visually-hidden">
        <p>
          Which relationship details do you need to delete?
        </p>
      </legend>
      
      <div class="form-group multi-line-label">
        <div class="multiple-choice">
          <input id="update" type="checkbox" name="one" value='one'>
          <label for="one">
            <ul>
              <li><span>Relationship</span> <span class="strong">Carers credit</span></li>
              <li><span>Benefit type</span> <span class="strong"n>Carers credit</span></li>
              <li><span>Start date</span> <span class="strong">17 Mar 2018</span></li>
            </ul>
          </label>
        </div>

        <div class="multiple-choice">
          <input id="example-contact-by-text" type="checkbox" name="two" vlaue="two">
          <label for="two">
            <ul>
              <li><span>Relationship</span> <span class="strong">Carers credit</span></li>
              <li><span>Benefit type</span> <span class="strong"n>Carers credit</span></li>
              <li><span>Start date</span> <span class="strong">1 Jan 2000</span></li>
              <li><span>End date</span> <span class="strong">1 Jan 2000</span></li>
            </ul>
          </label>
        </div>
      </div> 
            
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>

