{% if data.preferredContactState == "removed" or data.preferredContactState == "updated" %}
  {% include "./components/state-message.njk" %}
{% else %}
  {% for someId, item in data.contactTypes %}
    {% if item.state == "added" or item.state == "updated" or item.state == "corrected" or item.state == "removed" %}
      {% include "./components/update-message.njk" %}
    {% endif %}
  {% endfor %}
{% endif %}