<h2 class="heading-medium question">Check your answers</h2>

  <div class="grid-row">

    <div class="column-one-half">

      <table class="table"> 
        
        {% if data.contactState != "removing" %}
          <tr>
            <td><span class="strong">{{ data.contactTypes[data.contactType].display }} {{data.contactTypes[data.contactType].type | contactIs }}</span></td>
            <td>{{ data.contactTypes[data.contactType].value }}</td>
            <td><a>Change</a></td>
          </tr>
        {% else %}
          <tr>
            <td><span class="strong">Contact method</span></td>
            <td>
              {{ data.contactTypes[data.contactType].display }} {{ data.contactTypes[data.contactType].type | contactIs }}
            </td>
            <td><a>Change</a></td>
          </tr>
        {% endif %}
        
      </table>

    <br>

    <form method="get" action="check-contact-handler">

      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>

    </form>

    <a href="/account2/account">Cancel</a>

  </div>

</div>