<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          <a class="link-back" onCLick="history.back()">Back</a>          
          
          <h2 class="title">
                        
            {% if data.contactState == "adding" %}
              Add
            {% elif data.contactState == "updating" %}
              Update
            {% elif data.contactState == "correcting" %}
              Correct
            {% elif data.contactState == "removing" %}
              End
            {% endif %}

            {% if data.contactState == "adding" or data.contactState == "updating" or data.contactState == "correcting" or data.contactState == "removing" %}

              {% if data.contactType == "eveningTelephone" %}
                an
              {% elif data.contactType != "otherContact"%}
                a
              {% endif %}

              {{ data.contactTypes[data.contactType].display | lower }} 
              {{ data.contactTypes[data.contactType].type | contactIs }}
            
            {% endif %}
            
            {% if data.preferedContactState == "removing" %}
              Remove the prefered method of contact status
            {% endif %}
            
            {% if data.preferedContactState == "updating" %}
              Set a prefered contact method
            {% endif %}
            
          </h2>
          
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              {% include "components/update/contact/check-content.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>