<h2 class="heading-medium question">Check your answers</h2>

  <div class="grid-row">

    <div class="column-one-half">

      <table class="table"> 
        
        {% if data.contactState != "removing" %}
          {% if data.contactType === "personalMobile" %}
          <tr>
            <td><span class="strong">Personal mobile number</span></td>
            <td>07761 111 111</td>
            <td><a>Change</a></td>
          </tr>
          {% elif data.contactType === "homeTelephone" %}
            <tr>
              <td><span class="strong">Home telephone number</span></td>
              <td>0191 111 111</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "daytimeTelephone" %}
            <tr>
              <td><span class="strong"> Daytime telephone number</span></td>
              <td>0191 222 222</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "eveningTelephone" %}
            <tr>
              <td><span class="strong">Evening telephone number</span></td>
              <td>0191 333 333</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "businessMobile" %}
            <tr>
              <td><span class="strong">Business mobile number</span></td>
              <td>07761 222 222</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "businessTelephone" %}
            <tr>
              <td><span class="strong">Business telephone number</span></td>
              <td>0191 444 444</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "thirdParty" %}
            <tr>
              <td><span class="strong">Third party telephone number</span></td>
              <td>07761 333 333</td>
              <td><a>Change</a></td>
            </tr>
          <!-- email -->
          {% elif data.contactType === "homeEmail" %}
            <tr>
              <td><span class="strong">Home email address</span></td>
              <td>home@gmail.com</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "businessEmail" %}
          <tr>
            <td><span class="strong">Business email address</span></td>
            <td>business@gmail.com</td>
            <td><a>Change</a></td>
          </tr>
          <!-- fax -->
          {% elif data.contactType === "homeFax" %}
            <tr>
              <td><span class="strong">Home fax number</span></td>
              <td>0191 555 555</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "businessFax" %}
            <tr>
              <td><span class="strong">Business fax number</span></td>
              <td>0191 777 777</td>
              <td><a>Change</a></td>
            </tr>
          <!-- TextPhone -->
          {% elif data.contactType === "textPhone" %}
            <tr>
              <td><span class="strong">TextPhone number</span></td>
              <td>0191 888 888</td>
              <td><a>Change</a></td>
            </tr>
          {% elif data.contactType === "typeTalk" %}
            <tr>
              <td><span class="strong">TypeTalk number //text relay</span></td>
              <td>0191 999 999</td>
              <td><a>Change</a></td>
            </tr>
          <!-- other -->
          {% else %}
            <tr>
              <td><span class="strong">Another contact method</span></td>
              <td>Pidgeon (responds to "Fred")</td>
              <td><a>Change</a></td>
            </tr>
          {% endif %}
        {% else %}
          <tr>
            <td><span class="strong">Contact method</span></td>
            <td>
              {{ data.contactTypes[data.contactType].display }} {{ data.contactTypes[data.contactType].type | contactIs }}
            </td>
            <td><a>Change</a></td>
          </tr>
        {% endif %}
        
      </table>

    <br>

    <form method="get" action="check-contact-handler">

      <div class="form-group">
        <input class="button" type="submit" value="Submit">
      </div>

    </form>

    <a href="/account2/account">Cancel</a>

  </div>

</div>