<div ui-view="content" class="ng-scope"><div class="container-fluid ng-scope">


<h2>BIG TEST{{data.myBigTest}}</h2p>

    <div id="search" class="row">
        <div class="col-xs-12" ng-class="{'sl-search-full-height': !showTrace.personTrace}">
            <div id="sl-home">
                <div class="row">
                    <div class="sl-account-canvas-width">
                        <div class="col-xs-12">
                            <h1 id="sl-title" ng-class="{'sl-search-centre-align': !showTrace.personTrace}" class="">
                                <span class="sl-title-nowrap">Look up a&nbsp;</span><span class="sl-title-nowrap">customer</span>
                            </h1>
                            <div class="spacing-top-single sl-home-search-input-container input-group" ng-class="{'sl-home-search-input-reduced-padding': nino.length>7, 'sl-search-input-align': !showTrace.personTrace}">
                                <sl-search><div id="sl-search" ng-keydown="toggleHover($event.keyCode, $event)" ng-class="{'sl-account-search-container': state.current.name !=='search', 'spacing-top-sixth': state.current.name !== 'search'}">
  <form method="get" action="my-big-handler" ng-submit="slSearchFormSubmit(nino, errors)" autocomplete="off" class="ng-valid ng-dirty ng-valid-parse ng-valid-maxlength">
    <div popover-placement="top" uib-popover-template="'components/popovers/slValidationError/slValidationError.html'" popover-is-open="!ninoValid" popover-enable="!ninoValid" popover-trigger="outsideClick">

      <div>
        <!--Despite being red, this will always find the id that it is looking for as the label will only be on the
        account page, in which the id will be sl-search-input-->
        <!-- ngIf: !nino.length && state.current.name !== 'search' -->
        <div>

          <input name="bsnino" ng-attr-id="" ng-change="searchInputChange(nino)" ng-class="{'sl-home-search': state.current.name === 'search', 'sl-account-search': state.current.name !=='search', 'sl-input-invalid': !ninoValid}" ng-model="nino" maxlength="13" ng-focus="inputFocus = true" ng-blur="inputFocus = false" autofocus="" sl-nino-autocomplete="highlightLastChar" aria-label="National Insurance number input box" class="ng-valid ng-isolate-scope sl-home-search ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid-maxlength" id="maincontent" aria-invalid="false">          

          <!-- ngIf: nino --><div ng-if="nino" class="clear-icon ng-scope search" ng-class="{'search': state.current.name === 'search', 'account': state.current.name !=='search'}" ng-click="clearInput()" role="button" tabindex="0">
            <div class="inner-clear-icon"></div>
          </div><!-- end ngIf: nino -->

          <div class="sl-header-btn">


            <button class="sl-search-btn"> Look up
            <span ng-class="{'search' : state.current.name === 'search','account' : state.current.name !== 'search' }" ng-if="!nino || nino.length <= 7  || (accountSummary || errors.length > 0 || !ninoValid)" class="search-icon ng-scope search"></span><!-- end ngIf: !nino || nino.length <= 7  || (accountSummary || errors.length > 0 || !ninoValid) -->



            </button>
            
          <button id="preview">
            {% include "components/preview.njk" %}
          </button>

          </div>
          <!-- ngIf: nino --><div ng-if="nino" class="ng-scope">
            <!-- ngIf: nino.length > 7 && ninoValid -->
          </div><!-- end ngIf: nino -->
        </div>
        </div>
      </div>
  </form>
</div></sl-search>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% include "./search-advanced.html" %}
</div>