<p class="bold">Select a contact method</p>

<div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="another-contact">
        <div class="form-group">
         
            <div class="form-group">
             <!--  <label class="form-label" for="select-box">Select a contact method</label> -->
              <select class="form-control" id="select-box" name="select-box" onchange="showContactFeilds()">
                <option value=contact>Contact method</option>
                <option value="pm">Personal mobile number</option>
                <option value="ht">Home telephone number</option>
                <option value="dt">Daytime telephone number</option>
                <option value="et">Evening telephone number </option>
                <option value="bm">Business mobile number</option>
                <option value="bt">Business telephone number </option>
                <option value="tp">Third party telephone number</option>
                <option value="he">Home email address</option>
                <option value="be">Business email address</option>
                <option value="tpn">Textphone number</option>
                <option value="ttn">Typetalk number</option>
                <option value="hf">Home fax</option>
                <option value="bf">Business fax</option>
                <option value="oc">Other contact method</option>
              </select>
            </div>

          <div id="contact-feilds" class="hidden">

            <div class="form-group">
              <label class="form-label" for="ni-number" id="contact-label">
                Contact detail
              </label>
              <input class="form-control" id="ni-number" type="text" name="ni-number">
            </div>

            <div class="form-group">
              <div class="multiple-choice">
                <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
                <label for="checkbox-telephone-number">It's their preferred method of contact (optional)</label>
              </div>
            </div>
            <div id="exdec-field" class="form-group hidden">
              <div class="multiple-choice">
                <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
                <label for="checkbox-telephone-number">It's an ex-directory number (optional)</label>
              </div>
            </div>

        </div>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

     </form>
    <p><a href="../../search">Cancel</a></p>
  </div>

</div>

