<div class="grid-row">

    <div class="column-two-thirds" id="name-types">
      <p>Select all that apply</p>
      <form class="form" id="contact-boxes" method="get" action="other-name-handler">
        <fieldset class="form-group">
          <div class="multiple-choice">
            <input id="alternative" name="alternative" type="checkbox" value="true">
            <label for="alternative">
              A name type 2
              <span class="form-hint">
               For example another current name
              </span>
            </label>
          </div>
          <div class="multiple-choice">
            <input id="previous" name="previous" type="checkbox" value="true">
            <label for="previous">Previous names</label>
          </div>
          <div class="multiple-choice">
            <input id="requested" name="requested" type="checkbox" value="true">
            <label for="requested">A requested form of address</label>
          </div>
          <p class="form-block">or</p>
          <div class="multiple-choice">
            <input id="none" name="none" type="checkbox" value="true">
            <label for="none">No other names</label>
          </div>
        </fieldset>
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>
      <p><a href="../../../search">Cancel</a></p>
    </div>

  </div>
     

