  <div class="grid-row">

    <div class="column-two-thirds">

      <table class="table">
<!--
        <tr>
          <td class="first-item">
            <a class="task-name" href="add-contact">
              Add contact information
            </a>
          </td>
          <td class="first-item">
            <a class="task-name" href="add-contact">
             COMPLETED
            </a>
          </td>
        </tr>
-->
        <tr>
            <td class="first-item">
              <a class="task-name" href="ethnic-origin">
                Add ethnic origin
              </a>
            </td>
            <td class="first-item">
              {% if person.ethnic_origin === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="immigration">
                Add immigration status
              </a>
            </td>
            <td >
              {% if person.immigration === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="language">
                Add a preferred language	
              </a>
            </td>
            <td >
              {% if person.preferred_language === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="spoken-language">
                Add a spoken language	
              </a>
            </td>
            <td >
              {% if person.spoken_language	 === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="disabilities">
                Add disability details
              </a>
            </td>
            <td >
              {% if person.disability === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="additional-needs">
                Add special needs details
              </a>
            </td>
            <td >
              {% if person.special_needs === true %}
                <p class="task-completed"> 
                    Completed
                </p>
              {% endif %}
            </td>
        </tr>
<!--
        <tr>
            <td >
              <a class="task-name" href="potentially-violent">
                Add potentially violent details
              </a>
            </td>
        </tr>
        <tr>
            <td >
              <a class="task-name" href="marital">
                Add a marital status	
              </a>
            </td>
            <td >
              <a class="task-name" href="marital">
              </a>
            </td>
        </tr>
-->
<!--
        <tr>
            <td >
              <a class="task-name" href="nationality">
                Add a nationality	
              </a>
            </td>
            <td >
              <a class="task-name" href="nationality">
              </a>
            </td>
        </tr>
-->
      </table> 
    </div>
    </div>
<br>
  <div class="grid-row">

    <div class="column-two-thirds">

      <form class="form" method="get" action="check">

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      <p><a href="">Cancel</a></p>
    </div>
    </div>