{% extends "../../wrapper_template.html" %}

{% block h2title %}
  <h2 class="title">Correct their date of death</h2>
{% endblock  %}

{% block content %}

<h2 class="heading-medium question">What kind of correction do you need to make?</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    
    <form class="form" method="get" action="dod-handler">
      <fieldset class="form-group">
        <legend class="visually-hidden">What kind of correction do you need to make?</legend>
                
        <div class="multiple-choice">
          <input id="2" type="radio" name="updateType" value=3>
          <label for="2">Correct the date of death or verification level</label>
        </div>
        
        <div class="multiple-choice">
          <input id="4" name="updateType" type="radio" value=4>
          <label for="4">Remove their date of death</label>
        </div>
        
      </fieldset>
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>

{% endblock  %}