<div class="sl-account-canvas-width">
  <sl-account-person-summary><div id="sl-account-person-summary">
    <div class="sl-primary-name-card-container" ng-class="{'sl-deceased':data.p erson.person[0].deathDateGroup[0].deathDate}">
      <div class="sl-primary-name-card">
        <div class="sl-primary-name-height" id="sl-primary-name-height" style="min-height: 50px; height: 10px;">
        <span class="sl-primary-name-and-age">
          <span id="sl-account-primary-name" class="spacing-top-mid sl-account-primary-name">
            <h1 ng-if="data.name.primaryName" class="sl-primary-card-name sl-page-color ng-binding ng-scope">
              {% if data.citizen.nameOneFirst != null %}
                {# {% if data.citizen.nameOneTitle != null %}
                  {{data.citizen.nameOneTitle | upper}} 
                  <span class="namespace"> </span> 
                {% endif %} #}
                {{data.citizen.nameOneFirst | upper}}{{data.citizen.nameOneLast | upper}}
              {% else %}
                {# {% if data.citizen.nameOneTitle != null %}
                  {{data.citizen.nameOneTitle | upper}} 
                  <span class="namespace"> </span> 
                {% endif %} #}
                {{data.citizen.nameOneFirst | upper}} {{data.citizen.nameOneLast| upper}}
              {% endif %}
              
            </h1>
          </span>
          <div id="sl-account-person-age" class="spacing-bottom-mid sl-account-person-age sl-third-heading ng-scope" ng-if="data.person.person[0].birthDateGroup[0]">
            <span class="sl-nino-metadata">
              <spacing>
                {# <span> 
                  <span class="nino-separator">{{data.citizen.nino}}</span>
                  <span>&nbsp; · &nbsp;</span>
                </span> #}
              </span>
            </span>
            <span class="sl-age-metadata">
              <sl-age-info class="ng-scope ng-isolate-scope">
                <span id="birth-death-date">
                <!-- ngIf: dob -->
                  <span id="sl-date-of-birth" ng-if="dob" class="ng-scope">
                    <span class="ng-scope sl-account-age-metadata">
                      <span class="ng-binding">{{data.citizen.dobValue}}</span> 
                      <span class="ng-binding"> </span>
                                      <span> &nbsp; &nbsp; • &nbsp; &nbsp; Age 45</span>

                    </span>
                  </span>
                </span>
              </sl-age-info>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
  </sl-account-person-summary>
</div>