<div class="column-two-thirds">
    {% if data.ninoAllocated == true %}
      <div id="confirmation">
        <h1>Application complete</h1>
        <h2>National Insurance number allocated</h2>
      </div>
    {% elif data.ninoAllocated == false %}
      <div id="confirmation" class="no-nino">
        <h1>Application complete</h1>
        <h2>National Insurance number was not allocated</h2>
      </div>
    {% endif %}

  <a href="next-case-handler" class="button">Get next application</a> 

  </div>

  <div class="column-two-thirds">
  <br>
   <a class="under-link" href="./cases">View applications in progress</a> 
  </div>