<div class="column-two-thirds">
    {% if data.ninoAllocated == true %}
      <div id="confirmation">
        <h1>National Insurance number allocated</h1>
        <h3>The applicant will be notified.</h3>
      </div>
    {% elif data.ninoAllocated == false %}
      <div id="confirmation">
        <h1>National Insurance number <br>was not allocated</h1>
        <h3>The applicant will be notified.</h3>
      </div>
    {% endif %}

  <a href="next-case-handler" class="button">Get next application</a> 

  </div>

  <div class="column-two-thirds">
  <br>
   <a class="under-link" href="./cases">View applications in progress</a> 
  </div>