<fieldset class="form-group">
  <label class="form-label" for="personalDetailValue">Relationship type</label>
  
  <select name="personalDetailValue" class="form-control" name="personalDetailValue" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
    
    <option value="" selected="selected">Select relationship type</option>
    <option value="Carer of child">Carer of child</option>
    <option value="Carers Credit">Carers Credit</option>
    <option value="Carer/Disabled Person">Carer or disabled Person</option>
    <option value="Child benefit receipt of">Child benefit receipt of</option>
    <option value="Child benefit treated as">Child benefit treated as</option>
    <option value="Child benefit receipt of - ICC">Child benefit receipt of - ICC</option>
    <option value="Child benefit treated as - ICC">Child benefit treated as - ICC</option>
    <option value="Child not related">Child not related</option>
    <option value="Dependant">Dependant</option>
    <option value="Employed by">Employed by</option>
    <option value="Former ID">Former identity</option>
    <option value="Foster Parent">Foster parent</option>
    <option value="Guardian">Guardian</option>
    <option value="Housekeeper">Housekeeper</option>
    <option value="Housekeeper child">Housekeeper child</option>
    <option value="Immigration Sponsor">Immigration sponsor</option>
    <option value="Living with">Living with</option>
    <option value="Living with CHB ENT">Living with Child Benefit entitlement</option>
    <option value="Maintained by CHB ENT">Maintained by Child Benefit entitlement</option>
    <option value="Next-Of-Kin">Next of kin</option>
    <option value="Non Dependant">Non dependant</option>
    <option value="Parent/Child">Parent or child</option>
    <option value="Partner">Partner</option>
    <option value="Polygamous Partner">Polygamous partner</option>
    <option value="Spouse/Civil Partner">Spouse or Civil Partner</option>
    <option value="Step Parent/Child">Step parent or child</option>
    <option value="Maintained By">Maintained By</option>
    <option value="Other">Other</option>
    <!--    <option value="Incorrect Value">Incorrect value</option>-->
  </select>
</fieldset>


