<h2 class="heading-medium question">Is this person disabled?</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="check">
      <fieldset class="form-group">
        <legend class="visually-hidden">Is this person disabled?</legend>
        
        <div class="multiple-choice">
          <input id="yes" type="radio" name="personalDetailValue" {% if data.personalDetails.disability.value == "Yes" %} checked="checked" {% endif %} value="Yes">
          <label for="yes">Yes</label>
        </div>
        
        <div class="multiple-choice">
          <input id="no" type="radio" name="personalDetailValue" {% if data.personalDetails.disability.value == "No" %} checked="checked" {% endif %} value="No">
          <label for="no">No</label>
        </div>
        
        <div class="multiple-choice">
          <input id="no" type="radio" name="personalDetailValue" {% if data.personalDetails.disability.value == "Unknown" %} checked="checked" {% endif %} value="Unknown">
          <label for="unknown">Unknown</label>
        </div>
        
      </fieldset>
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>