<h2 class="heading-medium question">What kind of correction do you need to make?</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="check">
      <fieldset class="form-group">
        <legend class="visually-hidden">What kind of correction do you need to make?</legend>
                
        <div class="multiple-choice">
          <input id="no" type="radio" name="personalDetailValue" value="Not disabled">
          <label for="no">Correct the disability status to 'Not disabled'</label>
        </div>
        
        <div class="multiple-choice">
          <input id="unknown" name="personalDetailValue" type="radio" value=null>
          <label for="unknown">Remove the disability status</label>
        </div>
        
      </fieldset>
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>