<h2 class="heading-medium question">Is this person disabled?</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="check">
      <fieldset class="form-group">
        <legend class="visually-hidden">Is this person disabled?</legend>
                
        <div class="multiple-choice">
          <input id="no" type="radio" name="personalDetailValue" value="No">
          <label for="no">No</label>
        </div>
        
        <div class="multiple-choice">
          <input id="unknown" name="personalDetailValue" type="radio" value="Unknown">
          <label for="unknown">Their disability status is unknown</label>
        </div>
        
      </fieldset>
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>