<div class="grid-row">
  
  <div class="column-two-thirds">
      
    <form class="form" id="clearForm" method="get" action="check">
        
      <fieldset class="form-group">
        <legend>
          <p class="bold">What is their immigration status?</p>
        </legend>
        
        <div class="multiple-choice">
          <input id="asylum-seeker" type="radio" class="clearRadio" name="personalDetailValue" value="Asylum seeker" {% if data.citizen.immigration == "Asylum seeker" %} checked {% endif %}>
          <label for="asylum-seeker">Asylum seeker</label>
        </div>
        
        <div class="multiple-choice">
          <input id="exceptional-leave" type="radio" class="clearRadio" name="personalDetailValue" value="Exceptional leave to remain" {% if data.citizen.immigration == "Exceptional leave to remain" %} checked {% endif %}>
          <label for="exceptional-leave">Exceptional leave to remain</label>
        </div>

        <div class="multiple-choice">
          <input id="indefinite" type="radio" class="clearRadio" name="personalDetailValue" value="Indefinite leave to remain" {% if data.citizen.immigration == "Indefinite leave to remain" %} checked {% endif %}>
          <label for="indefinite">Indefinite leave to remain</label>
        </div>
        
      </fieldset>
        
      <fieldset class="form-group">
        <legend class="visuallyhidden">Immigration number</legend>
        <label class="form-label" for="iref">Immigration reference number</label>
        <input class="form-control" id="imref" type="text" name="verificationlevel" {% if data.updateType != 1 %} value="8787868766" {% endif %}>
      </fieldset>
      
      {% if data.updateType != 1 %}
        <p class="form-block" style="margin-top:-15px;">or</p>
        <div class="form-group">
          <div class="multiple-choice">
            <input id="unknown" name="personalDetailValue" type="checkbox" value=null>
              <label for="unknown">Remove the immigration status</label>
          </div>
        </div>
      {% endif %}


      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>

    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>

</div>