<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="check">
      <div class="form-group">
        <fieldset>
          <legend class="radio-header">Marital or civil partnership status</legend>
          
          {% if data.personalDetails.maritalStatus.value != "Single" %}
            <div class="multiple-choice">
              <input id="single" type="radio" name="personalDetailValue" value="Single">
              <label for="single">Single</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Married" %}
            <div class="multiple-choice">
              <input id="married" type="radio" name="personalDetailValue" value="Married">
              <label for="married">Married</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Living together" %}
            <div class="multiple-choice">
              <input id="living" type="radio" name="personalDetailValue" value="Living together">
              <label for="living">Living together</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Separated" %}
            <div class="multiple-choice">
              <input id="separated" type="radio" name="personalDetailValue" value="Separated">
              <label for="separated">Separated</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Divorced or civil partnership dissolved" %}
            <div class="multiple-choice">
              <input id="divorced" type="radio" name="personalDetailValue" value="Divorced or civil partnership dissolved">
              <label for="divorced">Divorced or civil partnership dissolved</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Widowed or surviving civil partner" %}
            <div class="multiple-choice">
              <input id="widowed" type="radio" name="personalDetailValue" value="Widowed or surviving civil partner">
              <label for="widowed">Widowed or surviving civil partner</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Annulled - voidable marriage or civil partnership" %}
            <div class="multiple-choice">
              <input id="annulled" type="radio" name="personalDetailValue" value="Annulled - voidable marriage or civil partnership">
              <label for="annulled">Annulled - voidable marriage or civil partnership</label>
            </div>
          {% endif %}
          
          {% if data.personalDetails.maritalStatus.value != "Annulled - void marriage or civil partnership" %}
            <div class="multiple-choice">
              <input id="void" type="radio" name="personalDetailValue" value="Annulled - void marriage or civil partnership">
              <label for="void">Annulled - void marriage or civil partnership</label>
            </div>
          {% endif %}
          
          {% if data.editState == "correcting" %}
            {% if data.personalDetails.maritalStatus.value != "Unknown" %}
              <div class="multiple-choice">
                <input id="unknown" name="personalDetailValue" type="radio" value="Unknown">
                <label for="unknown">Unknown</label>
              </div>
            {% endif %}
          {% endif %}
        
        </fieldset>
        
      </div>
            
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>