<!--<h2 class="heading-medium question">What is their nationality status?</h2>-->

<div class="grid-row">
  <div class="column-two-thirds">
    <form class="form" method="get" action="personal-detail-handler">
      <legend>
        <h1 class="visually-hidden">
          What is their nationality status?
         </h1>
      </legend>
      
      <div class="form-group">
        
        <div class="multiple-choice" data-target="contact-by-email">
          <input id="example-contact-by-email" type="radio" name="data" value="Yes" {% if data.personalDetails.nationality.value != "stateless" and data.personalDetails.nationality.value != "unknown" %} checked {% endif %}>
          <label for="example-contact-by-email">They have a nationality</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          {% include "components/update/person/details/nationality-selector.njk" %}
        </div>

        <div class="multiple-choice" data-target="contact-by-phone">
          <input id="stateless" type="radio" name="data" value="stateless" {% if data.personalDetails.nationality.value == "stateless" %} checked {% endif %}>
          <label for="stateless">They are stateless</label>
        </div>

        <div class="multiple-choice" data-target="contact-by-text">
          <input id="unknown" type="radio" name="data" value="unknown" {% if data.personalDetails.nationality.value == "unknown" %} checked {% endif %}>
          <label for="unknown">Their nationality is unknown</label>
        </div>        
        
        
      </div>
              
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>
    <p><a href="task-list">Cancel</a></p>
  </div>
</div>