

{% macro awarddetails(start, end, amount) %}
	<table>
		<tr class="date">
			<td class="">{{start}} &nbsp; &ndash; &nbsp; {{end}}</td>
			<td class="">{{amount}}</td>
		</tr>	
	</table>	     				

	<div class="previous-awards-data">
		<details>
<summary>
<span class="summary">View award details
</span>
</summary> 			<div>
				<table>
<!-- 					
					<tr>
						<th>Award component</th>
						<th>Amount</th>
					</tr>
 -->					
 					<tr class="date">
						<td>
							Personal allowance
						</td>
						<td>£0.00</td>
					</tr>
				</table>
			</div>
		</details>
	</div>
	<hr>
{% endmacro %}



<div class="sl-account-canvas row updater slim-header">

	<div class="sl-primary-card" id="benefit-name">
  		<div class="sl-account-canvas-width">
<!-- 	     	
			<a class="link-back" onCLick="history.back()">Back</a>
 -->	        
 			<h1 class="title">Carer's Allowance</h1>
	        <p>Ended. No end reason.</p>
  		</div>
  	</div>

    <div class="sl-account-canvas-width" id="benefit-detail">

	     <div class="grid-row">
	     	<div class="column-two-thirds">
	     		<h2>Assessment</h2>
	     		<div class="sl-primary-card">
					<ul class="list list-bullet">
						<li>The claim ended on 15 Feb 2019.</li>
						<li>The claim was made on 17 Feb 2011 and received by DWP systems on 4 May 2011.</li>
						<li>The entitlement started on 1 Oct 2013.</li>
						<li>The claim has a status of 'Ongoing award'</li>
						<li>The claim was registered on 4 May 2011 and cleared on 5 May 2011.</li>
						<li>The DWP decision was made on 25 Nov 2013 and became effective on 1 Oct 2013. The deceision description is 'Entitled to payment of CA: overlapping benefit reduced or payment ceased'.</li>
					</ul>
	     		</div>

	     		<h2>Payment Status</h2>
	     		<div class="sl-primary-card" id="payment-status">
	     			<table>
	     				<tr>
	     					<th>Payment status type</th>
	     					<th>Start date</th>
	     					<th>End date</th>
	     				</tr>
	     				<tr>
	     					<td>Status not relevant</td>
	     					<td>15 Feb 2019</td>
	     					<td class="bold"> - </td>
	     				</tr>
	     				<tr>
	     					<td>In receipt of ongoing payment<br>
	     						Superseded
	     					</td>
	     					<td>6 Sep 2016</td>
	     					<td>14 Feb 2019</td>
	     				</tr>
	     				<tr>
	     					<td>In receipt of ongoing payment<br>
	     						Superseded
	     					</td>
	     					<td>21 Aug 2014</td>
	     					<td>5 Sep 2016</td>
	     				</tr>
	     				<tr>
	     					<td>Granted underlying entitlement only<br>
	     						Superseded
	     					</td>
	     					<td>30 Nov 2011</td>
	     					<td>7 ict 2012</td>
	     				</tr>
	     				<tr>
	     					<td>Granted underlying entitlement only<br>
	     						Superseded
	     					</td>
	     					<td>9 May 2011</td>
	     					<td>29 Nov 2011</td>
	     				</tr>
	     				<tr>
	     					<td>Granted underlying entitlement only<br>
	     						Superseded
	     					</td>
	     					<td>5 May 2011</td>
	     					<td>8 May 2011</td>
	     				</tr>
	     			</table>
	     		</div>		     		

	     		<h2>Previous awards</h2>
	     		<div class="sl-primary-card last-card" id="previous-awards">
	     			<p>There are 6 previous awards from this assessment</p>
	     			<hr>
					{{ awarddetails("9 Apr 2019", "29 Oct 2018", "£64.60" ) }}	  
					{{ awarddetails("10 Apr 2017", "8 Apr 2018", "£62.70" ) }}	  
					{{ awarddetails("16 Sep 2016", "9 Apr 2017", "£62.10" ) }}	  
					{{ awarddetails("1 Apr 2016", "5 Sep 2016", "£62.10" ) }}	  
					{{ awarddetails("6 Apr 2015", "5 Apr 2016", "£62.10" ) }}	  
					{{ awarddetails("21 Aug 2014", "5 Apr 2015", "£61.35" ) }}	  
	     		</div>

	     	</div>
	     	<div class="column-one-third">
	     		<h2>Key dates</h2>
	     		<div class="sl-primary-card">
	     			<ul class="list list-bullet">
						<li>
							17 Feb 2011<br>
							Claim date
						</li>
						<li>
							4 May 2011<br>
							Claim receipt date<br>
							Claim registered date
						</li>
						<li>
							1 Oct 2013<br>
							DWP decision effective<br>
							Entitlement start date
						</li>
						<li>
							25 Nov 2013<br>
							DWP decision effective<br>
							Entitlement start date
						</li>
					</ul>

	     		</div>
	     	</div>

	     </div>

    </div>
