{% extends "../key-dates-template.html" %}

{% block entries %}
	<li class="app-timeline__entry">
		<span>17 Feb 2011</span>
    	<span>Claim date.</span>
 	</li>
 	<li class="app-timeline__entry">
 		<span>4 May 2011</span>
   	<span>Claim received date.</span>
   	<span>Claim registered date.</span>
 	</li>
 	<li class="app-timeline__entry">
 		<span>5 May 2011</span>
   	<span>Cleared.</span>
 	</li>
 	<li class="app-timeline__entry">
 		<span>1 Oct 2013</span>
 		<span>DWP decision effective.</span>
 		<span>Entitlement start date.</span>
 	</li>
 	<li class="app-timeline__entry">
 		<span>25 Nov 2013</span>
 		<span>DWP decision - entitled to payment of CA. Overlapping benefit reduced or payment ceased.</span>
   	<span>Entitlement start date.</span>
 	</li>
 	<li class="app-timeline__entry">
 		<span>15 Feb 2019</span>
   	<span>Claim ended.</span>
 	</li>
 	<li class="app-timeline__entry today">
 		<span>Today</span>
 </li>
{% endblock %}