{% extends "../payment-status-template.html" %}

{% block classes %}
		class="sl-primary-card"
{% endblock %}

{% block awards %}
	{{ awardDetails("Status not relevant", "15 Feb 2019", "-", false) }}
	{{ awardDetails("In receipt of ongoing payment", "6 Sep 2016", "14 Feb 2019", true) }}
	{{ awardDetails("In receipt of ongoing payment", "21 Aug 2014", "5 Sep 2016", true) }}
	{{ awardDetails("Granted underlying entitlement only", "30 Nov 2011", "7 Oct 2012", true) }}
	{{ awardDetails("Granted underlying entitlement only", "9 May 2011", "29 Nov 2011", true) }}
	{{ awardDetails("Granted underlying entitlement only", "5 May 2011", "8 May 2011", true) }}
{% endblock %}
