{% extends "./benefit-template.html" %}

{% block start_date %}
  1 Oct 2013
{% endblock %}


{% block end_date %}
  15 Feb 2019
{% endblock %}


{% block title %}
  Carers Allowance
{% endblock %}


{% block href %}
  href="../benefits/carers-allowance-v2"
{% endblock %}


{% block latest_payment %}
  <ul>
    <li>5 Nov 2018</li>
    <li class="bold">-</li>
    <li>£1,291.66</li>
  </ul>
{% endblock %}


{% block more_payments %}
  <details class="more-payments">
    <summary>Show all awards</summary>
    <ul>
      <li>9 Apr 2018</li>
      <li>7 Apr 2019</li>
      <li>£57.30</li>
    </ul>
    <ul>
      <li>10 Apr 2017</li>
      <li>8 Apr 2018</li>
      <li>Claim data only</li>
    </ul>
  </details>
{% endblock %}