<div class="benefit-container">

  <div class="grid-row">
    <div class="benefit-start">
      <ul>
        <li>8 Apr 2018</li>
      </ul>
    </div>
      <div class="benefit-end">
        &nbsp;
      </div>
    <div class="benefit-name title">
      <ul>
        <li><span>Personal Independence Payment</span>&nbsp; · &nbsp;<a>View benefit details</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-row">

    <div class="benefit-payments">
      <ul>
        <li>Award start</li>
        <li>Award end</li>
        <li>Amount</li>
      </ul>
      <ul>
        <li>8 Apr 2019</li>
        <li>-</li>
        <li>£58.70</li>
      </ul>
      <details class="more-payments">
        <summary>
          <span class="summary">
            Show all awards
          </span>
        </summary>
        <ul>
          <li>9 Apr 2018</li>
          <li>7 Apr 2019</li>
          <li>£57.30</li>
        </ul>
        <ul>
          <li>10 Apr 2017</li>
          <li>8 Apr 2018</li>
          <li>Claim data only</li>
        </ul>
      </details>
    </div>

  </div>

</div>