<div class="previous-benefits">
  <details>
    <summary>Show previous benefits</summary>

    <div class="benefit-container">

      <div class="grid-row" id="heading-benefits">
        <div class="benefit-start">
          <ul>
            <li>Benefit start date</li>
          </ul>
        </div>
        <div class="benefit-end">
          <ul>
            <li>Benefit end date</li>
          </ul>
        </div>
        <div class="benefit-name">
          <ul>
            <li>Benefit</li>
          </ul>
        </div>
      </div>

      <div class="grid-row">
        <div class="benefit-start">
          <ul>
            <li>8 Apr 2018</li>
          </ul>
        </div>
          <div class="benefit-end">
            <ul>
              <li>8 Apr 2018</li>
            </ul>
          </div>
        <div class="benefit-name title">
          <ul>
            <li><span>Carers Allowance</span>&nbsp; · &nbsp;<a href="../benefits/carers-allowance-v2">View benefit details</a></li>
          </ul>
        </div>
      </div>

      <div class="grid-row">

        <div class="benefit-payments">
          <ul>
            <li>Award start</li>
            <li>Award end</li>
            <li>Amount</li>
          </ul>
          <ul>
            <li>8 Apr 2019</li>
            <li>-</li>
            <li>£58.70</li>
          </ul>
          <details class="more-payments">
            <summary>Show all awards</summary>
            <ul>
              <li>9 Apr 2018</li>
              <li>7 Apr 2019</li>
              <li>£57.30</li>
            </ul>
            <ul>
              <li>10 Apr 2017</li>
              <li>8 Apr 2018</li>
              <li>Claim data only</li>
            </ul>
          </details>
        </div>

      </div>

    </div>





          <!-- <div class="benefit-container">
            <table id="table1">
              <tr class="header">
              <th class="col1">Start date</th>
              <th class="col2">End date</th>
              <th class="col3">Benefit</th>
            </tr>

            <tr>
              <td class="ben-dates">1 Oct 2013</td>
              <td class="ben-dates">15 Feb 2019</td>
              <td class="ben-title">
                <span class="strong">Carers Allowance</span>&nbsp; · &nbsp;
                <a href="../benefits/carers-allowance-v2">View benefit details</a>
                <br><span>No end reason</span>
              </td>
            </tr>
          </table>
    
          <table class="table2">
            <tr class="sub-header">
              <th>Award start</th>
              <th>Award end</th>
              <th>Amount</th>
            </tr>
            <tr class="ben-first-amounts">
              <td>9 Apr 2018</td>
              <td>29 Oct 2018</td>
              <td>£64.60</td>
            </tr>
          </table>
    
          <details class="more-payments">
            <summary>Show all awards</summary>

            <table class="table2">
               <tr>
                <td>10 Apr 2017</td>
                <td>8 Apr 2018</td>
                <td>£62.10</td>
              </tr>
              <tr>
                <td>6 Sep 2016</td>
                <td>9 Apr 2017</td>
                <td>£62.10</td>
              </tr>
              <tr>
                <td>11 Apr 2016</td>
                <td>5 Sep 2016</td>
                <td>£62.10</td>
              </tr>
              <tr>
                <td>6 Apr 2015</td>
                <td>10 Apr 2016</td>
                <td>£62.10</td>
              </tr>
              <tr>
                <td>21 Aug 2014</td>
                <td>5 Apr 2015</td>
                <td>£61.35</td>
              </tr>
            </table>
          </details>
       </div>  end of benefit container-->

    </details>

  </div>
