<div class="benefit-container noprevious">

  <div class="grid-row">
    <div class="benefit-start">
      <ul>
        <li>5 Nov 2018</li>
      </ul>
    </div>
      <div class="benefit-end">
        &nbsp;
      </div>
    <div class="benefit-name title">
      <ul>
        <li><span class="strong">Universal Credit</span>&nbsp; · &nbsp;<a href="../benefits/uc-v2">View benefit details</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-row">

    <div class="benefit-payments">
      <ul>
        <li>Award start</li>
        <li>Award end</li>
        <li>Amount</li>
      </ul>
      <ul>
        <li>5 Nov 2018</li>
        <li class="bold">-</li>
        <li>£1,291.66</li>
      </ul>
    </div>

  </div>

</div>