<fieldset class="form-group">
  <label class="form-label" for="personalDetailValue">
   Benefit system ID
    <span class="form-hint">
      For example CIS
    </span>
  </label>
  
  <select name="systemid" class="form-control" name="not_ben" id="auto" autofocus="autofocus" autocorrect="off" autocomplete="off">
    <option value="" selected="selected">Select benefit system </option>
    <option value="ISCS">ISCS</option>
    <option value="Two strikes">Two strikes</option>
    <option value="Student Loans Company">Student Loans Company</option>
    <option value="PTP">PTP</option>
    <option value="Child Support Computer System 2">Child Support Computer System 2</option>
    <option value="War Pensions Computer System">War Pensions Computer System</option>
    <option value="Government Gateway">Government Gateway</option>
    <option value="Compensation Recovery Unit Great Britain">Compensation Recovery Unit Great Britain</option>
    <option value="Child Benefit 2">Child Benefit 2</option>
    <option value="FSM">FSM</option>
    <option value="Independent Living Fund">Independent Living Fund</option>
    <option value="Child support reform">Child support reform</option>
    <option value="Debt Management System">Debt Management System</option>
    <option value="CIS">CIS</option>
    <option value="National Insurance Recording System 2">National Insurance Recording System 2</option>
    <option value="PDCS">PDCS</option>
    <option value="PSCS">PSCS</option>
    <option value="Winter Fuel Payment System">Winter Fuel Payment System</option>
    <option value="BT Social Telephony">BT Social Telephony</option>
    <option value="ESA CAM">ESA CAM</option>
    <option value="Compensation Recovery Unit Northern Ireland"> Compensation Recovery Unit Northern Ireland</option>
    <option value="JSAPS">JSAPS</option>
    <option value="DLACS">DLACS</option>
    <option value="Social Fund Computer System">Social Fund Computer System</option>
    <option value="Child Support Computer System">Child Support Computer System</option>
    <option value="Debt accounting and management system">Debt accounting and management system</option>
    <option value="Child Benefit"> Child Benefit</option>
    <option value="AACS">AACS</option>
    <option value="CACS">CACS</option>
    <option value="FRAIMS">FRAIMS</option>
    <option value="Child support agency">Child support agency</option>
    <option value="HMRC">HMRC</option>
    <option value="Carers Credit">Carers Credit</option>
    <option value="ATLAS">ATLAS</option>
    <option value="Overseas Healthcare Team"> verseas Healthcare Team</option>
    <option value="Benefit Cap">Benefit Cap</option>
  </select>
</fieldset>


