<div class="trace-background">
  <div class="tabs tracetabs" id="tabs">
    <ul>
      <li><a href="#tabs-1">Person trace</a></li>
      <li><a href="#tabs-2">Home office trace</a></li>
    </ul>
    <div id="tabs-1">
      {% include "./trace-tabs/tab1.njk" %}
    </div> 
    <div id="tabs-2">
      {% include "./trace-tabs/tab1.njk" %}
    </div> 
  </div>
  </div>
  </div>
</div>