<div class="trace-background">
  <div id="tabs" class="tabs tracetabs" >
    <ul>
      <li><a href="#tabs1">Person trace</a></li>
      <li><a href="#tabs2">Search the Home Office</a></li>
    </ul>
    <div id="tabs1">
      {% include "./trace-tabs/tab1.njk" %}
    </div> 
    <div id="tabs2">
      {% include "./trace-tabs/tab2.njk" %}
    </div> 
  </div>
  </div>
  </div>
</div>