{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  
<div id="sl-account" class="container-fluid ng-scope">
  <div class="sl-account-header row">

    <!-- ngIf: !data.person.person && !data.person.person[0].personalDetails --><div ng-if="!data.person.person &amp;&amp; !data.person.person[0].personalDetails" class="sl-primary-name-container-placeholder ng-scope">
      <sl-placeholder sl-placeholder-type="'primary-name-placeholder'" class="ng-isolate-scope"><div id="sl-placeholder">
  <!-- ngIf: placeholderType === 'primary-name-placeholder' --><div ng-if="placeholderType === 'primary-name-placeholder'" class="primary-name spacing-top-single-half ng-scope">
    <div>
      <div class="primary-animated-background primary-name-placeholder"></div>
    </div>

    <div class="spacing-top-single">
      <div class="secondary-animated-background secondary-name-placeholder"></div>
    </div>
  </div><!-- end ngIf: placeholderType === 'primary-name-placeholder' -->

  <!-- ngIf: placeholderType === 'header-name' -->

  <!-- ngIf: placeholderType === 'header-metadata' -->


  <!-- ngIf: placeholderType === 'account-section-placeholder' -->
</div></sl-placeholder>
    </div><!-- end ngIf: !data.person.person && !data.person.person[0].personalDetails -->

    <!-- ngIf: data.person.person && data.person.person[0].personalDetails -->
    <div class="sl-local-nav-container col-xs-12">
      <div class="sl-account-canvas-width">
        <sl-account-local-nav><div id="sl-account-local-nav">
            <ul class="sl-local-nav-menu sl-metadata">
              <li class="sl-local-nav-item Personal"><a href="account" class="sl-local-nav-anchor sl-local-nav-anchor-first Personal" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Personal" analytics-label="Personal anchor tag" aria-label="personal details menu selection"><span class="personal-scrollspy active" du-scrollspy="" du-smooth-scroll="Personal" offset="245">Back to customer view</span></a></li>
          </ul>
<!--
  <ul class="sl-local-nav-menu sl-metadata">
    <li class="sl-local-nav-item Personal active"><a href="#" class="sl-local-nav-anchor sl-local-nav-anchor-first Personal" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Personal" analytics-label="Personal anchor tag" aria-label="personal details menu selection"><span class="personal-scrollspy active" du-scrollspy="" du-smooth-scroll="Personal" offset="245">Personal details</span></a></li>
    <li class="sl-local-nav-item Address"><a href="#" class="sl-local-nav-anchor Address" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Address" analytics-label="Address anchor tag" aria-label="address menu selection"><span class="address-scrollspy" du-scrollspy="" du-smooth-scroll="Address" offset="155">Address</span></a></li>
    <li class="sl-local-nav-item Contact"><a href="#" class="sl-local-nav-anchor Contact" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Contact" analytics-label="Contact anchor tag" aria-label="contact menu selection"><span class="contact-scrollspy" du-scrollspy="" du-smooth-scroll="Contact" offset="155">Contact</span></a></li>
    <li class="sl-local-nav-item Interests"><a class="sl-local-nav-anchor Interests" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Interests" analytics-label="Interests anchor tag" aria-label="interests menu selection" href="#"><span class="interests-scrollspy" du-scrollspy="" du-smooth-scroll="Interests" offset="155">Interests</span></a></li>
    <li class="sl-local-nav-item Benefits"><a href="#" class="sl-local-nav-anchor Benefits" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Benefits" analytics-label="Benefits anchor tag" aria-label="benefits menu selection"><span class="benefits-scrollspy" du-scrollspy="" du-smooth-scroll="Benefits" offset="155">Benefits</span></a></li>
    <li class="sl-local-nav-item Relationships"><a href="#" class="sl-local-nav-anchor Relationships" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Relationships" analytics-label="Relationships anchor tag" aria-label="relationships menu selection"><span class="relationships-scrollspy" du-scrollspy="" du-smooth-scroll="Relationships" offset="155">Relationships</span></a></li>
  </ul>
-->
</div></sl-account-local-nav>
      </div>
    </div>

    <!-- ngIf: notifications.length > 0 -->
  </div>


 <!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
<div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Update address</h2>
  <div id="sl-address-primary-card" class="sl-primary-card">
    <div>
<div id="address-pane">
    
    <div class="grid-row">

      <div class="column-one-half">
        
        <form method="get" action="check">
    
    <div class="form-group">
      <fieldset>
        <legend>
          <span class="form-label-bold">
            Start date
          </span>
        </legend>
        
        <div class="form-date">
          <div class="form-group form-group-day">
            <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="dob-month">Month</label>
            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">
              Notified date
            </span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>
  
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>

    </form>

  </div>
</div>
          <a href="account">Cancel</a>

    </div>
  </div>
</div>
      </div>
    </div>
  </div>


  <!-- Code template for primary and embedded cards. Ensure styling is defined as child of width elements and embedded cards are defined under a row.

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
      </div>
    </div>
  </div></div>-->
{% endblock %}


