{% macro awarddetails() %}
<tr>
	<td>
		<details>
			<summary>Award details</summary>
		</details>
	</td>
	<td></td>
</tr>
{% endmacro %}



<div class="sl-account-canvas row updater slim-header">

	<div class="sl-primary-card" id="benefit-name">
  		<div class="sl-account-canvas-width">
<!-- 	     	
			<a class="link-back" onCLick="history.back()">Back</a>
 -->	        
 			<h1 class="title">Universal Credit</h1>
	        <p>Current award of £1291.66 started on 5 Nov 2018</p>
  		</div>
  	</div>

    <div class="sl-account-canvas-width" id="benefit-detail">

	     <div class="grid-row">
	     	<div class="column-two-thirds">
          
	     		<h2>Assessment</h2>
	     		<div class="sl-primary-card">
					<ul class="list list-bullet">
						<li>The claim started on 5 Nov 2018.</li>
						<li>The claim was made on 5 Nov 2018.</li>
						<li>The claim has a status of 'In payment'.</li>
						<li>The DWP decision was made on 6 Dec 2018.</li>
						<li>The award is paid on a calendar monthly basis.</li>
					</ul>
	     		</div>

	     		<h2>Current award</h2>
	     		<div class="sl-primary-card last-card" id="current-awards">
	     			<ul class="list list-bullet">
	     				<li>The payment of £1291.66 started on 5 Nov 2018.</li>
	     				<li>This is a single claim.</li>
	     				<li>The maximum amount of Universal Credit that can be awarded is £1291.66 and has not been adjusted.</li>
	     			</ul>
	     			<br>
	     			<table class="current-award">
	     				<tr>
	     					<th>Award component</th>
	     					<th>Amount</th>
	     				</tr>
	     				<tr>
	     					<td>Housing allowance</td>
	     					<td>£696.76</td>
	     				</tr>
	     				<tr>
	     					<td>Personal allowance</td>
	     					<td>£317.82</td>
	     				</tr>
	     				<tr class="break">
	     					<td>Child allowance</td>
	     					<td>£277.08</td>
	     				</tr>
	     				<tr>
	     					<td>UC maximum amount</td>
	     					<td>£1291.66</td>
	     				</tr>
	     				<tr>
	     					<td>UC Adjusted amount</td>
	     					<td>£1291.66</td>
	     				</tr>
	     				<tr>
	     					<td>UC payment</td>
	     					<td>£1291.66</td>
	     				</tr>
	     			</table>
	     		</div>

	     	</div>
	     	<div class="column-one-third">
	     		<h2>Key dates</h2>
	     		<div class="sl-primary-card">
	     			<ul class="list list-bullet">
						<li>
							<span class="bold">5 Nov 2018</span><br>
							Claim start date<br>
							Current award started<br>
							Claim date
						</li>
						<li>
							<span class="bold">6 Dec 2018</span><br>
							DWP decision date
						</li>
						<li>
							<span class="bold">Today</span>
						</li>
					</ul>

	     		</div>
	     	</div>

	     </div>

    </div>



    <!-- 
    	Header
		Universal credit
		Current award £1291.66
		Paid every calendar month
		Single claim

		Key dates

		5 November 2018
		Claim start date
		Current award started
		Claim date

		6 December 2018
		DWP decision date

		UC maximum amount	£1291.66
		This is the maximum amount of Universal Credit that can be awarded it has not been adjusted.


    -->
