{% macro awarddetails() %}
<tr>
	<td>
		<details>
			<summary>Award details</summary>
		</details>
	</td>
	<td></td>
</tr>
{% endmacro %}

<div class="sl-account-canvas row updater slim-header">

	<div class="sl-primary-card" id="benefit-name">

  		<div class="sl-account-canvas-width">

 			<h1 class="title">Universal Credit</h1>
	   	<p class="sl-secondary-text-color">Single claim&nbsp; · &nbsp;Paid every calendar month</p>

  		</div>

  	</div>

    <div class="sl-account-canvas-width" id="benefit-detail">

	 	<div class="grid-row">

	     	<div class="column-two-thirds">

	     		<h3>Current award</h3>

	     		<div class="sl-primary-card last-card v2" id="current-awards">

	     			<p class="strong">Amount £1291.66</p>
	     			<p class="sl-secondary-text-color">This is the maximum award. It has not been adjusted.</p>
	     			<table class="current-award">
	     				<tr>
	     					<th>Award component</th>
	     					<th>Amount</th>
	     				</tr>
	     				<tr>
	     					<td>Housing allowance</td>
	     					<td>£696.76</td>
	     				</tr>
	     				<tr>
	     					<td>Personal allowance</td>
	     					<td>£317.82</td>
	     				</tr>
	     				<tr>
	     					<td>Child allowance</td>
	     					<td>£277.08</td>
	     				</tr>
	     			</table>

	     		</div>

	     	</div>

	     	<div class="column-one-third">

	     		<h3>Key dates</h3>

	     		<div class="sl-primary-card">

	     			<ul class="timeline">
						<li class="dates"><span class="bold"><span class="dash">-</span>5 November 2018</span></li>
						<li class="items">Claim start date</li>
						<li class="items">Current award started</li>
						<li class="items">Claim date</li>

						<li class="dates"><span class="bold"><span class="dash">-</span>6 Dec 2018</span></li>
						<li class="items">DWP decision date</li>
						<li class="dates"><span class="bold"><span class="dash">-</span>Today</span></li>
					</ul>

	     		</div>

	     	</div>

	     </div>

    </div>