<div class="column-two-thirds">

	<h3>Current award</h3>

	<div class="sl-primary-card last-card v2" id="current-awards">

		<p>Started 5 Nov 2018&nbsp; · &nbsp;Single claim&nbsp; · &nbsp;Paid every calendar month</p>

		<table class="current-award">
			<tr>
				<th>Award component</th>
				<th>Amount</th>
			</tr>
			<tr>
				<td>Housing allowance</td>
				<td>£696.76</td>
			</tr>
			<tr>
				<td>Personal allowance</td>
				<td>£317.82</td>
			</tr>
			<tr>
				<td>Child allowance</td>
				<td>£277.08</td>
			</tr>
			<tr>
				<td class="strong">Total award</td>
				<td class="strong">£277.08</td>
			</tr>
		</table>

	</div>

</div>