  <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
    <h2>Interests</h2>
      <div id="sl-address-primary-card" class="sl-primary-card">
        <div id="interests">
            
        {% if person_ucInt == true or person_esaInt == true %}
          <div class="grid-row nav">
            <div class="column-one-third">
              Start date
            </div>
            <div class="column-one-third expanded">
              Interest
            </div>
          </div>
          <hr>
          
          {% if person_esaInt == true %}
            <div class="grid-row interest">
              <div class="column-one-third">
                <ul>
                  <li>3 Mar 2017</li>
                </ul>
              </div>
              <div class="column-one-third expanded">
                <ul>
                  <li><span class="strong"><span class="interest-type">System</span>INCOME RELATED ESA</span></li>
                  <li class="sl-secondary-text-color sl-metadata">
                      Interested parties: <a class="modal_link" data-toggle="modal" data-target="#esa">GLASGOW CENTRAL</a>
                  </li>
                </ul>
              </div>
            </div> 
          {% endif %}
          
          {% if person_ucInt == true and person_esaInt == true %}
          <hr>
          {% endif %}
          
          {% if person_ucInt == true %}
            <div class="grid-row interest">
              <div class="column-one-third">
                <ul>
                  <li>19 Jan 2010</li>
                </ul>
              </div>
              <div class="column-one-third expanded">
                <ul>
                  <li><span class="strong"><span class="interest-type">System</span>UNIVERSAL CREDIT</span></li>
                  <li class="sl-secondary-text-color sl-metadata">
                      Interested parties: <a class="modal_link" data-toggle="modal" data-target="#uc">GLASGOW CENTRAL</a>
                  </li>
                </ul>
              </div>
            </div> 
          {% endif %}
          
        {% else %}
          No interests held for this customer
        {% endif %}
          

  
  
<!--
  <details>
    <summary>Previous interests</summary>
    
  {% if counter == false %}
    <hr class="light">
    <div class="grid-row nav">
      <div class="column-one-third">
        Start date
      </div>
      <div class="column-one-third expanded">
        Interest
      </div>
      <div class="column-one-third last-col">
        <ul class="edit-menu">
          <li>
            &nbsp;
          </li>
        </ul>
      </div>
    </div>
    <hr class="light">

  {% endif %}  
    
    {% for int in interests %}
      {% if int.live == false %}
          {% include "components/update/interest.html" %}
        <hr class="light">
      {% endif %}  
    {% endfor %}  
  </details>
-->
  
</div>    
  </div>
</div>
