<h2 class="heading-medium question">What kind of name do you need to add?</h2>
<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="add-name-handler">
      
        <legend class="visually-hidden">
          <p>
            What kind of name do you need to make?
          </p>
        </legend>

        <div class="form-group">
          <div class="multiple-choice">
            <input id="typetwo" type="radio" name="data" value="typetwo">
            <label for="typetwo">A name type 2</label>
          </div>
          <div class="multiple-choice">
            <input id="requested" type="radio" name="data" value="requested">
            <label for="requested">A requested name</label>
          </div>
        </div> 

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
            
    </form>
    <p><a href="/account2/account">Cancel</a></p>
  </div>
</div>
