<h2 class="heading-medium question">What kind of name do you need to add?</h2>

<div class="grid-row">
  
  <div class="column-one-half">
    
    <form method="get" action="update-name">
      
        <legend class="visually-hidden">
          <p>
            What kind of name do you need to make?
          </p>
        </legend>

        <div class="form-group">
          <div class="multiple-choice">
            <input id="nameTwo" type="radio" name="nameType" value="nameTwo">
            <label for="nameTwo">A name type 2</label>
          </div>
          
          <div class="multiple-choice">
            <input id="requestedName" type="radio" name="nameType" value="requestedName">
            <label for="requestedName">A requested name</label>
          </div>
        </div> 

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
            
    </form>
    
    <p><a href="/account3/account">Cancel</a></p>
    
  </div>
  
</div>