  <h2 class="heading-medium question">Check your answers</h2>
    <div class="grid-row">
      <div class="column-one-half">
        
        <table class="table"> 
          {% if data['updateType'] == "removeRequested" or data['updateType'] == "removeNameTwo" %}
            <tr>
              <td><span class="strong">End date</span></td>
              <td>{{data['prepopulatedDate']}}</td>
              <td><a>Change</a></td>
            </tr>
            {% if data['updateType'] == "addRequested" or data['updateType'] == "updateRequested" %}
              <tr>
                <td><span class="strong">Start date</span></td>
                <td>{{data['prepopulatedDate']}}</td>
                <td><a>Change</a></td>
              </tr>
            {% endif %}
          {% endif %}
          
          {% if data['updateType'] == "addRequested" or data['updateType'] == "correctRequested" or data['updateType'] == "updateRequested" %}
            <tr>
              <td><span class="strong">Requested name</span></td>
              <td>{{data.requestedName}}</td>
              <td><a>Change</a></td>
            </tr>
            {% if data['updateType'] == "addRequested" or data['updateType'] == "updateRequested" %}
              <tr>
                <td><span class="strong">Start date</span></td>
                <td>{{data['prepopulatedDate']}}</td>
                <td><a>Change</a></td>
              </tr>
            {% endif %}
          {% endif %}
          
          {% if data['updateType'] == "updateNameOne" or data['updateType'] == "correctNameOne" or data['updateType'] == "addNameTwo" or data['updateType'] == "updateNameTwo" or data['updateType'] == "correctNameTwo" %}
            <tr>
              <td><span class="strong">Title</span></td>
              <td>Mr</td>
              <td><a>Change</a></td>
            </tr>
            <tr>
              <td><span class="strong">First name</span></td>
              {% if data.updateType === "addNameTwo" or data.updateType === "updateNameTwo" or data.updateType === "correctNameTwo" %}
                <td>{{data.nameTwoFirst}}</td>
              {% else %}
                <td>{{data.nameOneFirst}}</td>
              {% endif %}
              <td><a>Change</a></td>
            </tr>
            <tr>
              <td><span class="strong">Last name</span></td>
              {% if data.updateType === "addNameTwo" or data.updateType === "updateNameTwo" or data.updateType === "correctNameTwo" %}
                <td>{{data.nameTwoLast}}</td>
              {% else %}
                <td>{{data.nameOneLast}}</td>
              {% endif %}
              <td><a>Change</a></td>
            </tr>
            <tr>
              <td><span class="strong">Suffix</span></td>
              <td>-</td>
              <td><a>Change</a></td>
            </tr>
            {% if data['updateType'] == "updateNameOne" or data['updateType'] == "addNameTwo" or data['updateType'] == "updateNameTwo"  or data['updateType'] == "addRequested" or data['updateType'] == "updateCorrected" %}
              <tr>
                <td><span class="strong">Start date</span></td>
                <td>{{data['prepopulatedDate']}}</td>
                <td><a>Change</a></td>
              </tr>
              <tr>
                <td><span class="strong">Notified date</span></td>
                <td>{{data['prepopulatedDate']}}</td>
                <td><a>Change</a></td>
              </tr>
            {% endif %}
          {% endif %}
      </table>
      <br>
      <form method="get" action="check-name-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="../../../account2/account">Cancel</a>
    </div>
  </div>
