<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          {% if data.updateType == 'updateName' %}
            <h2>Update name type 1</h2>
          {% elif data.updateType == 'correctName' %}
            <h2>Correct name type 1</h2>
          {% elif data.updateType == 'addRequested' %}
            <h2>Add a requested name</h2>
          {% elif data.updateType == 'addTypeTwo' %}
            <h2>Add a name type 2</h2>
          {% endif %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "components/update/name/check-content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>