<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="check">
      
      <legend class="visually-hidden">
        <p class="">
          Requested name
        </p>
      </legend>
            
        <fieldset class="form-group" data-required data-error="Cannot be blank">
          <legend class="visuallyhidden">Requested name</legend>
          <label class="form-label" for="requestedname">Requested name</label>
          <input class="form-control" id="requestedname" type="text" name="requestedname" {% if data.updateType == "correct" %} value = {{data.details.requestedName.value}} {% endif %}>
        </fieldset>
      
        {% if data.updateType != "correct" %}
          <fieldset>
            <div class="form-group prepop">
              <label class="form-label" for="startdate">
                Start date
                <span class="form-hint">
                  For example 31/8/1979
                </span>
              </label>
              <input class="form-control box-one" id="startdate" name="startdate" type="text">
              <a class="populate-link-one">Use today's date</a>
            </div>
          </fieldset>
        {% endif %}
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="/account2/account">Cancel</a></p>
  </div>
</div>
