<h2 class="heading-medium question">What kind of change do you need to make?</h2>
<div class="grid-row">
  <div class="column-one-half">
    
    <form method="get" action="change-name-handler">
      
        <legend class="visually-hidden">
          <p>
            What kind of change do you need to make?
          </p>
        </legend>
      
        <div class="form-group">
          <div class="multiple-choice">
            <input id="update" type="radio" name="data" value="update">
            <label for="update">Update</label>
          </div>
          <div class="multiple-choice">
            <input id="correct" type="radio" name="data" value="correct">
            <label for="correct">Correct a mistake</label>
          </div>
          
          {% if data.updateType == "changeNameTwo"%}
          <div class="multiple-choice">
            <input id="remove" type="radio" name="data" value="remove">
            <label for="remove">End name type 2</label>
          </div>
          {% endif %}
          
          {% if data.updateType == "changeRequested" %}
          <div class="multiple-choice">
            <input id="remove" type="radio" name="data" value="remove">
            <label for="remove">End requested name</label>
          </div>
          {% endif %}
          
        </div> 
      
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
            
    </form>
    
    <p><a href="account">Cancel</a></p>
  </div>
</div>
