<div class="grid-row">
  <div class="column-one-half">
    <form method="get" action="check">
      
      <legend class="visually-hidden">
        <p class="">
          What kind of change do you need to make?
        </p>
      </legend>
      
        <div class="form-group">
         <fieldset data-required data-error="Choose a title">
           <legend class="radio-header">Title</legend>
           
            <div class="multiple-choice">
              <input id="mr" type="radio" name="data" value="mr">
              <label for="mr">Mr</label>
            </div>
           
            <div class="multiple-choice">
              <input id="mrs" type="radio" name="data" value="mrs">
              <label for="mrs">Mrs</label>
            </div>
           
            <div class="multiple-choice">
              <input id="miss" type="radio" name="data" value="miss">
              <label for="miss">Miss</label>
            </div>
           
            <div class="multiple-choice">
              <input id="example-contact-by-phone" type="radio" name="data" value="No">
              <label for="example-contact-by-phone">Ms</label>
            </div>
           
            <div class="multiple-choice" data-target="other-options">
              <input id="other" type="radio" name="data" value="other">
              <label for="other">Other</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="other-options">
              <div class="multiple-choice" data-target="other-options">
                <input id="dr" type="radio" name="data" value="dr">
                <label for="dr">Dr</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="rev" type="radio" name="data" value="rev">
                <label for="rev">Rev</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="sir" type="radio" name="data" value="sir">
                <label for="sir">Sir</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="lady" type="radio" name="data" value="lady">
                <label for="lady">Lady</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="lord" type="radio" name="data" value="lord">
                <label for="lord">Lord</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="proffessor" type="radio" name="data" value="proffessor">
                <label for="proffessor">Proffessor</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="captain" type="radio" name="data" value="captain">
                <label for="captain">Captain</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="major" type="radio" name="data" value="major">
                <label for="major">Major</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="dame" type="radio" name="data" value="dame">
                <label for="dame">Dame</label>
              </div>
              
              <div class="multiple-choice" data-target="other-options">
                <input id="colonel" type="radio" name="data" value="colonel">
                <label for="colonel">Colonel</label>
              </div>
            </div>
          </fieldset>
        </div>
      
        <fieldset class="form-group" data-required data-error="Cannot be blank">
          <legend class="visuallyhidden">First name</legend>
          {% if data.updateType === "addNameTwo" or data.updateType === "updateNameTwo" or data.updateType === "correctNameTwo" %}
            <label class="form-label" for="nameTwoFirst">First name</label>
            <input class="form-control" id="nameTwoFirst" type="text" name="nameTwoFirst">
          {% else %}
            <label class="form-label" for="nameOneFirst">First name</label>
            <input class="form-control" id="nameOneFirst" type="text" name="nameOneFirst">
          {% endif %}
        </fieldset>
        <fieldset class="form-group">
          <legend class="visuallyhidden">Last name</legend>
          {% if data.updateType === "addNameTwo" or data.updateType === "updateNameTwo" or data.updateType === "correctNameTwo" %}
            <label class="form-label" for="nameTwoLast">Last name</label>
            <input class="form-control" id="nameTwoLast" type="text" name="nameTwoLast">
          {% else %}
            <label class="form-label" for="nameOneLast">Last name</label>
            <input class="form-control" id="nameOneLast" type="text" name="nameOneLast">
          {% endif %}
        </fieldset>
        
        <fieldset class="form-group">
          <legend class="visuallyhidden">Suffix</legend>
          <label class="form-label short" for="code">Suffix</label>
          <input class="form-control" id="postcode" type="text" name="postcode">
        </fieldset>
      
          {% if data['updateType'] == "updateName" or data['updateType'] == "addRequested" or data['updateType'] == "addNameTwo" or data['updateType'] == "updateNameTwo" %}
          <fieldset class="form-group">
            <legend class="visuallyhidden">Start date</legend>
            <label class="form-label" for="postcode">
              Start date
              <span class="form-hint">
                For example 31/8/1979
              </span>
            </label>
            <input value="{{data['prepopulatedDate']}}" class="form-control" id="postcode" type="text" name="postcode"><span class="today"></span>
          </fieldset>
      
          <fieldset class="form-group">
            <legend class="visuallyhidden">Notified date</legend>
            <label class="form-label" for="postcode">
              Notified date
            </label>
            <input value="{{data['prepopulatedDate']}}" class="form-control" id="postcode" type="text" name="postcode"><span class="today"></span>
          </fieldset>
        {% endif %}
      
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
      
    </form>
    <p><a href="account">Cancel</a></p>
  </div>
</div>
