<h2 class="heading-medium question">What kind of change do you need to make?</h2>
<div class="grid-row">
  <div class="column-one-half">
    
    <form method="get" action="change-name-type-handler">
      
        <div class="form-group">
          <div class="multiple-choice">
            <input id="update" type="radio" name="updateType" value=2>
            <label for="update">Update 
              {% if data.nameType == "nameOne" %} 
                their name type 1
              {% elif data.nameType == "nameTwo" %} 
                their name type 2
              {% elif data.nameType == "requestedName" %} 
                their requested name
              {% endif %} 
            </label>
          </div>
          <div class="multiple-choice">
            <input id="correct" type="radio" name="updateType" value=3>
            <label for="correct">Correct a mistake</label>
          </div>
          
          {% if data.nameType == "nameTwo"%}
          <div class="multiple-choice">
            <input id="remove" type="radio" name="updateType" value=5>
            <label for="remove">End their name type 2</label>
          </div>
          {% endif %}
          
          {% if data.nameType == "requestedName" %}
          <div class="multiple-choice">
            <input id="remove" type="radio" name="updateType" value=5>
            <label for="remove">End their requested name</label>
          </div>
          {% endif %}
          
        </div> 
      
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
            
    </form>
    
    <p><a href="/account3/account">Cancel</a></p>
  </div>
</div>
