<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          {% if data.updateType === "changeNameOne" %}
            <h2>Change name type 1</h2>
          {% elif data.updateType === "changeNameTwo" %}
            <h2>Change name type 2</h2>
          {% elif data.updateType === "changeRequested" %}
            <h2>Change requested name</h2>
          {% endif %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "components/update/name/update-content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>