<html style="font-family: Arial, sans-serif; font-size: 18px;">

<head>
  <title>CIaaD Notification</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 18px; margin: 0;">
  <div class="c-email-header"
    style="font-family: Arial, sans-serif; font-size: 18px; margin-bottom: 65px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; background-color: #000;">
    <p class="c-email-header__spacer"
      style="font-family: Arial, sans-serif; font-size: 18px; margin: 0; line-height: .5;"><br
        style="font-family: Arial, sans-serif; font-size: 18px;"></p>
    <h1 class="c-email-header__heading"
      style="font-family: Arial, sans-serif; font-size: 32px; color: #fff; text-align: center;">Death Notification:
      Capture Information About a Death</h1>
    <p class="c-email-header__spacer"
      style="font-family: Arial, sans-serif; font-size: 18px; margin: 0; line-height: .5;"><br
        style="font-family: Arial, sans-serif; font-size: 18px;"></p>
  </div>
  <table
    style="font-family: Arial, sans-serif; font-size: 18px; width: 100%; max-width: 900px; margin-left: auto; margin-right: auto; border-collapse: collapse;"
    width="100%">
    <caption
      style="font-family: Arial, sans-serif; margin-bottom: 20px; padding-bottom: 10px; font-size: 24px; font-weight: 700; border-bottom: 4px solid #005ea5; text-align: left;"
      align="left">Deceased's details</caption>
    <tbody style="font-family: Arial, sans-serif; font-size: 18px;">
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Full name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          jane smith</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Hospital, hospice or care home name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          Rake Lane</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Died in hospital, hospice or care home</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          Yes</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Date of birth</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          24/01/1988</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">National Insurance number</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          AA123456A</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Address</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          1 Some street<br style="font-family: Arial, sans-serif; font-size: 18px;">Newcastle<br
            style="font-family: Arial, sans-serif; font-size: 18px;">Tyne and Wear<br
            style="font-family: Arial, sans-serif; font-size: 18px;">UK<br
            style="font-family: Arial, sans-serif; font-size: 18px;">NE14SG<br
            style="font-family: Arial, sans-serif; font-size: 18px;"></td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Date of death</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          01/08/2019 (Verified)</td>
      </tr>
    </tbody>
  </table><br style="font-family: Arial, sans-serif; font-size: 18px;"><br
    style="font-family: Arial, sans-serif; font-size: 18px;"><br
    style="font-family: Arial, sans-serif; font-size: 18px;">
  <table
    style="font-family: Arial, sans-serif; font-size: 18px; width: 100%; max-width: 900px; margin-left: auto; margin-right: auto; border-collapse: collapse;"
    width="100%">
    <caption
      style="font-family: Arial, sans-serif; margin-bottom: 20px; padding-bottom: 10px; font-size: 24px; font-weight: 700; border-bottom: 4px solid #005ea5; text-align: left;"
      align="left">Death Arrears Payee details</caption>
    <tbody style="font-family: Arial, sans-serif; font-size: 18px;">
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Identity</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          caller</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Full name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          john smith</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Company name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          &nbsp;</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Relationship</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          Husband</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Address</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          1 Some street<br style="font-family: Arial, sans-serif; font-size: 18px;">Newcastle<br
            style="font-family: Arial, sans-serif; font-size: 18px;">Tyne and Wear<br
            style="font-family: Arial, sans-serif; font-size: 18px;">UK<br
            style="font-family: Arial, sans-serif; font-size: 18px;">NE14SG<br
            style="font-family: Arial, sans-serif; font-size: 18px;"></td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Account type</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          Bank account</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Account holders full name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          John Smith</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Bank or Building society name</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          Santander</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Account number</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          12345678</td>
      </tr>
      <tr style="font-family: Arial, sans-serif; font-size: 18px;">
        <th width="50%" scope="row" valign="top"
          style="font-family: Arial, sans-serif; font-size: 18px; text-align: left; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;"
          align="left">Sort code</th>
        <td width="50%"
          style="font-family: Arial, sans-serif; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #bfc1c3; width: 50%;">
          123456</td>
      </tr>
    </tbody>
  </table><br style="font-family: Arial, sans-serif; font-size: 18px;"><br
    style="font-family: Arial, sans-serif; font-size: 18px;"><br
    style="font-family: Arial, sans-serif; font-size: 18px;">
</body>

</html>