<div class="sl-account-canvas row updater super-slim-header">
  
  <div class="sl-account-canvas-width" id="alerts-container">
    
    <a class="link-back" onCLick="history.back()">Back</a>
    <h2 class="title">Search for notifications</h2>

    <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">

      <div class="sl-primary-card">
        {% include "./form.html" %}
      </div>
      <br>
        
    </div>

  </div>
  
<!--
  <script src="../../../../../public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="../../../../../public/javascripts/jquery-ui.min.js"></script>
	<script src="../../../../../public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
	  (function($){
	    $(function(){
	      $('select').selectToAutocomplete();
	      $('form').submit(marital);
	    });
	  })(jQuery);
	</script>
-->
