//  GOV.UK font stacks, referred to in typography.scss

//  Font stack weirdness
//
//  To ensure embedded fonts fall back to appropriate
//  system fonts (eg, bold embedded font falls back to
//  bold system font, without anyone getting horrible
//  artificially emboldened weights) we're setting
//  the font-stack in a font-face declaration rather
//  than with the usual font-family.

// Import fonts
@font-face {
  font-family: "sl-font";
  src: url(/public/fonts/GDSTransportWebsite.ttf);
}

@font-face {
  font-family: "sl-font";
  src: url(/public/fonts/GDSTransportWebsite-Bold.ttf);
  font-weight: bold;
}

$sl-font: "sl-font",
Arial,
sans-serif;

// Helvetica Regular

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"),
  local("Helvetica Neue"),
  local("Arial"),
  local("Helvetica");
}

$Helvetica-Regular: "GDS-Logo",
sans-serif;

// Font reset for print

$Print-reset: sans-serif;
