<div id="reduced-name" class="sl-account-canvas-width">
<!--   <p><span class="sn-name">MISS &nbsp; ALISHA &nbsp; ADHIRA KHATRI </span> &nbsp; · &nbsp; <span>SY&nbsp; 11&nbsp; 92&nbsp; 84&nbsp; Z</span> &nbsp; · &nbsp; <span>8 Feb 1976</span></p>
 -->  
  <p>
  	<a href="/account3/account/#benefits-anchor">
  	<span class="name-title">MR</span>
  	<span class="name-first">THOMAS</span>
  	<span class="name-last">SMITH</span>

  	<span> · </span>

  	<span>SY&nbsp; 11&nbsp; 92&nbsp; 84&nbsp; Z</span>

  	<span> · </span>

  	<span>8 Feb 1940</span>
  </a>
  </p>

</div>