<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          {% if data.recordLevel.state == "adding" %}
            <h2>Add a special customer record level</h2>
          {% elseif data.recordLevel.state == "correcting" %}
            <h2>Correct the special customer record level</h2>
          {% else %}
            <h2>Update the special customer record level</h2>
          {% endif  %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              {% include "components/update/person/recordLevel/update-content.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>