{# <p>Check these accounts do not belong to this person before creating a new account</p> #}

<div class="grid-row">
  <div class="column-one-third" style="text-align:left;">

    <div class="nino-trace-result">
      <ul>
        <li>{{data.currentNinoApplication.nameOneFirst}} {{data.currentNinoApplication.nameOneLast}}</li>
        <li>ZX123456</li> 
        <li>13 New Street, Coventry</li> 
        <li><a href="./account?ninoaccountref=1" class="under-link">View data</a></li>
      </ul>
    </div>

    <div class="nino-trace-result">
      <ul>
        <li>{{data.currentNinoApplication.nameOneFirst}} {{data.currentNinoApplication.nameOneLast}}</li>
        <li>ZZ654321</li>
        <li>12A The Crescent, Bristol</li> 
        <li><a href="./account?ninoaccountref=2" class="under-link">View data</a></li>
      </ul>
    </div>

    <div class="nino-trace-result">
      <ul>
        <li>{{data.currentNinoApplication.nameOneFirst}} {{data.currentNinoApplication.nameOneLast}}</li>
        <li>AA135791</li>
        <li>12A Old Court, Pilton</li> 
        <li><a href="./account?ninoaccountref=3" class="under-link">View data</a></li>
      </ul>
    </div>

    {# <form method="get" action="nino-master-router"> #}
    <form method="get" action="./trace_options">
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>

  </div>

    <div class="column-one-third application-panel" style="margin-left: 20px;text-align:left;">
      <h3>Application details</h3>
      <ul>
        <li>Name</li>
        <li>Lucy Macdonald</li>
        <li>BRP number</li>
        <li>RE1617181</li>
        <li>Passport number</li>
        <li>10004</li>
        <li>Previous name</li>
        <li>None</li>
        <li>Arrive date</li>
        <li>9 Jan 2020</li>
        <li>Sex</li>
        <li>Female</li>
        <li>Address</li>
        <li>3 Garden Place, Bristol</li>
      </ul>
      </div>

</div>