<p>Check these accounts do not belong to this person before creating a new account</p>

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="nino-trace-result">
      <ul>
        <li>{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}} &nbsp; • &nbsp; SX170211</li>
        <li><a class="under-link">View data</a></li>
      </ul>
    </div>

    <div class="nino-trace-result">
      <ul>
        <li>{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}} &nbsp; • &nbsp; SX170211</li>
        <li><a class="under-link">View data</a></li>
      </ul>
    </div>

    <div class="nino-trace-result">
      <ul>
        <li>{{data.ninoApplication.nameOneFirst}} {{data.ninoApplication.nameOneLast}} &nbsp; • &nbsp; SX170211</li>
        <li><a class="under-link">View data</a></li>
      </ul>
    </div>

    {# <form method="get" action="verify-data-handler"> #}
    <form method="get" action="./options">
      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>
    </form>

  </div>
</div>