<div class="personal-details">
  <div class="grid-row">
    <div class="column-one-half">

      <table class="table">
        <tr>
          <td>Name on application</td>
          <td>Mateo Bangalter</td>
        </tr>
        <tr>
          <td>Name from Home Office</td>
          <td>mateoarlobangalter</td>
        </tr>
        <tr>
          <td>Your entry</td>
          <td>{{data.ninoapplication_firstnames}} {{data.ninoapplication_lastname}}</td>
        </tr>
      </table>

      <br>
      <form method="get" action="nameentry-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>
    </div>
  </div>
</div>