<div class="details">
  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="strong">TOM SMITH</h3>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>Part time work</li>
        <li>Gross capital amount</li>
        <li>Recovery</li>
        <li>Disregard applied</li>
        <li>Breakdown in AIF</li>
      </ul>      
    </div>
    <div class="column-two-thirds">
      <ul>
        <li class="strong">Yes</li>
        <li class="strong">£</li>
        <li class="strong">No</li>
        <li class="strong">Value</li>
        <li class="strong">Value</li>
      </ul>      
    </div>
  </div>
</div>


<hr class="light">

<div class="details">
  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="strong">PARTNER</h3>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>Part time work</li>
        <li>Gross capital amount</li>
      </ul>      
    </div>
    <div class="column-two-thirds">
      <ul>
        <li class="strong">Yes</li>
        <li class="strong">£</li>
      </ul>      
    </div>
  </div>
</div>


<hr class="light">

<div class="details">
  <div class="grid-row">
    <div class="column-one-third">
      <h3><span class="strong">BILL SMITH</span> <span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp;Non-dependant number 1</span></h3>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>Part time work</li>
        <li>Gross capital amount</li>
        <li>Recovery</li>
        <li>Disregard applied</li>
        <li>Breakdown in AIF</li>
      </ul>      
    </div>
    <div class="column-two-thirds">
      <ul>
        <li class="strong">Yes</li>
        <li class="strong">£</li>
        <li class="strong">No</li>
        <li class="strong">Value</li>
        <li class="strong">Value</li>
      </ul>      
    </div>
  </div>
</div>