{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  {% include "components/nav/la-nav.html" %}
    
  <div class="sl-account-canvas row updater new-slim-header">
    
    <div class="sl-account-canvas-width" id="notes">
      
      <a class="link-back" href="authority-account">Back</a>
      
      <h2 class="title">Local Authority notes</h2>
      
      <div class="sl-primary-card sl-personal-details-card list-card">
        <div class="grid-row">
          <div class="column-one-third">
            <h3 class="strong">Jobseekers Allowance (JSAPS)</h3>
          </div>
        </div>
        {% include "components/update/auth-interests/notes-data.html" %}
      </div>
            
      <div class="sl-primary-card sl-personal-details-card list-card" style="margin-top:30px;">
        <div class="grid-row">
          <div class="column-one-third">
            <h3 class="strong">Income Support (ISCS)</h3>
          </div>
        </div>
        {% include "components/update/auth-interests/notes-data.html" %}
      </div>
      
      <div class="sl-primary-card sl-personal-details-card list-card" style="margin-top:30px;">
        <div class="grid-row">
          <div class="column-one-third">
            <h3 class="strong">Pensions service (PSCS)</h3>
            <p class="strong">Variable notes</p>
          </div>
        </div>
        {% include "components/update/auth-interests/notes-data.html" %}
      </div>
      
      <div class="sl-primary-card sl-personal-details-card list-card" style="margin-top:30px;">
        <div class="grid-row">
          <div class="column-one-third">
            <h3 class="strong">Pensions service (PSCS)</h3>
            <p class="strong">Notepad</p>
          </div>
        </div>
        <hr class="light">

        <div class="grid-row">
          <div class="column-two-thirds">
            <ul>
              <li>
                Note text goes here. Note text goes here. Note text goes here. Note text goes here. Note text goes here.
              </li>
            </ul>      
          </div>
        </div>             
      </div>
      
    <div class="last-card">
    </div>
        
    </div>
  </div>

{% endblock %}