<table class="crs_table">
  <tr {% if data.currentNinoApplication.ninobrp == false %} class="application-wrong" {% endif %} >
    <td>Biometric residence permit</td>
    <td>{{data.currentNinoApplication.BRP}}</td>
  </tr>

  <tr {% if data.currentNinoApplication.ninobrp == false %} class="application-wrong" {% endif %} >
    <td>Right to work</td>
    {% if data.currentNinoApplication.rightToWork == false %}
      <td>No</td>
    {% elif data.currentNinoApplication.rightToWork == true %}
      <td>Yes</td>
    {% endif %}
  </tr>

  {% if data.currentNinoApplication.previousNameFirst != null %}
  <tr>
    <td>Previous first name</td>
    <td>{{data.currentNinoApplication.previousNameFirst}}</td>
  </tr>
  <tr>
    <td>Previous last name</td>
    <td>{{data.currentNinoApplication.previousNameLast}}</td>
  </tr>
{% else %}
    <tr>
      <td>Other names</td>
      <td>None</td>
    </tr>
  {% endif %}

  <tr {% if data.currentNinoApplication.ninoiarrival == false %} class="application-wrong" {% endif %} >
    <td>Arrival date</td>
    <td>{{data.currentNinoApplication.arriveDate}}</td>
  </tr>
  {# <tr {% if data.currentNinoApplication.ninoaddress == false %} class="application-wrong" {% endif %} >
    <td>Address</td>
    <td>
      {{data.currentNinoApplication.addressLineOne}}<br>
      {{data.currentNinoApplication.addressLineTwo}}
    </td>
  </tr>
  <tr {% if data.currentNinoApplication.ninoaddress == false %} class="application-wrong" {% endif %} >
    <td>Post code</td>
    <td>{{data.currentNinoApplication.postCode}}</td>
  </tr> #}
</table>