<div style="margin: 20px auto 50px auto;">

  <div class="sl-account-canvas-width">
      
    {# <a class="link-back" onCLick="history.back()">Back</a> #}
      
    <div id="sl-address-primary-card" class="sl-primary-card">
          
      {# {% include "../options/options_header.html" %}  #}

      <div class="header-group">
        <h1 style="color :purple; font-size: 20px;">Application details</h1>
      </div>

      <div id="address-pane">
        {% include "./content.html" %}
      </div>

    </div>

  </div>

</div>