<form method="get" action="set-case-handler">

  <div class="form-group">

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">First name: <span class="strong">{{data.currentNinoApplication.nameOneFirst}}</span></label>
    </div>

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Last name: <span class="strong">{{data.currentNinoApplication.nameOneLast}}</span></label>
    </div>

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Passport Number: <span class="strong">{{data.currentNinoApplication.passportNumber}}</span></label>
    </div>

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Nationality: <span class="strong">{{data.currentNinoApplication.nationality}}</span></label>
    </div>

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Biometric Residence Permit: <span class="strong">{{data.currentNinoApplication.BRP}}</span></label>
    </div>

    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Arrival date: <span class="strong">{{data.currentNinoApplication.arriveDate}}</span></label>
    </div>


    <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Address: <span class="strong">{{data.currentNinoApplication.addressLineOne}} {{data.currentNinoApplication.addressLineTwo}} {{data.currentNinoApplication.postCode}}</span></label>
    </div>


    {# <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Mobile number: <span class="strong">{{data.currentNinoApplication.mobile}}</span></label>
    </div> #}

    {# <div class="multiple-choice">
      <input id="null" type="checkbox" name="allocate" value=null>
      <label for="null">Email address: <span class="strong">{{data.currentNinoApplication.email}}</span></label>
    </div> #}
        
  </div> 
  
  <div class="form-group">
    <input class="button" type="submit" value="Next">
  </div>
  
</form>
