  <h2 class="heading-medium question">Check your answers</h2>
  <div class="grid-row">
    <div class="column-one-half">
      <table class="table">
         <tr>
            <td>End their Bereavement Benefit</td>
            <td><a>Change</a></td>
          </tr>
      </table>
      <br>
      <form method="get" action="check-benefit-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account3/account">Cancel</a>
    </div>
  </div>



