<hr class="light">

<div class="grid-row">
  <div class="column-one-third">
    <ul>
<!--      <li class="strong">JOHN SMITH</li>-->
      <li>Part time work</li>
      <li>Gross capital amount</li>
      <li>Recovery</li>
      <li>Disregard applied</li>
      <li>Breakdown in assessed income figure</li>
    </ul>      
  </div>
  <div class="column-two-thirds">
    <ul>
<!--      <li>&nbsp;</li>-->
      <li class="strong">Yes</li>
      <li class="strong">£0</li>
      <li class="strong">No</li>
      <li class="strong">Value</li>
      <li class="strong">Value</li>
    </ul>      
  </div>
</div>

<hr class="light">

<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li class="strong">PARTNER</li>
      <li>Part time work</li>
      <li>Gross capital amount</li>
    </ul>      
  </div>
  <div class="column-two-thirds">
    <ul>
      <li>&nbsp;</li>
      <li class="strong">Yes</li>
      <li class="strong">£0</li>
    </ul>      
  </div>
</div>

<div id="income-support"></div>

<hr class="light">

<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li> <span class="strong"> BILL SMITH</span> <span class="sl-secondary-text-color sl-metadata">&nbsp;·&nbsp;Non-dependant</span></li>
      <li>Type</li>
      <li>Verification type</li>
      <li>Start date</li>
      <li>Date of birth</li>
      <li>Sex</li>
      <li>Non dependant status</li>
    </ul>      
  </div>
  <div class="column-two-thirds">
    <ul>
      <li>&nbsp;</li>
      <li class="strong">Cohabitation</li>
      <li class="strong">Not verified</li>
      <li class="strong">01 Sep 2016</li>
      <li class="strong">11 Jan 1960</li>
      <li class="strong">Male</li>
      <li class="strong">Current</li>
    </ul> 
  </div>
</div>

    {% include "./dep-details.html" %}
