<div id="notes-data">
  <div class="personal-details">
    <div>
      <div class="grid-row">
        <div class="column-one-third">
          <h3 class="strong">Jobseekers Allowance (JSAPS)</h3>
        </div>
      </div>
      {% include "./notes-data.html" %}
    </div>
    
    <hr class="strong">

    <div  style="margin-top:30px;">
      <div class="grid-row">
        <div class="column-one-third">
          <h3 class="strong">Income Support (ISCS)</h3>
        </div>
      </div>
      {% include "./notes-data.html" %}
    </div>
    
    <hr class="strong">

    <div  style="margin-top:30px;">
      <div class="grid-row">
        <div class="column-one-third">
          <div class="title-group">
            <h3 class="strong">Pensions service (PSCS)</h3>
            <p class="strong">Variable notes</p>
          </div>
        </div>
      </div>
      {% include "./notes-data.html" %}
    </div>
    
    <div id="data"></div>
    
    <hr class="strong">

    <div  style="margin-top:30px;">
      <div class="grid-row">
        <div class="column-one-third">
          <div class="title-group">
            <h3 class="strong">Pensions service (PSCS)</h3>
            <p class="strong">Notepad</p>
          </div>
        </div>
      </div>
      <hr class="light">

      <div class="grid-row">
        <div class="column-two-thirds">
          <ul>
            <li>
              Note text goes here. Note text goes here. Note text goes here. Note text goes here. Note text goes here.
            </li>
          </ul>      
        </div>
      </div>             
    </div>
  </div>
</div>
