<hr class="light">

<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li>5 Sep 2016</li>
    </ul>      
  </div>
  <div class="column-two-thirds">
    <ul>
      <li>
        Note text goes here. Note text goes here. Note text goes here. Note text goes here. Note text goes here.
      </li>
    </ul>      
  </div>
</div>  

<hr class="light">

<div class="grid-row">
  <div class="column-one-third">
    <ul>
      <li>3 Jul 2015</li>
    </ul>      
  </div>
  <div class="column-two-thirds">
    <ul>
      <li>
        Note text goes here. Note text goes here. Note text goes here. Note text goes here. Note text goes here.
      </li>
    </ul>      
  </div>
</div>        