  <h2 class="heading-medium question">Check your answers</h2>

    <div class="grid-row">
      
      <div class="column-one-half">
        
        <table class="table">
          
          <!-- PV -->
            {% if data.personalDetail == 'pv' %}
              {% include "components/update/person/check/pv.njk" %}
            {% endif %}
          <!-- Date of birth -->
            {% if data.personalDetail == 'dateOfBirth' %}
              {% include "components/update/person/check/birth.njk" %}
            {% endif %}
          <!-- Date of death -->
            {% if data.personalDetail == 'dateOfDeath' %}
              {% include "components/update/person/check/death.njk" %}
            {% endif %}
          <!-- Sex -->
            {% if data.personalDetail == 'sex' %}
              {% include "components/update/person/check/sex.njk" %}
            {% endif %}
          <!-- Identity fraud interest -->
            {% if data.personalDetail == 'nifu' %}
              {% include "components/update/person/check/nifu.njk" %}
            {% endif %}
          <!--  Disability status -->
            {% if data.personalDetail == 'disability' %}
              {% include "components/update/person/check/disability.njk" %}
            {% endif %}
          <!--  Additional needs -->
            {% if data.personalDetail == 'specialNeeds' %}
              {% include "components/update/person/check/needs.njk" %}
            {% endif %}
          <!--  Nationality -->
            {% if data.personalDetail == 'nationality' %}
              {% include "components/update/person/check/nationality.njk" %}
            {% endif %}
          <!--  Spoken language -->
            {% if data.personalDetail == 'spokenLanguage' %}
              {% include "components/update/person/check/spoken.njk" %}
            {% endif %}
          <!--  Preferred language -->
            {% if data.personalDetail == 'preferredLanguage' %}
              {% include "components/update/person/check/preferred.njk" %}
            {% endif %}
          <!--  Immigration status -->
            {% if data.personalDetail == 'immigration' %}
              {% include "components/update/person/check/immigration.njk" %}
            {% endif %}
          <!--  Marital status -->
            {% if data.personalDetail == 'maritalStatus' %}
              {% include "components/update/person/check/marital.njk" %}
            {% endif %}
          <!--  ID AT RISK STATUS -->
            {% if data.personalDetail == 'idAtRisk' %}
              {% include "components/update/person/check/risk.njk" %}
            {% endif %}
          <!--  ASSET FREEZE STATUS-->
            {% if data.personalDetail == 'assetFreeze' %}
              {% include "components/update/person/check/freeze.njk" %}
            {% endif %}
          <!--  recordLevel-->
            {% if data.personalDetail == 'recordLevel' %}
              {% include "components/update/person/check/record.njk" %}
            {% endif %}
          <!--  INDIndicator-->
            {% if data.personalDetail == 'INDIndicator' %}
              {% include "components/update/person/check/indindicator.njk" %}
            {% endif %}

          
        </table>
      <br>
      <form method="get" action="check-person-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account2/account">Cancel</a>
    </div>
  </div>



