  <h2 class="heading-medium question">Check your answers</h2>

    <div class="grid-row">
      
      <div class="column-one-half">
        
        <table class="table">
          
          <!-- PV -->
            {% if data.personalDetail == 'pv' %}
              {% include "components/update/person/check/pv.njk" %}
            {% endif %}
          <!-- Date of birth -->
            {% if data.personalDetail == 'dateOfBirth' %}
              {% include "components/update/person/check/birth.njk" %}
            {% endif %}
          <!-- Date of death -->
            {% if data.personalDetail == 'dateOfDeath' %}
              {% include "components/update/person/check/death.njk" %}
            {% endif %}
          <!-- Sex -->
            {% if data.personalDetail == 'sex' %}
              {% include "components/update/person/check/sex.njk" %}
            {% endif %}
          <!-- Identity fraud interest -->
            {% if data.personalDetail == 'nifu' %}
              {% include "components/update/person/check/nifu.njk" %}
            {% endif %}
          <!--  Disability status -->
            {% if data.personalDetail == 'disability' %}
              {% include "components/update/person/check/disability.njk" %}
            {% endif %}
          <!--  Additional needs -->
            {% if data.personalDetail == 'specialNeeds' %}
              {% include "components/update/person/check/needs.njk" %}
            {% endif %}
          <!--  Nationality -->
            {% if data.personalDetail == 'nationality' %}
              {% include "components/update/person/check/nationality.njk" %}
            {% endif %}
          <!--  Spoken language -->
            {% if data.personalDetail == 'spokenLanguage' %}
              {% include "components/update/person/check/spoken.njk" %}
            {% endif %}
          <!--  Preferred language -->
            {% if data.personalDetail == 'preferredLanguage' %}
              {% include "components/update/person/check/preferred.njk" %}
            {% endif %}
          <!--  Immigration status -->
            {% if data.personalDetail == 'immigration' %}
              {% include "components/update/person/check/immigration.njk" %}
            {% endif %}
          <!--  Marital status -->
            {% if data.personalDetail == 'maritalStatus' %}
              {% include "components/update/person/check/marital.njk" %}
            {% endif %}
          <!--  ID AT RISK STATUS -->
            {% if data.personalDetail == 'idAtRisk' %}
              {% include "components/update/person/check/risk.njk" %}
            {% endif %}
          <!--  ASSET FREEZE STATUS-->
            {% if data.personalDetail == 'assetFreeze' %}
              {% include "components/update/person/check/freeze.njk" %}
            {% endif %}
          
          <!--  recordLevel-->
            {% if data.personalDetail == 'recordLevel' %}
              {% include "components/update/person/check/record.njk" %}
            {% endif %}
          
          
          <!-- ADD UPDATE -->
<!--
        {% if data.updateType == 1 or data.updateType == 2 %}
        <tr>
          <td class="bold">{{data.personalDetails[data.personalDetail].display}}</td>
          <td>
            {% if data.personalDetail == "pv" or data.personalDetail == "specialNeeds" %}
              {{counter}}
              {% set counter = data.personalDetailValue.length %}
              {% for item in data.personalDetailValue %}
                {% if counter != 1 %}
                  {{item}}, <br>
                {% else %}
                  {{item}}
                {% endif %}
                {% set counter = counter -1 %}
              {% endfor %}
            {% elif data.personalDetail == 'sex' %}  
              {% if data.personalDetailValue == true %}
                Male
              {% else %}
                Female
              {% endif %}
            {% else %}               
              {{data.personalDetailValue}}
            {% endif %}   
          </td>
          <td><a>Change</a></td>
        </tr>
        {% endif %}
-->
          
        <!-- CORRECT -->
<!--
        {% if data.updateType == 1 or data.updateType == 2 or data.updateType == 3 %}
        <tr>
          <td class="bold">
            {% if data.tempValue == "null" or data.tempValue == null %}
              Remove their {{data.personalDetails[data.personalDetail].display}}
            {% else %}
              {{data.personalDetails[data.personalDetail].display}}
            {% endif %}
            
          </td>
          {% if data.tempValue != "null" and data.tempValue != null %}
            <td>
              {% if data.personalDetail == "pv" or data.personalDetail == "specialNeeds" %}
                {{counter}}
                {% set counter = data.personalDetailValue.length %}
                {% for item in data.personalDetailValue %}
                  {% if counter != 1 %}
                    {{item}}, <br>
                  {% else %}
                    {{item}}
                  {% endif %}
                  {% set counter = counter -1 %}
                {% endfor %}
              {% elif data.personalDetail == 'sex' %}  
                {% if data.personalDetailValue == true %}
                  Male
                {% else %}
                  Female
                {% endif %}
              {% else %}               
                {{data.personalDetailValue}}
              {% endif %}   
            {% endif %}   
          </td>
          {% endif %}   
          <td><a>Change</a></td>
        </tr>
-->
                    
        <!-- REMOVE -->
<!--
        {% if data.updateType == 5 %}
          
        {% endif %}
-->
          
        <!-- VERIFICATION -->
<!--
        {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" or data.personalDetail == "immigration" %}
          <tr>
            <td class="bold">
              {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" %}
                Verification level
              {% else %}
                Immigration reference number
              {% endif %}
            </td>
            <td>{{data.verificationlevel}}</td> 
            <td><a>Change</a></td>
          </tr>
        {% endif %}
                  
          <tr>
-->
          <!-- TITLE -->
<!--            <td> -->
<!--
              <span class="strong">
                {% if data.personalDetail == "sex" %}
-->
<!--
                  Sex
                {% else %}
                  {% if data.tempValue == "null" %}
                    {% if data.personalDetailValue == "An induction loop" %}
                      Remove induction loop
                    {% elif data.personalDetailValue == "A lift" %}
                      Remove lift
                    {% elif data.personalDetailValue == "A ramp" %}
                      Remove ramp
                    {% else %}
                      Remove {{data.personalDetailValue | lower}}
                    {% endif %}

                  {% elif data.personalDetailValue == "null" or data.updateType == 4 %}
                    Remove 
                      {% if data.personalDetail == "pv" or data.personalDetail == "disability" %}
                        the
                      {% else %}
                        their
                      {% endif %}
                  {{data.personalDetails[data.personalDetail].display | lower}}

                  {% elif data.personalDetail == "pv" %}
                    Who is potentially violent?

                  {% elif data.personalDetail == "specialNeeds" and data.updateType == 3 %}
                      Additional need
                  {% else %}
                    {{data.personalDetails[data.personalDetail].display | capitalize}}
                  {% endif %}
                {% endif %}

              </span>
            </td>
-->
            
            <!-- VALUE -->
            
<!--
              {% if data.personalDetail == "sex" %}
                {% if data.personalDetailValue == true %}
                  <td>Male</td>
                {% else %}
                 <td>Female</td>
                {% endif %}
              {% else %}
            
                {% if data.tempValue == "null" %}
                  <td></td>
                {% elif data.personalDetailValue != "null"  %}
                  <td>
                    {% if data.personalDetail == "pv" or data.personalDetail == "specialNeeds" %}
                      {% if data.updateType == 3 %}
                        {{data.personalDetailValue}}
                      {% else %}
                        {{counter}}
                        {% set counter = data.personalDetailValue.length %}
                        {% for item in data.personalDetailValue %}
                          {% if counter != 1 %}
                            {{item}}, <br>
                          {% else %}
                            {{item}}
                          {% endif %}
                          {% set counter = counter -1 %}
                        {% endfor %}
                      {% endif %}   
                    {% else %}   
                      {% if data.personalDetailValue == "unknown" %}
                        {{data.personalDetailValue | capitalize}}
                      {% elif data.updateType == 4 %}

                      {% elif data.personalDetailValue != "dateOfBirth" or data.personalDetailValue != "dateOfDeath"  %}
                        {{ data.personalDetailValue | asString }} 
                      {% elif data.personalDetailValue != "VIP" %}
                        {{data.personalDetailValue}}
                      {% else %}
                        {{data.personalDetailValue}}
                      {% endif %}
                    {% endif %}
                  </td>
                {% endif %}
            
            {% endif %}
-->

            
            <!-- CHANGE -->
<!--
            <td>
              <a>Change</a>
            </td>
          </tr>
          
          {% if data.personalDetail == "specialNeeds" and data.updateType == 3 and data.tempValue != "null" %}
            <tr>
-->
              <!-- TITLE -->
<!--
              <td> 
                <span class="strong">Correct to</span>
              </td>
              <td> 
                {{data.tempValue}}
              </td>
              <td>
                <a>Change</a>
              </td>
            </tr>
          {% endif %}
          
          {% if data.personalDetailValue != "null" %}
            {% if data.updateType != 4 %}
              {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" or data.personalDetail == "immigration" %}
                <tr>
                  <td class="strong">
                    {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" %}
                      Verification level
                    {% else %}
                      Immigration reference number
                    {% endif %}
                  </td>
                  <td>{{data.verificationlevel}}</td>
                  <td><a>Change</a></td>
                </tr>
              {% endif %}
            {% endif %}
          {% endif %}
          
          
          {% if data.personalDetailValue == "assetfreeze" or data.personalDetailValue == "idAtRisk" %}
          
          {% endif %}
-->
          
        </table>
      <br>
      <form method="get" action="check-person-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account2/account">Cancel</a>
    </div>
  </div>



