<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>
            {% if data.editState == "adding" %}
              Add 
            {% elif data.editState == "correcting" %}
              Correct
            {% elif data.editState == "ending" %}
              End
            {% else %}
              Update
            {% endif %}

            {{ data.personalDetails[data.personalDetail].display | lower }}
          </h2>

<!--
          {% if data.maritalState == "adding" %}
            <h2>Add marital or civil partnership status</h2>
          {% elif data.maritalState == "updating" %}
            <h2>Update marital or civil partnership status</h2>
          {% elif data.maritalState == "correcting" %}
            <h2>Correct marital or civil partnership status</h2>
          <!-- nationality
          {% elif data.nationality.state == "adding" %}
            <h2>Add nationality</h2>
          {% elif data.nationality.state == "updating" %}
            <h2>Update nationality</h2>
          {% elif data.nationality.state === "correcting" %}
            <h2>Correct nationality</h2>
          <!-- disability
          {% elif data.disability.state == "adding" %}
            <h2>Add disability status</h2>
          {% elif data.disability.state == "updating" %}
            <h2>Update disability status</h2>
          {% elif data.disability.state == "correcting" %}
            <h2>Correct disability status</h2>
          {% elif data.disability.state == "removing" %}
            <h2>End disability status</h2>
          <!-- needs
          {% elif data.specialNeeds.state == "adding" %}
            <h2>Add special needs information</h2>
          {% elif data.needsState == "updating" %}
            <h2>Update special needs information</h2>
          {% elif data.specialNeeds.state == "correcting" %}
            <h2>Correct special needs information</h2>
          {% elif data.specialNeeds.state == "removing" %}
            <h2>Remove special needs information</h2>
          <!-- NIFU
          {% elif data.nifu.state == "adding" %}
            <h2>Add national fraud interest</h2>
          {% elif data.nifu.state == "correcting" %}
            <h2>Correct national fraud interest</h2>
          {% elif data.nifu.state == "updating" %}
            <h2>Update national fraud interest</h2>
          <!-- Nathan
          {% elif data.nathan.state == "adding" %}
            <h2>Add a special customer record level</h2>
          {% elif data.nathan.state == "updating" %}
            <h2>Update the special customer record level</h2>
          {% elif data.nathan.state == "removing" %}
            <h2>End the special customer record level</h2>
          <!-- Sex
          {% elif data.sex.state == "correcting" %}
            <h2>Correct sex</h2>
          {% endif %}

-->          
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "components/update/person/check-content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>