<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          {% if data.maritalState == "adding" %}
            <h2>Add marital or civil status</h2>
          {% elif data.maritalState == "updating" %}
            <h2>Update marital or civil status</h2>
          {% elif data.maritalState == "correcting" %}
            <h2>Correct marital or civil status</h2>
          {% elif data.nationalityState == "adding" %}
            <h2>Add nationality</h2>
          {% elif data.nationalityState == "updating" %}
            <h2>Update nationality</h2>
          {% elif data.nationalityState === "correcting" %}
            <h2>Correct nationality</h2>
          <!-- disability -->
          {% elif data.disabilityState == "adding" %}
            <h2>Add disability status</h2>
          {% elif data.disabilityState == "updating" %}
            <h2>Update disability status</h2>
          {% elif data.disabilityState == "correcting" %}
            <h2>Correct disability status</h2>
          {% elif data.disabilityState == "removing" %}
            <h2>Remove disability status</h2>
          <!-- needs -->
          {% elif data.needsState == "adding" %}
            <h2>Add special needs information</h2>
          {% elif data.needsState == "updating" %}
            <h2>Update special needs information</h2>
          {% elif data.needsState == "correcting" %}
            <h2>Correct special needs information</h2>
          {% elif data.needsState == "removing" %}
            <h2>Remove special needs information</h2>
          <!-- NIFU -->
          {% elif data.nifu.state == "adding" %}
            <h2>Add national fraud interest</h2>
          {% elif data.nifu.state == "correcting" %}
            <h2>Correct national fraud interest</h2>
          {% elif data.nifu.state == "updating" %}
            <h2>Update national fraud interest</h2>
          {% endif %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "components/update/person/check-content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>