  <h2 class="heading-medium question">Check your answers</h2>

    <div class="grid-row">
      
      <div class="column-one-half">
        
        <table class="table">
                  
          <tr>
            <!-- TITLE -->
              <td> <span class="strong">
                {% if data.personalDetailValue == "null" %}
                  Remove the {{data.personalDetails[data.personalDetail].display | lower}}
                {% elif data.personalDetail == "pv" %}
                  Who is potentially violent?
                {% else %}
                  {{data.personalDetails[data.personalDetail].display | capitalize}}
                {% endif %}
              </span> </td>
            
            
            <!-- VALUE -->
              {% if data.personalDetailValue != "null" %}
                <td>
                  {% if data.personalDetail == "pv" or data.personalDetail == "specialNeeds" %}
                    {{counter}}
                    {% set counter = data.personalDetailValue.length %}
                    {% for item in data.personalDetailValue %}
                      {% if counter != 1 %}
                        {{item}}, <br>
                      {% else %}
                        {{item}}
                      {% endif %}
                      {% set counter = counter -1 %}
                    {% endfor %}
                  {% else %}   
                    {{data.personalDetailValue | capitalize}}
                  {% endif %}
                </td>
              {% endif %}
            
            <!-- CHANGE -->
            <td>
              <a>Change</a>
            </td>
          </tr>
          
          {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" or data.personalDetail == "immigration" %}
            <tr>
              <td class="strong">
                {% if data.personalDetail == "dateOfDeath" or data.personalDetail == "dateOfBirth" %}
                  Verification level
                {% else %}
                  Immigration reference number
                {% endif %}
              </td>
              <td>{{data.verificationlevel}}</td>
              <td><a>Change</a></td>
            </tr>
          {% endif %}
                    
        </table>
      <br>
      <form method="get" action="check-person-handler">
        <div class="form-group">
          <input class="button" type="submit" value="Submit">
        </div>
      </form>
      <a href="/account2/account">Cancel</a>
    </div>
  </div>



