<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          <a class="link-back" onCLick="history.back()">Back</a>
          
          <h2 class="title">
            {% if data.editState == "adding" %}
              Add 
            {% elif data.editState == "correcting" %}
              Correct
            {% elif data.editState == "ending" %}
              Change
            {% else %}
              Update
            {% endif %}

            {{ data.personalDetails[data.personalDetail].display | lower }}
          </h2>

<!--
          {% if data.maritalState == "adding" %}
            <h2  class="title">Add marital or civil partnership status</h2>
          {% elif data.maritalState == "updating" %}
            <h2  class="title">Update marital or civil partnership status</h2>
          {% elif data.maritalState == "correcting" %}
            <h2  class="title">Correct marital or civil partnership status</h2>
          <!-- nationality
          {% elif data.nationality.state == "adding" %}
            <h2  class="title">Add nationality</h2>
          {% elif data.nationality.state == "updating" %}
            <h2  class="title">Update nationality</h2>
          {% elif data.nationality.state === "correcting" %}
            <h2  class="title">Correct nationality</h2>
          <!-- disability
          {% elif data.disability.state == "adding" %}
            <h2  class="title">Add disability status</h2>
          {% elif data.disability.state == "updating" %}
            <h2  class="title">Update disability status</h2>
          {% elif data.disability.state == "correcting" %}
            <h2  class="title">Correct disability status</h2>
          {% elif data.disability.state == "removing" %}
            <h2  class="title">End disability status</h2>
          <!-- needs
          {% elif data.specialNeeds.state == "adding" %}
            <h2  class="title">Add special needs information</h2>
          {% elif data.needsState == "updating" %}
            <h2  class="title">Update special needs information</h2>
          {% elif data.specialNeeds.state == "correcting" %}
            <h2  class="title">Correct special needs information</h2>
          {% elif data.specialNeeds.state == "removing" %}
            <h2  class="title">Remove special needs information</h2>
          <!-- NIFU
          {% elif data.nifu.state == "adding" %}
            <h2  class="title">Add national fraud interest</h2>
          {% elif data.nifu.state == "correcting" %}
            <h2  class="title">Correct national fraud interest</h2>
          {% elif data.nifu.state == "updating" %}
            <h2  class="title">Update national fraud interest</h2>
          <!-- recordLevel
          {% elif data.recordLevel.state == "adding" %}
            <h2  class="title">Add a special customer record level</h2>
          {% elif data.recordLevel.state == "updating" %}
            <h2  class="title">Update the special customer record level</h2>
          {% elif data.recordLevel.state == "removing" %}
            <h2  class="title">End the special customer record level</h2>
          <!-- Sex
          {% elif data.sex.state == "correcting" %}
            <h2  class="title">Correct sex</h2>
          {% endif %}

-->          
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "components/update/person/check-content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>