<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>
          {% if data.editState == "adding" %}
            Add
          {% elif data.editState == "correcting" %}
            Correct
          {% else %}
            Update
          {% endif %}
            {{data.personalDetails[data.personalDetail].display | lower}}
          </h2>
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              {% if data.personalDetail == "nationality" %}
                {% include "components/update/person/details/nationality.njk" %}
              {% elif data.personalDetail == "specialNeeds" %}
                {% include "components/update/person/details/specialneeds.njk" %}
              {% elif data.personalDetail == "maritalStatus" %}
                {% include "components/update/person/details/maritalstatus.njk" %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
    	<script src="../../../../../public/javascripts/jquery-1.11.1.min.js"></script>
	<script src="../../../../../public/javascripts/jquery-ui.min.js"></script>
	<script src="../../../../../public/javascripts/jquery.select-to-autocomplete.js"></script>
	<script>
	  (function($){
	    $(function(){
	      $('select').selectToAutocomplete();
	      $('form').submit(marital);
	    });
	  })(jQuery);
	</script>
