<form id="alert-search-form" action="alerts">
  <div class="grid-row">
    <div class="column-one-quarter">
      <div class="form-group prepop">
        <label class="form-label" for="full-name-f1">
          Date of alert
          <span class="form-hint">
            For example 21/10/2018
          </span>
        </label>
        <input class="form-control box-one" id="full-name-f1" type="text" name="full-name-f1" value={{value_1}}>
        <a class="populate-link-one">Use yesterday's date</a>
      </div>
    </div>

    <div class="column-one-quarter" id="benefits">
      <div class="form-group">
<!--
        <label class="form-label" for="full-name-f1">
          Benefits system ID
          <span class="form-hint">
            For example CACS
          </span>
        </label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value={{value_2}}>
-->
         {% include "components/alerts/system-selector.njk" %}
      </div>
    </div>

    <div class="column-one-quarter" id="alert-code">
      <div class="form-group">
        <label class="form-label" for="full-name-f1">
          Alert code (optional)
          <span class="form-hint">
            For example 3508
          </span>
        </label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value={{value_3}}>
      </div>
    </div>

    <div class="column-one-quarter" id="alert-code">
      <div class="form-group">
        <label class="form-label" for="full-name-f1">
          Office ID (optional)
          <span class="form-hint">
            For example 11223
          </span>
        </label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>
    </div>

  </div>

  <div class="grid-row">
   
    <div class="column-full">
      
      <div class="form-group">
        
        <details>
          
          <summary><span class="summary">View more search options</span></summary>
          
            <div class="panel panel-border-narrow" id="nino-search">

              <!-- 50 -->
              <div class="column-one-half">
                <div class="column-one-half">
                 <!-- Alert -->  
                  <fieldset>
                    <label class="form-label" for="full-name-f1">Alert type</label>
                    <div class="multiple-choice">
                      <input id="all" type="radio" name="alert-type" value="all" checked=checked>
                      <label for="all">All</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Alert" type="radio" name="alert-type" value="Alert">
                      <label for="Alert">Alert</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Warning" type="radio" name="alert-type" value="Warning">
                      <label for="Warning">Warning</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Rejection Report" type="radio" name="alert-type" value="Rejection Report">
                      <label for="Rejection Report">Rejection Report</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Take-on rejection report" type="radio" name="alert-type" value="Take-on rejection report">
                      <label for="Take-on rejection report">Take-on rejection report</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Purge" type="radio" name="alert-type" value="Purge">
                      <label for="Purge">Purge</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="Purge Success" type="radio" name="alert-type" value="Purge Success">
                      <label for="Purge Success">Purge Success</label>
                    </div>
                  </fieldset>
                </div>
                <div class="column-one-half">
                <!-- status -->  
                  <fieldset>
                    <label class="form-label" for="full-name-f1">Status</label>
                    <div class="multiple-choice">
                      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland" checked=checked>
                      <label for="radio-1">Unprocessed</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
                      <label for="radio-2">Processed</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
                      <label for="radio-3">All</label>
                    </div>
                  </fieldset>
                </div>
              </div>
                            
              <!-- 50 -->
              <div class="column-one-half">
                <div class="column-one-half">
                 <!-- NINO -->  
                  <label class="form-label" for="full-name-f1">National Insurance number</label>
                  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                </div>
                <div class="column-one-half">
                 <!-- Alert -->  
<!--
                  <label class="form-label" for="full-name-f1">Alert type</label>
                  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
-->

                </div>
                <div class="form-title">
                 <!-- title -->
                  <p id="ledger-title"class="form-label" for="full-name-f1">Search for a range of National Insurance numbers
                    <span class="form-hint">
                      Enter the last two digits of each number
                    </span>
                  </p>
                </div>
                <div class="column-one-half">
                  <div class="column-one-half">
                   <!-- from -->  
                    <label class="form-label" for="full-name-f1">From</label>
                    <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                  </div>
                  <div class="column-one-half">
                   <!-- to -->  
                    <label class="form-label" for="full-name-f1">To</label>
                    <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                  </div>
                </div>
              </div>


  <!--
              <div class="column-one-quarter">
                <div class="form-group">
                  <label class="form-label" for="full-name-f1">National Insurance number</label>
                  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                </div>

                <p id="ledger-title"class="form-label" for="full-name-f1">Search for a range of national insurance numbers </p>

                <div class="form-group">
                  <div id="ledger">
                    <div>
                      <label class="form-label" for="full-name-f1">From</label>
                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                    </div>
                    <div>
                      <label class="form-label" for="full-name-f1">To</label>
                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                    </div>
                  </div>
                </div>
              </div>

              <div class="column-one-quarter">
                <div class="form-group">
                  <label class="form-label" for="full-name-f1">Alert type</label>
                  <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
                </div>
              </div>

              <div class="column-one-quarter">
                <div class="form-group">
                  <fieldset>
                    <label class="form-label" for="full-name-f1">Status</label>
                    <div class="multiple-choice">
                      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland" checked=checked>
                      <label for="radio-1">Unprocessed</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
                      <label for="radio-2">Processed</label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
                      <label for="radio-3">All</label>
                    </div>
                  </fieldset>
                </div>
              </div>
  -->

            </div>

        </details> 
        
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full last-full-col">
      <div class="form-group">
        <button class="button" type="submit">Search</button>
      </div>
    </div>
  </div>

</form>


