<tr class="data">
  <td>{{counter}}</td>
  <td><a class="under-link">{{item.nino}}</a></td>
  <td>NRS2</td>
  <td>22 Oct 2018</td>
  <td>{{item.alertType}}</td>
  <td>{{item.code}}</td>
  <td>{{item.title}}</td>
  <td>{{item.office}}</td>
  <td>{{item.transaction}}</td>
  <td>{{item.surname}}</td>
  <td>{{item.forename}}</td>
  <td>{{item.startDate}}</td>
  <td>{{item.processedDate}}</td>
  <td class="check">
    <div class="multiple-choice">
      <input id={{counter}} name="contact-by-text-phone" class="process-boxes" type="checkbox" value="true">
      <label for={{counter}}></label>
    </div>
  </td>
</tr>
<tr>
  <td colspan="14" class="description">
    <span class="">Details:</span> {{item.description}}
  </td> 
</tr>