<tr class="data">
  <td>{{i}}</td>
  <td>Non Match On NI Number</td>
  <td>Rejection report</td>
  <td>3000</td>
<!--  <td>NRS2</td>-->
  <td>112233</td>
  <td>T003</td>
  <td>SX170201C</td>
  <td>NAHASAPEEMAPETILON</td>
  <td>JONATHAN</td>
  <td>01 Jan 2018</td>
  <td>11 Sep 2018</td>
  <td class="check">

    <div class="multiple-choice">
      <input id={{i}} name="contact-by-text-phone" type="checkbox" value="true">
      <label for={{i}}></label>
    </div>
    
  </td>
</tr>
<tr>
  <td colspan="13" class="description">
    <span class="">Details:</span> Transaction date - 01 Jan 2005, &nbsp; Name Start Date - 01012005, &nbsp; Titile - Mr, &nbsp; Forename 1 - JOHN, &nbsp; Forname 2 - SAM, &nbsp; Surname - JONES, &nbsp; Requested form of address = BILL
  </td> 
</tr>