<fieldset class="form-group">
  <label class="form-label" for="personalDetailValue">
    System ID
      <span class="form-hint">
        For example CACS
      </span>
  </label>
  
  <select name="systemid" class="form-control" name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
      <option value="" selected="selected">Select System</option>
      <option value="AACS">AACS</option>
      <option value="CACS">CACS</option>
      <option value="CBCS">CBCS</option>
      <option value="CID">CID</option>
      <option value="CSCS">CSCS</option>
      <option value="CIS FLS users only">CIS FLS users only</option>
      <option value="CS2">CS2</option>
      <option value="DLACS">DLACS</option>
      <option value="ISCS">ISCS</option>
      <option value="JSAPS">JSAPS</option>
      <option value="NIRS2">NIRS2</option>
      <option value="NTC">NTC</option>
      <option value="PFS">PFS</option>
      <option value="PSCS/INCAP"> PSCS/INCAP</option>
      <option value="SFCS">SFCS</option>
      <option value="WFPS">WFPS</option>
      <option value="WPCS">WPCS</option>
  </select>
</fieldset>


