<div class="grid-row">

    <div class="column-two-thirds">
      
      <form class="form" method="get" action="check">
        
        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="visually-hidden">
                Do you know their nationality?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="mar-question">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2">No</label>
            </div>
          </fieldset>
            <div class="panel panel-border-narrow js-hidden" id="mar-question">
              <fieldset class="form-group">
                <legend class="radio-header">Marital status</legend>
                <div class="multiple-choice">
                  <input id="single" type="radio" name="data" value="single">
                  <label for="single">Single</label>
                </div>
                <div class="multiple-choice">
                  <input id="married" type="radio" name="data" value="married">
                  <label for="married">Married</label>
                </div>
                <div class="multiple-choice">
                  <input id="living" type="radio" name="data" value="living">
                  <label for="living">Living together</label>
                </div>
                <div class="multiple-choice">
                  <input id="separated" type="radio" name="data" value="separated">
                  <label for="separated">Separated</label>
                </div>
                <div class="multiple-choice">
                  <input id="divorced" type="radio" name="data" value="divorced">
                  <label for="divorced">Divorced or civil partnership dissolved</label>
                </div>
                <div class="multiple-choice">
                  <input id="widowed" type="radio" name="data" value="widowed">
                  <label for="widowed">Widowed or surviving civil partner</label>
                </div>
                <div class="multiple-choice">
                  <input id="annulled" type="radio" name="data" value="annulled">
                  <label for="annulled">Annulled - voidable marriage or civil partnership</label>
                </div>
                <div class="multiple-choice">
                  <input id="void" type="radio" name="data" value="void">
                  <label for="void">Annulled - void marriage or civil partnership</label>
                </div>
              </fieldset>
            </div>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      
      <p><a href="task-list">Cancel</a></p>
      
    </div>

  </div>