  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Select all that apply</p>
      
      <form class="form" method="get" action="additional-needs-handler">

        <fieldset class="form-group">

<!--
    <legend>
      <h3 class="heading-medium">Which types of waste do you transport regularly?</h3>
      <span class="body-text">Select all that apply</span>
    </legend>
-->

    <div class="multiple-choice">
      <input id="type-1" name="data" type="checkbox" value="type-1">
      <label for="type-1">Audio forms</label>
    </div>
    <div class="multiple-choice">
      <input id="type-2" name="data" type="checkbox" value="type-2">
      <label for="type-2">Braille</label>
    </div>
    <div class="multiple-choice">
      <input id="type-3" name="data" type="checkbox" value="type-3">
      <label for="type-3">Induction loop</label>
    </div>
    <div class="multiple-choice">
      <input id="type-4" name="data" type="checkbox" value="type-4">
      <label for="type-4">Large print</label>
    </div>
    <div class="multiple-choice">
      <input id="type-5" name="data" type="checkbox" value="type-5">
      <label for="type-5">Lift</label>
    </div>
    <div class="multiple-choice">
      <input id="type-6" name="data" type="checkbox" value="type-6">
      <label for="type-6">Ramp</label>
    </div>
    <div class="multiple-choice">
      <input id="type-7" name="data" type="checkbox" value="type-7">
      <label for="type-7">Sign language</label>
    </div>
    <div class="multiple-choice">
      <input id="type-8" name="data" type="checkbox" value="type-8">
      <label for="type-8">Sign language - hearing</label>
    </div>
    <div class="multiple-choice">
      <input id="type-9" name="data" type="checkbox" value="type-9">
      <label for="type-9">Type-talk or minimum for hearing</label>
    </div>
    <div class="multiple-choice">
      <input id="type-10" name="data" type="checkbox" value="type-10">
      <label for="type-10">Type-talk or textphone for speech</label>
    </div>

  </fieldset>
        


        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
      <p><a href="task-list">Cancel</a></p>
    </div>

  </div>