{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  
<div id="prototype-nav">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Searchlight prototypes</h1>
      <p>To reset the data in the prototype, select the 'Feedback' link at the top of any page.</p>
     
      <div class="group">
        <h2 class="heading-medium">Process a NINO application</h2>
        <ul>
          <li><a href="get-applyForNinoVersion?applyForNinoVersion=5">Version 5</a> (MVP)</li>
          <li>Mar 2020</li>
          {# <li>Shows automatic trace results. Allows users to change name details. 
          <br>Allows users to pick a case up after investigation and continue.</li> #}
        </ul>

        <ul>
          <li><a href="get-applyForNinoVersion?applyForNinoVersion=4">Version 4</a></li>
          <li>Mar 2020</li>
          {# <li>Automatic trace results. Allows users to change name details.</li>
          <li>Allows users to hold a case and pick up after investigation.</li> #}
        </ul>

        <ul>
          <li><a href="search-for-a-person-three">Version 3</a></li>
          {# <li>Basic version</li> #}
          <li>Feb 2020</li>
        </ul>

        <ul>
          <li><a href="search-for-a-person-mvp">Version 2</a></li>
          <li>Feb 2020</li>
          <li></li>
        </ul>

        <ul>
          <li><a href="search-for-a-person">Version 1</a></li>
          <li>Jan 2020</li>
          <li></li>
        </ul>

        <details>
          <summary><span class="summary">Show mock up Home Office CRS database accountss</span></summary>

          <ul class="list list-bullet">  
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10001" target="_blank">Abel Negasi</a></li>
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10002" target="_blank">Ambika Aishwarya</a></li>
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10006" target="_blank">Lucy Zhao</a></li>
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10005" target="_blank">Edward Winchester</a></li>
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10007" target="_blank">Jo Chen</a></li>
            <li><a class="under-link" href="get-crs-by-ref?ninoapplication_applicationnumber=10008" target="_blank">Mateo Bangalter</a></li>
          </ul>
        </details>

        <details>
          <summary><span class="summary">Prototype setup notes</span></summary>
            <p>
              To view a case where there are matching accounts in CIS 
              <br>use the following application numbers:
            <p>
            <p>• &nbsp;Multiple accounts: 10006 (Lucy Zhao).</p>  
            <p>• &nbsp;Single account: 10005 (Ed Winchester)</p> 
            <p>
              For these cases select yes to 'right to work' and yes to 'personal <br>details match'.
            </p>
        </details>
      </div>
            
        <h2 class="heading-medium">Nationality, immigration status and right to public funds</h2>
        
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/settlement-status-v4">Version 4 - Feb 2020</a></li>
          <li><a class="under-link" href="/settlement-status-v3">Version 3 - October 2019</a></li>
          <li><a class="under-link" href="/settlement-status-v2">Version 2 - October 2019</a></li>
          <li><a class="under-link" href="/settlement-status">Version 1 - September 2019</a></li>
          <li><a class="under-link" href="cis-handler?nino=SX170204&role=ho">Account 1</a> &nbsp;(Jonas)</li>
          <li><a class="under-link" href="cis-handler?nino=QQ123456&role=ho">Account 2</a> &nbsp;(Hans QQ123456)</li>
          <li><a class="under-link" href="cis-handler?nino=PA807930&role=ho">Account 3</a> &nbsp;(Javier PA807930)</li>
          <li><a class="under-link" href="cis-handler?nino=SX170205&role=dg">Account 4</a> &nbsp;(JP)</li>
          <li><a class="under-link" href="cis-handler?nino=SX170206&role=dg">Account 5</a> &nbsp;(Beth)</li>
        </ul>

        <hr>
      
        <ul class="list list-bullet">  
          <li>Trace - <a class="under-link" href="/trace">December 2019</a></li>
          <li><a class="under-link" href="cis-handler?nino=SX170207&role=none">Account 6</a> &nbsp;(Thomas Brown)</li>
          <li><a class="under-link" href="cis-handler?nino=SX170208&role=none">Account 7</a> &nbsp;(Mavis Brown)</li>
        </ul>

        <hr>
        <h2 class="heading-medium">Details about a death</h2>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/details-about-death">Version 1 - August 2019</a></li>
        </ul>
        <hr>    

        <h2 class="heading-medium">New benefits layout</h2>
        <p>August 2019 (v3)</p>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="cis-handler?nino=SX170203&role=none">Account 3</a> &nbsp;(Robin. Current - Pension)</li>
          <li><a class="under-link" href="cis-handler?nino=SX170202&role=none">Account 2</a> &nbsp;(Sita. Current - DLA. Previous - CA)</li>
          <li><a class="under-link" href="cis-handler?nino=SX170201&role=none">Account 1</a> &nbsp;(Alex. Current - UC and PIP. Previous - CA)</li>
          <li><a class="under-link" href="account2/account">Orignal Account</a></li>
          <li><a class="under-link" href="benefits/dla-v3">Disability Living Allowance</a> - current award</li>
          <li><a class="under-link" href="benefits/sp-v3  ">State Pension</a> - current award</li>
          <li><a class="under-link" href="benefits/pip-v3">Personal Independence Payment</a> - current award</li>
          <li><a class="under-link" href="benefits/uc-v3">Universal Credit</a> - current award</li>
          <li><a class="under-link" href="benefits/ca-v3">Carer's Allowance</a> - previous award</li>
        </ul>
        <hr>     

        <h2 class="heading-medium">Bereavement support</h2>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="search-v8">March 2019</a></li>
          <li><a class="under-link" href="search-v7">Feb 2019</a></li>
        </ul>
        <hr>

        <h2 class="heading-medium">Management checks</h2>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="search-v9">Version C - Feb 2019</a></li>
        </ul>
        <hr>
              
        <h2 class="heading-medium">Get notifications</h2>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/notifications/v2/page-one">Version 2 - November 2018</a></li>
          <li><a class="under-link" href="/notifications/page-one">Version 1 - October 2018</a></li>
        </ul>
        <hr>
            
        <h2 class="heading-medium">Get alerts</h2>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/alerts/v2/page-one">Version 2 November 2018</a></li>
          <li><a class="under-link" href="/alerts/page-one">Version 1 September 2018</a></li>
        </ul>
        <hr>
              
        <h2 class="heading-medium">Get citizen income information</h2>
        
        <p style="font-size: 17px">Dec 2018 - version 2<span> &nbsp; </span></p>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/search-v4/?gciiExample=6">Showing income vs employment</a></li>
        </ul>
      
        <p style="font-size: 17px">July 2018 - version 1<span> &nbsp; </span></p>
        <ul class="list list-bullet">  
          <li><a class="under-link" href="/search-v4/?gciiExample=2">Example 2</a></li>
          <li><a class="under-link" href="/search-v4/?gciiExample=2">Example 2</a></li>
          <li><a class="under-link" href="/search-v4/?gciiExample=5">Example 5</a></li>
          <li><a class="under-link" href="/search-v4/?gciiExample=4">Example 4 - third party</a></li>
        </ul>
        <hr>
            
        <h2 class="heading-medium">
          Maintain relationships<br>
          Maintain names<br>
          Maintain personal details<br>
          Maintain contact details
        </h2>
        <details>
          <summary>Journeys included</summary>
          <ul class="list list-bullet">  
            <li>Maintain contact details</li> <!--done-->
            <li>Maintain nationality</li> <!--done-->
            <li>Maintain Sex</li> <!--done-->
            <li>Correct date of birth</li> <!--done-->
            <li>Add or correct date of death</li> <!--done-->
            <li>Maintain potentially violent status</li>  <!-- done -->
            <li>Marital or Civil Partnership status</li>  <!-- done -->
            <li>Disability status</li> <!-- done -->
            <li>Special needs</li><!-- done -->
            <li>Prefered Language</li>
            <li>Spoken Language</li> <!-- done -->
            <li>Immigration data</li>
  <!--                <li>Gender recognition details</li>-->
            <li>Identity fraud interest</li>
            <li>Customer record level</li>

          </ul> 
        </details>

      <p style="font-size: 17px">June 2018<span> &nbsp; </span></p>
      
      <ul class="list list-bullet">
        <li><a class="under-link" href="account2/account">Version 1 - maintain names and personal details</a></li>
        <li><a class="under-link" href="update/relationships/details">Relationship details</a></li>
      </ul>

      <hr>
            
      <h2 class="heading-medium">Local Authority access</h2>
      <details>
        <summary>Journeys included</summary>
        <ul class="list list-bullet">      
          <li>Maintain interests</li>
          <li>Local Authority notes and data</li>
        </ul> 
      </details>

      <p style="font-size: 17px">June 2018<span> &nbsp; </span></p> 
      
      <ul class="list list-bullet">
        <li><a class="under-link" href="/search-v3">Local Authority - version 1</a></li>
      </ul>             
      <hr>

      <h2 class="heading-medium">Maintain an interest</h2>
      <p style="font-size: 17px">April 2018<span> &nbsp; </span></p> 

        <ul class="list list-bullet">
          <li>
            <a class="under-link" href="search">Maintain interests - full access - version 1</a>
            <details>
              <summary>Journeys included</summary>
              <ul class="list list-bullet">      
                <li>Correct journeys for:</li>
                <li>Attendance Allowance (All combinations)</li>
                <li>Child Support Reform (System owning, maintained CRL, non-maintained CRL)</li>
                <li>Bereavement Allowance (System owning, clerical owning)</li>
                <li>Bereavement Benefit (System owning, clerical owning, maintained CRL, non-maintained CRL)</li>
                <li>Jobseeker's Allowance (All combinations)</li>
                <li>Winter Fuel Payment (CRL only)</li>
                <li>Carers Credit (system only)</li>
              </ul> 
            </details>
          </li>
              
          <li>
            <a class="under-link" href="/search-v2">Maintain interests - single benefit/system - version 1</a>
          </li>
          <li>
            <a class="under-link" href="/search-v3">Maintain interests - Local Authority - version 1</a>
          </li>
        </ul>

        <hr>

        <h2 class="heading-medium">Maintain an address</h2>
        <h2 class="heading-medium">View history and maintenance</h2>
        <br>

        <h2 class="heading-small"><a class="under-link" href="/account2/account">History prototype v3</a></h2>
        <details>
          <summary>History views</summary>
          <ul class="list list-bullet">      
            <li><a href="/history/birth-history">Date of birth</a></li>
            <li><a href="/history/death-history">Date of death</a></li>
            <li><a href="/history/nino-history">NINO</a></li>
            <li><a href="/history/pv-history">Potentially violent</a></li>
            <li><a href="/history/gender">Gender</a></li>
            <li><a href="/history/sex-history">Sex</a></li>
            <li><a href="/history/language-pref-history">Preferred language</a></li>
            <li><a href="/history/immigration">Immigration status</a></li>
          </ul> 
        </details>
        <p style="font-size: 17px">March 2018<span> &nbsp; </span></p> 

        <h2 class="heading-small"><a class="under-link" href="search">Address and History prototype v2</a></h2>
        <p style="font-size: 17px">January - March 2018<span> &nbsp; </span></p> 

        <h2 class="heading-small"><a class="under-link" href="search-v1">Address prototype v2</a></h2>
        <p style="font-size: 17px">December 2017</p>     

        <hr>


        <h2 class="heading-medium">Create an account and Insert an account</h2>
        <br>

        <h2 class="heading-small"><a class="under-link" href="nino/8/type">Version 6</a></h2>
        <p style="font-size: 17px; margin-bottom: 5px;">April 2019</p>
        <details style="margin-bottom: 20px;">
          <summary><span class="summary" style="font-size: 17px;">View main changes</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list list-bullet">
              <li>Test version for better contact capture</li>
            </ul>
          </div>
        </details>

        <h2 class="heading-small"><a class="under-link" href="nino/7/type">Version 5</a></h2>
        <p style="font-size: 17px; margin-bottom: 5px;">Dec 2018</p>
        <details style="margin-bottom: 20px;">
          <summary><span class="summary" style="font-size: 17px;">View main changes</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list list-bullet">
              <li>Added start date for PWA or NFA address status </li>
              <li>Updated label and title for name type 2 </li>
            </ul>
          </div>
        </details>

        <h2 class="heading-small"><a class="under-link" href="nino/6/type">Version 4</a></h2>
        <p style="font-size: 17px; margin-bottom: 5px;">May 2018</p>
        <details style="margin-bottom: 20px;">
          <summary><span class="summary" style="font-size: 17px;">View main changes</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list list-bullet">
              <li>Simplified contact preferences</li>
            </ul>
          </div>
        </details>

        <h2 class="heading-small"><a class="under-link" href="nino/5/type">Version 3</a></h2>
        <p style="font-size: 17px; margin-bottom: 5px;">Feb 2018</p>
        <details style="margin-bottom: 20px;">
          <summary><span class="summary" style="font-size: 17px;">View main changes</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list list-bullet">
              <li>Nationality question updated to 'Do you know their nationality'</li>
              <li>Marital status question updated to 'Do you know their marital status'</li>
              <li>Marital status question could only be shown if person is older than UK legal marriage age (16)</li>
<!--                  <li>Removed date field hints</li>-->
              <li>Content updated</li>
            </ul>
          </div>
        </details>

        <h2 class="heading-small"><a class="under-link" href="nino/4/type">Version 2</a></h2>
        <p style="font-size: 17px">Jan/Feb 2018</p>

        <h2 class="heading-small"><a class="under-link" href="nino/2/type">Version 1</a></h2>
        <p style="font-size: 17px">January 2018</p>

        <hr>

        <h2 class="heading-medium">Create a right of access report</h2>
        <br>
        <h2 class="heading-small"><a class="under-link" href="update/rar/print-rar">Version 1</a></h2>
        <p style="font-size: 17px">March 2017</p>     
          
    </div>
  </div>
</div>
{% endblock %}