{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="sl-account-canvas row" id="prototype-navigation">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        <div id="sl-address-primary-card" class="sl-primary-card">
          
          <div id="main-cont">
            <h1 class="heading-large">Searchlight prototypes</h1>
            <p>To reset the data in the prototype, hit the 'Feedback' link at the top of any page.</p>
<!--
            <details style="margin-bottom: 20px;">
              <summary><span class="summary" style="font-size: 17px;">Notes</span></summary>
              <div class="panel panel-border-narrow">
                <ul class="list list-bullet">
                  <li>If no maintenance data is available - no maintenence link should be shown</li>
                  <li>If no history data is available - no history link should be shown</li>
                </ul>
              </div>
            </details>
-->
            <hr>
    
            <h2 class="heading-medium">
              <ul class="list list-bullet">
                <li>Maintain an interest</li>
              </ul>
            </h2>
            
            <h2 class="heading-small"><a class="under-link" href="search">Maintain interests - full access - version 1</a></h2>
<!--            <h2 class="heading-small"><a class="under-link" href="search">Add parties v2</a></h2>-->
            <p style="font-size: 17px">      
              March 2018
              <br>
              <span class="bold">Note:</span> shows correct journeys for Attendance Allowance, Child Support Reform,
              <br>Bereavement Allowance, Bereavement Benefit, Jobseeker's Allowance, Winter Fuel Payment,
              <br>Carers Credit
            </p> 

            <h2 class="heading-small">
              <a class="under-link" href="/search-v2">Maintain interests - single benefit/system - version 1</a>
            </h2>
            <p style="font-size: 17px">March 2018<span> &nbsp; </span></p> 

            <hr>

            <h2 class="heading-medium">
              <ul class="list list-bullet">
                <li>Maintain gender (work in progress)</li>
                <li>Maintain names (work in progress)</li>
                <li>Maintain an address</li>
                <li>View history and maintenance</li>
              </ul>
            </h2>

            <h2 class="heading-small"><a class="under-link" href="account2/account">Version 3 - maintain names</a></h2>
            <p style="font-size: 17px">April 2018<span> &nbsp; </span></p> 

            <h2 class="heading-small"><a class="under-link" href="search">Version 2</a></h2>
            <p style="font-size: 17px">January - March 2018<span> &nbsp; </span></p> 

            <h2 class="heading-small"><a class="under-link" href="search-v1">Version 1</a></h2>
            <p style="font-size: 17px">December 2017</p>     

            <hr>

<!--
            <h2 class="heading-medium">View maintenance data and view history data</h2>
            <br>

            <h2 class="heading-small"><a class="under-link" href="search">Version 1</a></h2>
            <p style="font-size: 17px">Work in progress</p>

            <hr>
-->

            <h2 class="heading-medium">Create an account and Insert an account</h2>
            <br>

            <h2 class="heading-small"><a class="under-link" href="nino/5/type">Version 3</a></h2>
            <p style="font-size: 17px; margin-bottom: 5px;">Feb 2018</p>
            <details style="margin-bottom: 20px;">
              <summary><span class="summary" style="font-size: 17px;">View main changes</span></summary>
              <div class="panel panel-border-narrow">
                <ul class="list list-bullet">
                  <li>Nationality question updated to 'Do you know their nationality'</li>
                  <li>Marital status question updated to 'Do you know their marital status'</li>
                  <li>Marital status question could only be shown if person is older than UK legal marriage age (16)</li>
<!--                  <li>Removed date field hints</li>-->
                  <li>Content updated</li>
                </ul>
              </div>
            </details>

            <h2 class="heading-small"><a class="under-link" href="nino/4/type">Version 2</a></h2>
            <p style="font-size: 17px">Jan/Feb 2018</p>

            <h2 class="heading-small"><a class="under-link" href="nino/2/type">Version 1</a></h2>
            <p style="font-size: 17px">January 2018</p>
            
            <hr>
          
            <h2 class="heading-medium">Print a subject access report</h2>
            <br>
            <h2 class="heading-small"><a class="under-link" href="update/print-sar">Version 1</a></h2>
            <p style="font-size: 17px">March 2017</p>     
          </div>

          <!--
            <p><a href="/search-full">Full search</a></p>

            <p><a href="/search">Short Search</a></p>

            <p><a href="/kitchen-sink">Kitchen Sink</a></p>
          -->
          
      </div>
    </div>
  </div>
</div>
{% endblock %}