<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history dob-history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Date of birth</li>
        <li>{{data.personalDetails.dateOfBirth.value}}</li>
      </ul>
      <ul class="">
        <li>Verification level</li>
        <li>2</li>
      </ul>
      <ul>
        <li>Changed on</li>
        <li>5 Jun 2010</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>01255 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}