<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history dob-history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Date of death</li>
        <li>20 Jan 2018</li>
        <li>20 Jan 2018</li>
        <li>22 Jan 2018</li>
      </ul>
      <ul class="">
        <li>Verification level</li>
        <li>3</li>
        <li>Not verified</li>
        <li>Not verified</li>
      </ul>
      <ul>
        <li>Changed on</li>
        <li>2 Feb 2018</li>
        <li>2 Feb 2018</li>
        <li>1 Feb 2018</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
        <li>PSCS</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Newcastle DO</li>
        <li>Newcastle DO</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>78910</li>
        <li>78910</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>Not available</li>
        <li>Not available</li>
        <li>0191 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}