<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history sex-adv-history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Gender</li>
        <li>Female</li>
      </ul>
      <ul class="">
        <li>Date of change</li>
        <li>{{data.prepopulatedDate}}</li>
      </ul>
      <ul>
        <li>Notified date</li>
        <li>{{data.prepopulatedDate}}</li>
      </ul>
      <ul>
        <li>Type</li>
        <li>Pre Gender Recognition Act application</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}