<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history immigration-history">
      <ul class="">
        <li>Status</li>
        <li>-</li>
      </ul>
      <ul class="">
        <li>Reference number</li>
        <li>-</li>
      </ul>
      <ul>
        <li>Change made</li>
        <li>11 Jan 1990</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}