<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history immigration-history">
      <ul class="">
        <li>Status</li>
        <li>Indefinite leave to remain</li>
        <li>Asylum seeker</li>
      </ul>
      <ul>
        <li>Changed on</li>
        <li>11 Mar 2010</li>
        <li>5 Jan 1990</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
        <li>0191 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}