<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history language">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Preferred language</li>
        <li>English</li>
      </ul>
      <ul>
        <li>Changed on</li>
        <li>5 Jun 2010</li>
      </ul>
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
    </div>
    
  </div>

  {% include "components/modals.html" %}