<!-- <h2 class="heading-medium question">Previous names</h2> -->
  <div class="personal-details">
    
    <div class="history dob-history">
<!-- <h3 class="heading-small">Name</h3> -->
      <ul style="width:66%;">
        <li>National Insurance number</li>
        <li><a class="under-link" href="/account3/account" target="_blank">SX440007</a></li>
        <li><a class="under-link" href="/account3/account" target="_blank">SX440008</a></li>
      </ul>
    </div>
  </div>

  {% include "components/modals.html" %}