<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history sex-adv-history">
<!--      <h3 class="heading-small">Name</h3>-->
      <ul class="">
        <li>Type of update</li>
        <li>Change</li>
        <li>Correction</li>
      </ul>
      <ul class="">
        <li>Sex</li>
        <li>Female</li>
        <li>Male</li>
      </ul>
      <ul class="">
        <li>Effective date of gender change</li>
        <li>{{data.prepopulatedDate}}</li>
        <li>-</li>
      </ul>
      <ul>
        <li>Notified or decision date</li>
        <li>{{data.prepopulatedDate}}</li>
        <li>-</li>
      </ul>
      <ul>
        <li>Correction date</li>
        <li>-</li>
        <li>11 Jan 1990</li>
      </ul>
      <ul>
        <li>Gender change reason</li>
        <li>Acquired gender - GRA</li>
        <li>-</li>
      </ul>
<!--
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
        <li>PSCS</li>
        <li>PSCS</li>
      </ul>
-->
<!--
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
        <li>Newcastle DO</li>
        <li>Newcastle DO</li>
      </ul>
-->
<!--
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
        <li>78910</li>
        <li>78910</li>
      </ul>
-->
<!--
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
        <li>Not available</li>
        <li>Not available</li>
      </ul>
-->
      <ul>
        <li>Maintenance</li>
        <li>          
          <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        </li>
        <li>          
          <a data-toggle="modal" data-target="#name_modal" class="under-link">View maintenance</a> 
        </li>
      </ul>

    </div>
    
  </div>

  {% include "components/modals.html" %}