<!--<h2 class="heading-medium question">Previous names</h2>-->
  <div class="personal-details">
    
    <div class="history sex-history">
      <ul class="">
        <li>Sex</li>
        <li>Male</li>
      </ul>
      <ul>
        <li>Start date</li>
        <li>11 Jan 1990</li>
      </ul>
      <ul>
        <li>End date</li>
        <li>11 Jan 2018</li>
      </ul>
<!--
      <ul class="">
        <li>System</li>
        <li>PSCS</li>
      </ul>
      <ul class="">
        <li>Office name</li>
        <li>Glasgow South DO</li>
      </ul>
      <ul class="">
        <li>Office code</li>
        <li>12345</li>
      </ul>
      <ul>
        <li>Telephone number</li>
        <li>0191 123 456</li>
      </ul>
-->
    </div>
    
  </div>

  {% include "components/modals.html" %}