<form method="get" action="data-match-v4">

  <div class="form-group">

    <div class="multiple-choice">
      <input id="true" type="radio" name="datamatch" value=true>
      <label for="true">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="false" type="radio" name="datamatch" value=false>
      <label for="false">No</label>
    </div>

    {# <div class="multiple-choice form-break">
      <p>or</p>
    
    </div>

    <div class="multiple-choice">
      <input id="null" type="radio" name="datamatch" value=null>
      <label for="null">
        Hold the application
      </label>
    </div> #}

        
  </div> 
  
  <div class="form-group">
    <input class="button" type="submit" value="Next">
  </div>
  
</form>
