{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div id="sl-account" class="container-fluid ng-scope">
  <div class="sl-account-header row">
    
    {% if correspondence == true %}
<div id="updated-toaster" class="added">
  <sl-toastr ng-if="notifications.length > 0" sl-notifications="notifications" class="ng-scope ng-isolate-scope">
    <div class="ng-toast ng-toast--right ng-toast--top ng-toast--animate-fade">
      <ul class="ng-toast__list"><!-- ngRepeat: message in messages -->
        <li class="ng-toast__message " ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-repeat="message in messages" message="message" count="message.count" data-message-id="32"><div class="alert alert-info alert-dismissible" ng-class="{'alert-dismissible': message.dismissButton}"><!-- ngIf: message.dismissButton --><!-- end ngIf: message.dismissButton --><!-- ngIf: count --><!-- ngIf: !message.compileContent -->
          <span ng-if="!message.compileContent" ng-transclude="" class="ng-scope">
            <span ng-bind-html="message.content" class="ng-binding ng-scope">
              <span>The correspondence address has been added.</span>
<!--              <a href="#" class="sl-hyperlink underline sl-toastr-superseding ng-scope" ng-click="slAccountClick('SY829758F')" id="sl-toastr-superseding-link">View superseding record</a>-->
            </span>
          </span>
          <button type="button" class="close ng-binding ng-scope" ng-if="message.dismissButton" ng-bind-html="message.dismissButtonHtml" ng-click="!message.dismissOnClick &amp;&amp; dismiss()">×</button><!-- end ngIf: !message.compileContent -->
          </div>
        </li><!-- end ngRepeat: message in messages -->
      </ul>
    </div>
  </sl-toastr>
</div>    {% endif %}
    
    {% if updated == true %}
      {% include "components/update/toasters/address-updated.html" %}
    {% endif %}

    <!-- ngIf: !data.person.person && !data.person.person[0].personalDetails -->
    <div ng-if="!data.person.person &amp;&amp; !data.person.person[0].personalDetails" class="sl-primary-name-container-placeholder ng-scope">
      <sl-placeholder sl-placeholder-type="'primary-name-placeholder'" class="ng-isolate-scope">
        
<div id="updated-toaster" class="updated">
  <sl-toastr ng-if="notifications.length > 0" sl-notifications="notifications" class="ng-scope ng-isolate-scope">
    <div class="ng-toast ng-toast--right ng-toast--top ng-toast--animate-fade">
      <ul class="ng-toast__list"><!-- ngRepeat: message in messages -->
        <li class="ng-toast__message " ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" ng-repeat="message in messages" message="message" count="message.count" data-message-id="32"><div class="alert alert-info alert-dismissible" ng-class="{'alert-dismissible': message.dismissButton}"><!-- ngIf: message.dismissButton --><!-- end ngIf: message.dismissButton --><!-- ngIf: count --><!-- ngIf: !message.compileContent -->
          <span ng-if="!message.compileContent" ng-transclude="" class="ng-scope">
            <span ng-bind-html="message.content" class="ng-binding ng-scope">
              <span>The residential address has been updated.</span>
<!--              <a href="#" class="sl-hyperlink underline sl-toastr-superseding ng-scope" ng-click="slAccountClick('SY829758F')" id="sl-toastr-superseding-link">View superseding record</a>-->
            </span>
          </span>
          <button type="button" class="close ng-binding ng-scope" ng-if="message.dismissButton" ng-bind-html="message.dismissButtonHtml" ng-click="!message.dismissOnClick &amp;&amp; dismiss()">×</button><!-- end ngIf: !message.compileContent -->
          </div>
        </li><!-- end ngRepeat: message in messages -->
      </ul>
    </div>
  </sl-toastr>
</div>        
      <div id="sl-placeholder">
      
      <!-- ngIf: placeholderType === 'primary-name-placeholder' -->
      <div ng-if="placeholderType === 'primary-name-placeholder'" class="primary-name spacing-top-single-half ng-scope">
      
      <div>
        
      <div class="primary-animated-background primary-name-placeholder"></div>
      
      </div>

      <div class="spacing-top-single">
        <div class="secondary-animated-background secondary-name-placeholder"></div>
      </div>
    </div><!-- end ngIf: placeholderType === 'primary-name-placeholder' -->

  <!-- ngIf: placeholderType === 'header-name' -->

  <!-- ngIf: placeholderType === 'header-metadata' -->


  <!-- ngIf: placeholderType === 'account-section-placeholder' -->
      </div>
      </sl-placeholder>
    </div><!-- end ngIf: !data.person.person && !data.person.person[0].personalDetails -->

    <!-- ngIf: data.person.person && data.person.person[0].personalDetails -->
    <div class="sl-local-nav-container col-xs-12">
      <div class="sl-account-canvas-width">
        <sl-account-local-nav><div id="sl-account-local-nav">
  <ul class="sl-local-nav-menu sl-metadata">
    <li class="sl-local-nav-item Personal active"><a href="#" class="sl-local-nav-anchor sl-local-nav-anchor-first Personal" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Personal" analytics-label="Personal anchor tag" aria-label="personal details menu selection"><span class="personal-scrollspy active" du-scrollspy="" du-smooth-scroll="Personal" offset="245">Personal details</span></a></li>
    <li class="sl-local-nav-item Address"><a href="#" class="sl-local-nav-anchor Address" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Address" analytics-label="Address anchor tag" aria-label="address menu selection"><span class="address-scrollspy" du-scrollspy="" du-smooth-scroll="Address" offset="155">Address</span></a></li>
    <li class="sl-local-nav-item Contact"><a href="#" class="sl-local-nav-anchor Contact" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Contact" analytics-label="Contact anchor tag" aria-label="contact menu selection"><span class="contact-scrollspy" du-scrollspy="" du-smooth-scroll="Contact" offset="155">Contact</span></a></li>
    <li class="sl-local-nav-item Interests"><a class="sl-local-nav-anchor Interests" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Interests" analytics-label="Interests anchor tag" aria-label="interests menu selection" href="#"><span class="interests-scrollspy" du-scrollspy="" du-smooth-scroll="Interests" offset="155">Interests</span></a></li>
    <li class="sl-local-nav-item Benefits"><a href="#" class="sl-local-nav-anchor Benefits" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Benefits" analytics-label="Benefits anchor tag" aria-label="benefits menu selection"><span class="benefits-scrollspy" du-scrollspy="" du-smooth-scroll="Benefits" offset="155">Benefits</span></a></li>
    <li class="sl-local-nav-item Relationships"><a href="#" class="sl-local-nav-anchor Relationships" tabindex="0" analytics-on="" analytics-category="Local Nav Bar" analytics-event="Relationships" analytics-label="Relationships anchor tag" aria-label="relationships menu selection"><span class="relationships-scrollspy" du-scrollspy="" du-smooth-scroll="Relationships" offset="155">Relationships</span></a></li>
  </ul>
</div></sl-account-local-nav>
      </div>
    </div>

    <!-- ngIf: notifications.length > 0 -->
  </div>


 <!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">

        
<div name="Personal" id="Personal" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Personal details</h2>
  <div class="sl-primary-card sl-personal-details-card">
<div class="personal-details">
  <div class="grid-row">
    <div class="column-one-third">
      <p>Name</p>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">MR TOM SMITH</li>
        <li class="sl-secondary-text-color sl-metadata">Since 14 Dec 2016</li>
<!--        <li>Previous name</li>-->
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <p>Date of birth</p>
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">8 Feb 1960</li>
        <li>
          <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Verified to level 2</span>
        </li>
      </ul>
    </div>
  </div>

<!--
  <div class="grid-row">
    <div class="column-one-third">
      <p>Date of death</p>
    </div>
    <div class="column-one-third">
      <ul>
        <li>28 Mar 1995 (aged 54)</li>
        <li class="sl-secondary-text-color">Green tick Verified to level 3</li>
      </ul>
    </div>
  </div>
-->

  <div class="grid-row">
    <div class="column-one-third">
      National Insurance number
    </div>
    <div class="column-one-third">
      <ul>
        <li class="strong">SY119284Z</li>
          <img src="../../../public/images/green-tick-icon.svg" title="Green tick" class="ng-scope"> 
          <span class="sl-secondary-text-color sl-metadata">Verified</span>
      </ul>
    </div>
  </div>
</div>
<!--
    <div class="row ng-scope" ng-if="data.person.empty">

      <div class="col-xs-12">No personal details held for this customer.</div>
    </div> end ngIf: data.person.empty 
-->
    <!-- ngIf: data.person.person && data.person.person[0].personalDetails && !data.person.empty -->
  </div>
</div>       
<div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
  <h2>Address</h2>
  <div id="sl-address-primary-card" class="sl-primary-card">
    <div>
<div id="address-pane">
  
  <div class="grid-row">

  <div class="column-one-third">
    <ul>
      <li>Residential address</li>
      <li class="sl-secondary-text-color sl-metadata">
        {% if updated === true %}
          {{editDate}} – present
        {% else %}
          26 Oct 1990 – present
      </li>
      {% endif %}
    </ul>
    
  </div>
  
  <div class="column-one-third">
    {% if updated != true %}
    <p>
      4 Old Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England
    </p>
    {% elseif correspondence == true  %}
    <p>
      7 Post Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England
    </p>
    {% else %}
    <p>
      Rose Cottage<br>
      6 Church Street<br>
      Gateshead<br>
      Tyne and Wear<br>
      NE11 4HN<br>
      England
    </p>
    {% endif %}
  </div>
  
  <div class="column-one-third">

    <form method="get" action="update-type-handler">
      <div class="form-group">
        <select class="form-control" id="tochange" name="tochange" onchange="this.form.submit()">
          <option selected>Edit</option>
          <option value="update">Update</option>
          <option value="correct">Correct</option>
          <option value="add">Add</option>
        </select>
      </div>
    </form>
<!--
    <p><a class="secondary-button" href="change">Update</a></p>
    <p><a class="secondary-button" href="update">Correct</a></p>
-->


  
  </div>
</div> 
</div> 
  
  {% if previous_addresses === true %}
  <details>
    <summary><span class="summary">Previous addresses</span></summary>
    <div class="previous-addresses">
      <div class="grid-row">
        <div class="column-one-third">
          <ul>
            <li>Residential address</li>
            <li class="sl-secondary-text-color sl-metadata">
                26 Oct 1990 – {{editDate}}
            </li>
          </ul>
        </div>
        <div class="column-one-third">
          <p>
            4 Old Street<br>
            Gateshead<br>
            Tyne and Wear<br>
            NE11 4HN<br>
            England
          </p>
        </div>
        <div class="column-one-third">
        </div>
      </div>
    </div>
</details>  {% endif %}
  
  {% if correspondence === true %}
<hr>   
<div class="previous-addresses">
  <div class="grid-row">
    <div class="column-one-third">
      <ul>
        <li>Correspondence address</li>
        <li class="sl-secondary-text-color sl-metadata">
            {{editDate}} – present
        </li>
      </ul>
    </div>
    <div class="column-one-third">
      <p>
        7 Post Street<br>
        Gateshead<br>
        Tyne and Wear<br>
        NE1 111<br>
        England
      </p>
    </div>
    <div class="column-one-third">
      <form method="get" action="update-type-handler">
        <div class="form-group">
          <select class="form-control" id="tochange" name="tochange"><!--onchange="this.form.submit()"-->
            <option selected>Edit</option>
            <option value="update">Update</option>
            <option value="correct">Correct</option>
          </select>
        </div>
      </form>    
    </div>
  </div>
</div>  {% endif %}
    </div>
  </div>
</div>        

        <div name="Contact" id="Contact" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Contact</h2>

          <div class="sl-primary-card" id="sl-account-contact-details">
            <!-- ngIf: !data.contact && contactTimeout -->

            <!-- ngIf: !data.contact && !contactTimeout -->
            <!-- ngIf: data.contact.empty --><div class="row ng-scope" ng-if="data.contact.empty">

              <div class="col-xs-12">No contact details held for this customer.</div>
            </div><!-- end ngIf: data.contact.empty -->
            <!-- ngIf: data.contact && !data.contact.empty -->
          </div>
        </div>


        <div name="Interests" id="Interests" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Interests</h2>
          <!-- ngIf: !data.interests || data.interests.empty --><div class="sl-primary-card ng-scope" id="sl-account-interest-details" ng-if="!data.interests || data.interests.empty">
            <!-- ngIf: !data.interests && interestsTimeout -->

            <!-- ngIf: !data.interests && !interestsTimeout -->
            <!-- ngIf: data.interests.empty --><div class="row ng-scope" ng-if="data.interests.empty">

              <div class="col-xs-12">No interests held for this customer.
              </div>
            </div><!-- end ngIf: data.interests.empty -->
          </div><!-- end ngIf: !data.interests || data.interests.empty -->
          <!-- ngIf: data.interests && !data.interests.empty -->
        </div>

        <div name="Benefits" id="Benefits" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Benefits</h2>

          <!-- ngIf: !data.fullAwardHistory || data.fullAwardHistory.empty --><div class="sl-primary-card ng-scope" ng-if="!data.fullAwardHistory || data.fullAwardHistory.empty">
            <!-- ngIf: !data.fullAwardHistory && benefitsTimeout -->

            <!-- ngIf: !data.fullAwardHistory && !benefitsTimeout -->
            <!-- ngIf: data.fullAwardHistory.empty --><div class="row ng-scope" ng-if="data.fullAwardHistory.empty">

              <div class="col-xs-12">No benefits held for this customer.

              </div>
            </div><!-- end ngIf: data.fullAwardHistory.empty -->
          </div><!-- end ngIf: !data.fullAwardHistory || data.fullAwardHistory.empty -->
          <!-- ngIf: (data.fullAwardHistory.benefitsSummary.currentBenefits || data.fullAwardHistory.benefitsSummary.previousBenefits) && !data.fullAwardHistory.empty -->
        </div>

        <div name="Relationships" id="Relationships" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          <h2>Relationships</h2>
          <div ng-class="{'sl-primary-card': data.relationships.empty || !data.relationships}" class="sl-primary-card">
            <!-- ngIf: !data.relationships && relationshipsTimeout -->
            <!-- ngIf: !data.relationships && !relationshipsTimeout -->
            <!-- ngIf: data.relationships.empty --><div class="row ng-scope" ng-if="data.relationships.empty">
              <div class="col-xs-12">No relationships held for this customer.
              </div>
            </div><!-- end ngIf: data.relationships.empty -->
            <!-- ngIf: data.relationships && !data.relationships.empty -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Code template for primary and embedded cards. Ensure styling is defined as child of width elements and embedded cards are defined under a row.

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <div class="sl-primary-card">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="sl-embedded-card">
          </div>
        </div>
      </div>
    </div>
  </div>--></div>
{% endblock %}


