<div class="column-two-thirds">
  
  {# Match! #}
  {% if data.currentNinoApplication.status == 2 %}
    <div id="confirmation">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>allocated</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <a href="next-case-handler" class="under-link">Get the next application</a> 
  
  {# Data does not match #}
  {% elif data.currentNinoApplication.status == 3 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>not allocated</h1>
      <h3>The applicant has not been notified.</h3>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="bold">Next steps</h3>
        <ul class="list list-bullet" style="margin-bottom: 30px;">
          <li>You can use LMS to manage any contact with the applicant. For example requesting further details or booking an interview.</li>
          <li>If you need to create a CIS account for this applicant you will need to manually create it.</li>
        </ul>
        <ul class="">
          <li style="margin-bottom:20px;"><a target="_blank"href="./application" class="under-link">View the application details</a> (in a new window)</li>
          <li> <a class="under-link" href="./next-case-handler">Get the next application</a> </li>
        </ul>
      </div>
    </div>

  {# No right to work #}
  {% elif data.currentNinoApplication.status == 4 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>National Insurance number <br>not allocated</h1>
      <h3>The applicant has been notified.</h3>
    </div>
    <div class="nino-next">
      <a href="next-case-handler" class="under-link">Get the next application</a> 
    </div>
    
  {% elif data.currentNinoApplication.status == 5 %}
    <div id="negative-done">
      <h3>Application number {{data.currentNinoApplication.applicationNumber}}</h3>
      <h1>National Insurance number <br>not allocated</h1>
      <h3>The applicant has been notified</h3>
    </div>
    <a href="next-case-handler" class="button">Get the next application</a> 
    <br>
    <br>
    <a href="./application" class="under-link">View the application details</a> 

  {% elif data.currentNinoApplication.status == 0 %}
    <div id="negative-done">
      <h1>Application number {{data.currentNinoApplication.applicationNumber}} is <br>not complete</h1>
      <h3>You can access the application using the application number</h3>
    </div>
    <a href="next-case-handler" class="button">Get the next application</a> 
    <br>
    <br>
    <a href="./application" class="under-link">View the application details</a> 

  {% elif data.currentNinoApplication.status == 6 %}
    <div id="negative-done">
      <p>Application number {{data.currentNinoApplication.applicationNumber}}</p>
      <h1>The applicant has a National Insurance number already</h1>
      <h3>The applicant has been notified</h3>
    </div>
      <a href="next-case-handler" class="under-link">Get the next application</a> 
  {% endif %}
</div>