<!--  account-canvas wraps whole page (hence name canvas)-->
  <div class="sl-account-canvas row updater slim-header">
    <div class="col-xs-12" ng-class="{'placeholder': !data.name}">
      <div class="sl-account-canvas-width">
        
        <div name="Address" id="Address" scroll-spy-event="elementScrolledIntoView" sl-scroll-spy="">
          
          <a class="link-back" onCLick="history.back()">Back</a>
          
          {% if data['updateType'] == 'endInterest' %}
            <h2 class="title">End an interest</h2>
          {% else %}
            <h2 class="title">Add an interest</h2>
          {% endif %}
          <div id="sl-address-primary-card" class="sl-primary-card last-card">
            <div id="address-pane">
              
                {% include "./content.html" %}
              
          </div>
        </div>
      </div>
    </div>
  </div>