<h2 class="heading-medium question">Which aditional need do you need to correct?</h2>
<div class="grid-row">

    <div class="column-two-thirds">
            
      <form class="form" method="get" id="multi-box-form" action="all-needs">

        <fieldset class="form-group">

          {% for item in data.personalDetails.specialNeeds.value %}
            <div class="multiple-choice">
              <input id="{{item}}" name="personalDetailValue" type="radio" value={{item}}>
              <label for="{{item}}">{{item}}</label>
            </div>
          {% endfor %}     

        </fieldset>
        
        {% if data.updateType != 1 %}
          <p class="form-block" style="margin-top:-15px;">or</p>
          <div class="form-group">
            <div class="multiple-choice">
              <input id="unknown" name="personalDetailValue" type="radio" value=null>
                <label for="unknown">Remove their additional needs</label>
            </div>
          </div>
        {% endif %}

      <div class="form-group">
        <input class="button" type="submit" value="Next">
      </div>

    </form>
    <p><a href="">Cancel</a></p>
  </div>

  </div>